{% extends "base/base.html" %}
{% block content %}
<style>
      .nav .admin {
            color: #ffc107;
            font-weight: bolder;
            transform: scale(1.1);
      }
      .admin-a a, label 
      {
            color: rgba(217, 217, 217, 0.902) !important;
            text-decoration: none;
            font-size: 14px !important;
            font-weight: 500;
            border-radius: 0.5rem;
            transition: 0.2s;
            transform-origin: center center !important;
      }

      .admin-a a:hover
      {
           
            color: #ffc107 !important;
            font-weight: bolder !important;
            transform: scale(1.1);
      }
      .admin-a label:hover
      {
            color: #ffc107 !important;
            font-weight: bolder !important;
            transform: scale(1.1);
      }
      .btn-atras  {
            display: none;
      }
</style>



<section class=" admin-a w-100 p-4 d-flex flex-wrap align-content-start">
      <div style="max-width: 490px; height: 250px; border: 0px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3.5rem; background-color: rgb(11, 11, 11);"
      class=" w-100 d-flex flex-wrap  overflow-auto  p-4 ">
            <div>
                  <h4 class='text-white text-start p-0'>
                  
                        Usuarios 
                  </h4>
            
            </div>
            <div class="d-flex flex-wrap w-100 align-content-start overflow-hidden" style="height:8rem;" >

                  <span class='w-100'>
                        <li class="text-white" style="list-style: none;">
                              <a href="{% url "estudios:empleados" %}" style='font-size:16px !important; font-weight: bold;'>   Listado de usuarios</a>
                        </li>
                  </span>

            </div>      
      </div>
      <div style="max-width: 490px; height: 250px; border: 0px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3.5rem; background-color: rgb(11, 11, 11);"
      class=" w-100 d-flex flex-wrap  overflow-auto  p-4  d-none">
            <div>
                  <h4 class='text-white text-start p-0'>
                        Sistema  y mantenimiento
                  </h4>
            
            </div>
            <div class="d-flex flex-wrap w-100 align-content-start overflow-hidden" style="height:8rem;" >

                  <span class='w-100'>
                        <li class="text-white" style="list-style: none;">
                              <a  style='font-size:16px !important; font-weight: bold;'>   
                                    Eliminar todos los usuarios del sistema 
                              </a>
                        </li>
                        <li class="text-white" style="list-style: none;">
                              <a style='font-size:16px !important; font-weight: bold;'>   
                                    Restablecer caja administrativa
                              </a>
                        </li>
                        <li class="text-white" style="list-style: none;">
                              <a href="{% url "estudios:empleados" %}" style='font-size:16px !important; font-weight: bold;'>   
                                    Eliminar planes, servicios, clientes y mas
                              </a>
                        </li>
                  </span>

            </div>      
      </div>
      <div style="max-width: 490px; height: 250px; border: 0px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3.5rem; background-color: rgb(11, 11, 11);"
      class=" w-100 d-flex flex-wrap  overflow-auto  p-4 ">
            <div>
                  <h4 class='text-white text-start p-0'>
                        Compras y membresias 
                  </h4>
            
            </div>
            <div class="d-flex flex-wrap w-100 align-content-start overflow-hidden" style="height:8rem;" >

                  <span class='w-100'>
                        <li class="text-white" style="list-style: none;">
                              <a href="{% url "estudios:facturacion" %}" style='font-size:16px !important; font-weight: bold;'>   Facturacion </a>
                        </li>
                        <li class="text-white" style="list-style: none;">
                              <a href="{% url "estudios:list-facturacion" %}" style='font-size:16px !important; font-weight: bold;'>  Historial de pagos </a>
                        </li>
                        <!-- <li class="text-white" style="list-style: none;">
                              <a href="{% url "estudios:empleados" %}" style='font-size:16px !important; font-weight: bold;'>   Membresias, compras y mas </a>
                        </li> -->
                  </span>

            </div>      

            


      </div>


</section>


{% endblock  %}