{% extends "base/base.html" %}
{% block content %}
<style>
      .nav .admin {
            color: #ffc107;
            font-weight: bolder;
            transform: scale(1.1);
      }
      .admin-a a, label 
      {
            color: rgba(217, 217, 217, 0.902) !important;
            text-decoration: none;
            font-size: 14px !important;
            font-weight: 500;
            border-radius: 0.5rem;
            transition: 0.5s;
      }
      .admin-a a:hover
      {
            color: #ffc107 !important;
            font-weight: bolder !important;
            transform: scale(1.1);
      }
      .admin-a label:hover
      {
            color: #ffc107 !important;
            font-weight: bolder !important;
            transform: scale(1.1);
      }
</style>



<section class=" admin-a w-100 p-4 d-flex flex-wrap align-content-start">
      <div style="max-width: 410px; height: 250px; border: 8px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3rem;"
      class=" w-100 d-flex flex-wrap overflow-auto  p-3 ">
      <div>
            <h4 class='text-white text-start'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                  Administración
            </h4>
      </div>
      <div class="d-flex flex-wrap w-100 align-content-start overflow-hidden" style="height: 6rem;" >

            <span class='w-100'>
                  <a href="{% url "estudios:empleados" %}"> Empleados </a>
            </span>
      </div>      
</div>



</section>


{% endblock  %}