{% extends "base/base.html" %}
{% block content %}
<style>
      .nav .admin {
            color: #ffc107;
            font-weight: bolder;
            transform: scale(1.1);
      }
      .admin-a a, label 
      {
            color: rgba(217, 217, 217, 0.902) !important;
            text-decoration: none;
            font-size: 14px !important;
            font-weight: 500;
            border-radius: 0.5rem;
            transition: 0.5s;
      }
      .admin-a a:hover
      {
            color: #ffc107 !important;
            font-weight: bolder !important;
            transform: scale(1.1);
      }
      .admin-a label:hover
      {
            color: #ffc107 !important;
            font-weight: bolder !important;
            transform: scale(1.1);
      }
</style>



<section class=" admin-a w-100 p-4 d-flex flex-wrap align-content-start">
      <div style="max-width: 410px; height: 250px; border: 8px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3rem;"
      class=" w-100 d-flex flex-wrap overflow-auto  p-3 ">
      <div>
            <h4 class='text-white text-start'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                      </svg>
                  Administración
            </h4>
      </div>
      <div class="d-flex flex-wrap w-100 align-content-start overflow-hidden" style="height: 6rem;" >

            <span class='w-100'>
                  <a href=""> Roles de usuarios </a>
            </span>
      </div>      
</div>

<div style="max-width: 410px; height: 250px; border: 8px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3rem;"
class=" w-100 d-flex flex-wrap overflow-auto  p-3 ">
<div>
      <h4 class='text-white text-start'>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"/>
                  <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                </svg>
            Inicio de sesión
      </h4>
</div>
<div class="d-flex flex-wrap w-100 text-white align-content-start overflow-hidden" style="height: 6rem;" >
      <span class='w-100 d-flex'>
           <input type="checkbox" class="me-4" name="permite_recovery_psw_email" id="permite_recovery_psw_email" > <label for="permite_recovery_psw_email">Permitir recuperar contraseña mediante email a los empleados</label>
      </span>
      <span class='w-100 d-flex'>
            <input type="checkbox" class="me-4" name="permite_recovery_psw_email" id="permite_recovery_psw_email" > <label for="permite_recovery_psw_email">
                 Permitir inicio de sesión fuera del horario laboral
            </label>
       </span>
</div>      
</div>

<!--Empleados-->
<div style="max-width: 410px; height: 250px; border: 8px solid; background-color: rgba(22, 9, 25, 0.055); border-radius: 3rem;"
      class=" w-100 d-flex flex-wrap overflow-auto  p-3 ">
      <div>
            <h4 class='text-white text-start'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                        <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.24 2.24 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.3 6.3 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                      </svg>
                  Empleados
            </h4>
      </div>
      <div class="d-flex flex-wrap w-100 align-content-start overflow-hidden" style="height: 6rem;" >
            <span class='w-100'>
                  <a href=""> Crear empleado estandar o ejecutivo</a>
            </span>
            <span class='w-100'>
                  <a href=""> Listado de empleados </a>
            </span>
            <span class='w-100'>
                  <a href=""> Empleados activos o inactivos </a>
            </span>
            <span class='w-100'>
                  <a href=""> Historial de acciones de cada usuario</a>
            </span>
      </div>      
</div>

</section>


{% endblock  %}