{% extends "base/base.html" %}
{% block content %}
      <style>
            .select-date-choice select,  .form-select, #id_time 
            {

                  background-color: rgb(44, 44, 44) !important; 
                  border: 0;
                  color: white !important;
                  padding: 0.9rem;
                  width: 100%;
                  margin: 0.3rem;
                  border-radius: 2rem !important;
            }
             input
            {
                  background-color: rgb(44, 44, 44) !important; 
                  border: none !important;
                  color: white !important;
                  width: 100%;
                  border-radius: 2rem !important;
                  margin: 0.3rem;
                  padding: 0.9rem !important;
            }
            input::placeholder
            {
                  color: rgba(218, 218, 218, 0.865) !important;
            }


      </style>

      <section class='overflow-auto d-flex w-100 justify-content-center'>
            <form action="" method="post" class="w-100">
                  {% csrf_token %}
                  <section class="d-flex w-100 mt-4">
                        <div class="w-100" style="max-width: 400px;">
                              {% include "plan/plan-select.html" %}
                        </div>
                        <div class="w-100  position-relative" 
                              style="height: 27rem; max-width: 700px;">
                              <!--Contact -->
                              <div class="contact w-100  ">
                                    {% include "sale/components/form-basic.html" %}
                              </div>
                              <!--Date Choice-->
                              <div class="date-choice select-date-choice p-2 d-flex w-100 justify-content-between">
                                    {% include "sale/components/calendar.html" %}
                                    {{form.time}}
                              </div>
                              <!--Time Choice-->
                              <div class="d-flex">
                                    <a href="{% url "estudios:pos" %}" class="btn border-0 btn-secondary accordion  bg-transparent rounded-4  align-content-center d-flex flex-wrap  text-white-50" style="font-weight: bold;"> 
                                          <i class="fi fi-sr-left align-content-center d-flex flex-wrap me-2 "></i> Atras
                                    </a>
                                    <div class="time-choice p-2  ms-3">
                                          <button class="btn btn-primary rounded-5"
                                                style="width: 9rem;" id="">
                                                Actualizar 
                                          </button>
                                    </div>
                              </div>

                              <script>
                                          document.getElementById('id_name_client').addEventListener('input', function() {
                                          var nextButton = document.getElementById('next_button');
                                          if (this.value.length > 4) {
                                                nextButton.classList.remove('d-none');
                                          } else {
                                                nextButton.classList.add('d-none');
                                          }
                                    });
                              </script>
                        </div>
                  </section>
            </form>
      </section>  
{% endblock  %}