{% load humanize %}
<style>
      .sale-plus{
            width: 60px;
            height: 60px;
            
            border-radius: 1rem;
            background-color: rgba(104, 104, 104, 0.23);
            color: white;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

      }
      
      .sale {
            
      }
</style>
<section class="d-flex w-100 overflow-auto">

            {% for s in sales %}
                        <div style="width: 320px;" class=' text-white bg-white bg-opacity-25 m-2 rounded shadow-sm'>
                                <div class='d-flex flex-wrap w-100 p-3'>
                                          {% if s.is_cliente %}
                                                      <h5 class="text-primary">{{ s.name }}</h5>
                                          {% else %}
                                             <span class='w-100'>
                                                  <p class="mb-1">
                                                            {% if s.name_client %}
                                                                    <strong>Nombre:</strong> {{ s.name_client }}
                                                            {% endif %}
                                                  </p>
                                                  <p class="mb-1">
                                                            {% if s.phone_client %}
                                                                    <strong>Teléfono:</strong> {{ s.phone_client }}
                                                            {% endif %}
                                                  </p>
                                                  <p class="mb-1">
                                                            {% if s.email_client %}
                                                                    <strong>Email:</strong> {{ s.email_client }}
                                                            {% endif %}
                                                  </p>
                                             </span>
                                             <span>
                                                <strong class="text-white bg-dark bg-opacity-75 p-2 rounded">
                                                            {% if s.price_plan %}
                                                                  ${{s.price_plan|intcomma}}.00
                                                            {% endif %}
                                                </strong>
                                                {% if s.is_reserve %}
                                                      {{ s.mount }}
                                                {% endif %}
                                             </span>
                                          {% endif %}
                                </div>
                              <div>
                                    {% comment %} <button>
                                          Editar 
                                    </button> {% endcomment %}
                                    {% if s.payment %}
                                          <a href="{% url "estudios:estudios" s.id %}">
                                                <button id='reserve-{{ s.id }}'>
                                                      Iniciar session
                                                </button>
                                          </a>
                                          {% else %}
                                          <a href="{% url "estudios:sale-reserver" s.id %}">
                                                <button id='reserve-{{ s.id }}'>
                                                      Reservar
                                                </button>
                                          </a>
                                    {% endif %}
                              </div>
                        </div>
            {% endfor %}


</section>  