{% extends "base/base.html" %}
{% block content %}
      <style>
            #id_name_client
            {
                  background-color: rgb(50, 50, 50);
                  border: 0;
                  color: white;
                  height: 3.3rem;
                  border-radius: 2rem;
            }
            #id_name_client::placeholder {
                  color: white;
            }
      </style>
      <section class='overflow-auto d-flex justify-content-center align-content-center w-100 vh-100 flex-wrap '>
            <form action="" method="post">
                  <section class="d-flex w-100
                  ">
                        
                        <div class="w-50 justify-content-end d-flex"> 
                              {% csrf_token %}
                              {% include "plan/plan-select.html" %}
      
                        </div>
                       <div class="d-flex w-75 flex-wrap align-content-start">
                              <div class="w-100 text-white">
                                    <h6>
                                          Estas comprando en este momento
                                    </h6>
                                    <p style="width: 40rem; font-size: 12px;" class="text-white-50">
                                          En este momento estas comprando el estudio de {{plan.name}}, por favor ingresa tu nombre para continuar, no hay reserva en esta seccion, luego de hacer click en <strong>Facturar</strong> se aplicara la venta y sera reflejada en la caja con el monto total del plan.
                                    </p>
                              </div>
                              <div style="min-width: 400px; max-width: 400px; border: 0px solid rgb(47, 47, 47); border-radius: 3rem; cursor: pointer;" class=' text-white m-2 input-user shadow-sm'>
                                    {{form.name_client}}
                                    <div class='w-100 d-flex justify-content-end'>
                                          <button id="submit_button" class="d-none mt-2 btn text-white bg-primary
                                          rounded-5" style="font-weight: bold; width: 8rem;">
                                                Facturar
                                          </button>
                                    </div>
                              </div>
                       </div>
                  </section>

                  
            </form>
            <script>
                    function toggleContactFields() {
                              var preference = document.getElementById('contact_preference').value;
                              var phoneField = document.querySelector('#id_phone_client');
                              var emailField = document.querySelector('#id_email_client');
                              if (preference === 'none') {
                                      phoneField.style.display = 'none';
                                      emailField.style.display = 'none';
                              } else if (preference === 'email') {
                                      phoneField.style.display = 'none';
                                      emailField.style.display = 'block';
                              } else if (preference === 'phone') {
                                      phoneField.style.display = 'block';
                                      emailField.style.display = 'none';
                              } else if (preference === 'both') {
                                      phoneField.style.display = 'block';
                                      emailField.style.display = 'block';
                              }
                    }

                    // Initialize the fields based on the current selection
                    document.addEventListener('DOMContentLoaded', function() {
                              toggleContactFields();
                    });

                  document.getElementById('id_name_client').addEventListener('input', function() {
                        var submitButton = document.getElementById('submit_button');
                        if (this.value.length > 4) {
                              submitButton.classList.remove('d-none');
                        } else {
                              submitButton.classList.add('d-none');
                        }
                  });
                    
            </script>

      </section>

{% endblock  %}