{% extends "base/base.html" %}
{% block content %}
{% load humanize %}

      <section class='d-flex flex-wrap align-content-start h-100 w-100 '>
            <div style="min-width: 520px; max-width: 520px; border: 6px solid rgb(47, 47, 47); border-radius: 3rem; cursor: pointer; min-height: 12rem;" class=' text-white m-2 shadow-sm'>
                        
                        <div class='d-flex flex-wrap w-100 p-3'>
                              {% if sale.is_cliente %}
                                          <h5 class="text-primary">{{ sale.name }}</h5>
                              {% else %}
                                    <span class='w-100'>
                                          <p class="mb-1">
                                                {% if sale.name_client %}
                                                      <strong>Nombre:</strong> {{ sale.name_client }}
                                                {% endif %}
                                          </p>
                                          <p class="mb-1">
                                                {% if sale.phone_client %}
                                                      <strong>Teléfono:</strong> {{ sale.phone_client }}
                                                {% endif %}
                                          </p>
                                          <p class="mb-1">
                                                {% if sale.email_client %}
                                                      <strong>Email:</strong> {{ sale.email_client }}
                                                {% endif %}
                                          </p>
                                    </span>
                                    <span>
                                    <strong class="text-white bg-dark bg-opacity-75 p-2 rounded">
                                                {% if sale.price_plan %}
                                                      ${{sale.price_plan|intcomma}}.00
                                                {% endif %}
                                    </strong>
                                    </span>
                              {% endif %} 
                        </div>
                  <div>

                  <form action="" method="post">
                        {% csrf_token %}
                        <div class='d-flex'>
                              <input type="number" name="mount" max={{sale.debit_mount}} value="{{sale.debit_mount}}" class='form-control bg-white text-white border-0 p-2 bg-opacity-10 rounded-5' placeholder='Monto a aplicar' id='mount'>
                              <button id='reserve-{{ sale.id }}' class='ms-2 rounded-5 btn btn-primary' style='width: 10rem;'>
                                    Aplicar pago
                              </button>
                        </div>
                  </form>
            
                  </div>
            </div>
      </section>
      <script>
            document.addEventListener("DOMContentLoaded", function() {
                        const input = document.querySelector('#mount');
                        input.addEventListener('input', function() {
                                      const max = parseFloat(this.getAttribute('max'));
                                      if (parseFloat(this.value) > max) {
                                                  this.value = max;
                                      }
                                      if (isNaN(this.value) || this.value < 0) {
                                                  this.value = '';
                                      }
                        });
                        input.addEventListener('keypress', function(e) {
                                      if (e.key < '0' || e.key > '9') {
                                                  e.preventDefault();
                                      }
                        });
            });
      </script>
{% endblock  %}