{% load humanize %}
<style>
      .sale-plus{
            width: 60px;
            height: 60px;
            
            border-radius: 1rem;
            background-color: rgba(104, 104, 104, 0.23);
            color: white;

            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

      }
      
      .sale {
            
      }
</style>
<section class="d-flex flex-wrap w-100 overflow-auto ">
            {% for s in sales %}
                        <div style="width: 500px; border: 6px solid rgb(47, 47, 47); border-radius: 3rem;" class=' text-white m-2 shadow-sm'>
                                <div class='d-flex flex-wrap w-100  ' >
                                          <div>
                                                {% if s.img %}
                                                      <img src="{{s.img.url}}" 
                                                      style='width: 50px; height: 50px; ' class='rounded-circle' alt="">
                                                {% endif %}
                                              <span>
                                                    <strong style='font-size: 17px; text-transform: uppercase; '>
                                                            {{s.name_plan}}
                                                    </strong>
                                              </span>
                                          </div>
                                          <span class='w-100 mt-2 ps-3'>
                                               <p class="mb-0">
                                          {% if s.is_cliente %}
                                                      <h5 class="text-primary">{{ s.name }}</h5>
                                          {% else %}
                                                            {% if s.name_client %}
                                                                    <strong>Nombre:</strong> {{ s.name_client }}
                                                            {% endif %}
                                                  </p>
                                                  <p class="mb-0">
                                                        <strong>Teléfono:</strong> 
                                                            {% if s.phone_client %}
                                                                    {{ s.phone_client }}
                                                            {% endif %}
                                                  </p>
                                                  <p class="mb-1">
                                                        <strong>Correo:</strong> 
                                                            {% if s.email_client %}
                                                                    {{ s.email_client }}
                                                            {% endif %}
                                                  </p>
                                             </span>
                                             <span class="ps-3">
                                                <strong class="text-white bg-dark bg-opacity-75 p-2 rounded">
                                                            {% if s.price_plan %}
                                                                  ${{s.price_plan|intcomma}}.00
                                                            {% endif %}
                                                </strong>
                                                {% comment %} {% if s.is_reserve %}
                                                      {{ s.mount }}
                                                {% endif %} {% endcomment %}
                                             </span>
                                          {% endif %}
                                </div>
                              <div>
                                    {% comment %} <button>
                                          Editar 
                                    </button> {% endcomment %}
                                    {% if s.payment %}
                                          <div class='d-flex justify-content-end'>
                                                <a href="{% url "estudios:estudios" s.id %}">
                                                      <button id='reserve-{{ s.id }}'  class="bg-warning rounded-start-4 border-0 rounded-end-5 p-2 " style="font-weight: bold;">
                                                            Ir a estudios
                                                      </button>
                                                </a>
                                          </div>
                                    {% else %}
                                          <div class='d-flex justify-content-end'>
                                                <a href="{% url "estudios:sale-reserver" s.id %}">
                                                      <button id='reserve-{{ s.id }}' class="bg-white bg-opacity-10 text-white border-0 rounded-5 p-2 pe-3 ps-3" style="font-weight: bold;">
                                                            Reservar
                                                      </button>
                                                </a>
                                          </div>
                                    {% endif %}
                              </div>
                        </div>
            {% endfor %}


</section>  