{% load humanize %}
<style>
      .sale-plus{
            display: flex;
            width: 60px;
            height: 60px;
            color: white;
            flex-wrap: wrap;
            align-items: center;
            border-radius: 1rem;
            justify-content: center;
            background-color: rgba(104, 104, 104, 0.23);
      }
      .sale-plus a {
            color: rgba(255, 255, 255, 0.75) !important;
            text-decoration: none;

      }
      @media (min-width: 600px) {
            .container-sale {
                  min-width: 510px; max-width: 510px;
            }
      }
</style>
            <div style="
                  border: 4px solid rgb(47, 47, 47);color: #ffffffcf ;
                  height: max-content; max-width: 410px;
                  {% if not s.is_reserve %}
                        background-color: #101010 !important;
                  {% endif %}
                  border-radius: 3rem; cursor: pointer; " class='  m-2 w-100 p-2 container-sale ms-0 shadow-sm    position-relative bg-white bg-opacity-10'>
                  {% include 'sale/components/note.html' %}
                  {% if s.is_reserve == False %} 
                  <a href="{% url "estudios:sale-delete" s.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill position-absolute top-0 end-0 " viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z"/>
                        </svg>
                  </a>
                  {% endif %}
                  <div class="d-flex justify-content-end position-absolute flex-wrap align-content-center    bottom-0 end-0 "
                        style='margin-right: 8rem; margin-bottom: 1.2rem;'>
                        {% if s.date_choice == today %}
                                    {% if s.time == time_now %}z
                                          <span class="rounded-circle" style="width: 10px; height: 10px; background-color: #ffc107;"></span>  
                                    {% endif %}
                                    {% if s.time > time_now %}
                                          <span class="rounded-circle" style="width: 10px; height: 10px; background-color:rgb(255, 255, 255);"></span>  
                              {% endif %}
                              {% if s.time < time_now %}
                                    <span class="rounded-circle" style="width: 10px; height: 10px; background-color:rgb(109, 255, 236);"></span>
                                    {% endif %}
                        {% endif %}
                        {% if s.date_choice < today %}
                              <span class="rounded-circle" style="width: 10px; height: 10px; background-color: rgb(255, 0, 0);"></span>
                              <span class="rounded-circle ms-1" style="width: 10px; height: 10px; background-color:rgb(255, 170, 0);"></span>
                        {% endif %}
                  </div>
                        <div class='d-flex flex-wrap w-100  ' >

                                       <a {% if s.pk_plan %} href="{% url "estudios:sale-update" s.id %}"  {% endif %}  class="position-relative">

                              <div>
                                    {% if s.img %}
                                          <img src="{{s.img.url}}" 
                                          style='width: 50px; height: 50px;' class='rounded-circle object-fit-cover mt-1 ms-2 me-3'>
                                    {% else %}
                                          <i class="bi bi-file-earmark-image-fill mt-3 ms-3" 
                                          style="font-size: 30px;"></i>
                                    {% endif %}
                                    <span>
                                          <strong style='font-size: 18px; text-transform: uppercase; '>
                                                {{s.name_plan}}
                                          </strong>
                                    </span>
                              </div>
                              {% if not s.is_reserve %}
                                    </a>
                              {% endif %}
                              <span class='w-100 mt-2 ps-3'>
                                    <p class="mb-0">
                                          <strong class="text-capitalize" style="font-weight: bold;">
                                          {% if s.is_cliente %}
                                                {{ s.name }} 
                                          {% else %}
                                          {% if s.name_client %}
                                                      {{ s.name_client|slice:":20" }}
                                          {% endif %}
                                          </strong>
                                          </p>
                                          <p class="mb-0 ">
                                                <strong>
                                          
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill me-1 " viewBox="0 0 16 16">
                                                      <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z"/>
                                                      </svg>

                                                </strong> 
                                          {% if s.phone_client %}
                                                      {{ s.phone_client }} 
                                          {% else %}
                                                     (000) 000-0000~
                                          {% endif %}
                                          </p>
                                          <p class="mb-1">
                                                <strong>
                                               
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill me-1" viewBox="0 0 16 16">
                                                      <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                                                      <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                                                      </svg>
                                                </strong> 
                                          {% if s.email_client %}
                                                      {{ s.email_client|slice:":49" }}
                                          {% else %}
                                                @gmail.com
                                          {% endif %}
                                          </p>
                                          <p class="mb-1">
                                          <strong>
                                                <svg onclick="Calendar(this.id)" id="{{s.id}}" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event-fill me-1" viewBox="0 0 16 16">
                                                      <path d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2m-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5"/>
                                                </svg>
                                          </strong> 
                                          {% if s.date_choice %}
                                                {{ s.date_choice|date:"d/m/Y" }} -  {{ s.time }}
                                                {% else %}
                                                .../.../.../
                                          {% endif %}
                                    </p>
                                    <div class='calendary{{s.id}} d-none position-absolute top-0 start-0 blur-20 bg-black bg-opacity-25 rounded-5   d-flex justify-content-center align-content-center flex-wrap '
                                          style="width: 10rem; height: 10rem;">
                                          {% if s.date_choice %}
                                                <strong class="mb-3 text-white-50">
                                                      {{ s.date_choice|date:"F" }} 
                                                </strong>
                                                <span class="text-white text-center p-2 ps-0 w-100" style="font-size: 90px; line-height:40px;">
                                                      {{ s.date_choice|date:"d" }} 
                                                </span>
                                          {% endif %}
                                    </div>
                                    </span>
                                    <span class="ps-3 pt-1">
                                          <strong class="text-white bg-dark bg-opacity-75 p-2 ps-0 rounded" >
                                                      {% if s.price_plan %}
                                                            RD${{s.price_plan|intcomma}}.00
                                                      {% endif %}
                                          </strong>
                                          {% if s.is_reserve %}
                                                {% if s.debit_mount  != 0 %}
                                                      RD${{ s.debit_mount|intcomma }}.00
                                                {% endif %}
                                           {% endif %} 
                                    </span>
                              {% endif %}
                        </div>

                        <div class='d-flex justify-content-end pe-2 mt-4'>
                              {% if s.payment %}
                                    <a href="{% url "estudios:estudios" s.id %}">
                                          <button id='reserve-{{ s.id }}'  class="bg-warning rounded-start-5 border-0 rounded-end-5 p-2 ps-3 pe-3  text-black " style="font-weight: bold; font-size: 14px;">
                                                Estudio
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-right-circle-fill p-0 m-0" viewBox="0 0 16 16">
                                                <path d="M0 8a8 8 0 1 0 16 0A8 8 0 0 0 0 8m5.904 2.803a.5.5 0 1 1-.707-.707L9.293 6H6.525a.5.5 0 1 1 0-1H10.5a.5.5 0 0 1 .5.5v3.975a.5.5 0 0 1-1 0V6.707z"/>
                                                </svg> 
                                          </button>
                                    </a>
                              {% else %}
                                    <a href="{% url "estudios:sale-reserver" s.id %}">
                                          <button id='reserve-{{ s.id }}' class="bg-white bg-opacity-10 text-white border-0 rounded-5 p-2 pe-3 ps-3" style="font-weight: bold; font-size: 14px;">
                                                {% if s.is_reserve == True %} 
                                                      Completar {% else %}  Reservar
                                                {% endif %}
                                          </button>
                                    </a>
                              {% endif %}
                        </div>
            </div>


      <script>
            function Calendar(ID) {
                   document.querySelector('.calendary'+ID).classList.toggle('d-none');
            }
      </script>
