{% extends "base/base.html" %}
{% block content %}
 
      <style>
            .nav .services {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
      </style>

      <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <form method="post">
                  {% csrf_token %}
                  {% csrf_token %}
                  <div>
                        <div class="card-img-top " style="
                        background-position: center;
                              {% if object.img %}
                                    background-image: url('{{object.img.url}}');
                              {% endif %}
                              background-size: cover; background-repeat: no-repeat; 
                              filter: brightness(80%);
                        
                              max-width: 30rem;
                              height: 220px; border-radius: 3rem;">
                        </div>
                  </div>
                  <h5 class='text-white'>¿Estás seguro de que deseas eliminar {{object.name_plan}} de {{object.name_client}}?</h5>
                  <div class="mt-2">
     
                  </div>
              
                  <div class="d-flex justify-content-end">
                        <a href="{% url "estudios:pos" %}" class="btn border-0 btn-secondary accordion bg-transparent" style="font-weight: bold;"> Cancelar</a>
                        <button type="submit" class="btn btn-danger p-0 pe-3 ps-3 border-0 rounded-5 ms-1"
                        style="font-size: 14px; font-weight: bold;">
                          Si, estoy seguro
                        </button>
                  </div>
            </form>      
      </div>


{% endblock %}