{% extends "base/base.html" %}
{% block content %}     
      {% load humanize %}
      <style>
                  i {
            font-size: 14px;
            margin-right: 0.3rem;
      }
                  .estado-monto {
            background-color: #191919;
            padding: 0.5rem 0.9rem;
            margin: 0.1rem 0.1rem;
            border-radius: 0.8rem;
            width: 100%;
            text-align: center;
      }
      </style>

      <div class="d-flex justify-content-center align-items-center w-100 h-100">
            <div  data-aos="fade-right"  style="background-color: #202020;  border-radius: 2.5rem;
                   {% if not object.is_reserve %}
                        background-color: #101010 !important;
                  {% endif %}
            border: 2px solid rgba(63, 63, 63, 0.553); transition: 0.4s ease-out;"
            class="p-3 position-relative">
            {% include 'sale/components/note.html' %}
        
            <form method="post" style="max-width: 490px;" class="text-white" >
                  {% csrf_token %}
                  <div class="d-flex mb-3">
                        <div class="d-flex flex-wrap align-content-center ">
                              {% if object.img %}
                              <img src="{{object.img.url}}" 
                                    style='width: 70px; height: 70px;' class='rounded-circle object-fit-cover mt-1 ms-2 me-3'>
                              {% else %}
                                    <i class="bi bi-file-earmark-image-fill mt-3 ms-3" 
                                    style="font-size: 30px;"></i>
                              {% endif %}
                        </div>
                        <div class="d-flex flex-wrap align-content-center">
                              <strong style='font-size: 16px; text-transform: uppercase; '>
                                    {{object.name_plan}}
                              </strong>
                              <span class="w-100" style="font-size: 14px;">
                                    RD${{ object.price_plan|intcomma }}.00
                              </span>
                        </div>
                  </div>
                  <span class='w-100 mt-4 ps-3 datos-cliente' >
                        <p class="mb-0">
                        <strong class="text-capitalize " style="font-weight: bold; font-size: 20px;">
                              {% if object.is_cliente %}
                                    {{ object.name }} 
                              {% else %}
                              {% if object.name_client %}
                                    {{ object.name_client|slice:":20" }}
                              {% endif %}
                              {% endif %}
                              </strong>
                        </p>
                        <p class="mb-0 ">
                              <strong>
                                    <i class="fi fi-sc-phone-flip"></i>
                              </strong> 
                              {% if object.phone_client %}
                                    {{ object.phone_client }} 
                              {% else %}
                                    (000) 000-0000 
                              {% endif %}
                        </p>
                        <p class="mb-1">
                              <strong>
                                    <i class="fi fi-sr-envelope"></i>
                              </strong> 
                              {% if object.email_client %}
                                    {{ object.email_client|slice:":49" }}
                              {% else %}
                                    @gmail.com
                              {% endif %}
                        </p>
                        <p class="mb-1">
                              <strong>
                                    <i class="fi fi-sr-daily-calendar"></i>
                              </strong> 
                              {% if object.date_choice %}
                                          {{ object.date_choice|date:"d/m/Y" }} -  {{ object.time }}
                                    {% else %}
                                          .../.../.../
                              {% endif %}
                        </p>
            </span>
            <div>
                  <span class=" w-100 d-flex  align-content-center text-white-50">
                        <span class="estado-monto"><strong 
                        style="font-size: 16px;">Debe:  </strong> ${{ object.debit_mount|intcomma }}.00</span>
                        <span class="estado-monto"><strong 
                        style="font-size: 16px;">Abonó:  </strong>${{ object.mount|intcomma }}.00</span>
                  </span>
            </div>
            <hr class="text-white-50">
            <h5 style="font-size: 16px;" class='text-white m-0 ms-1 mb-2'>
                  ¿Deseas eliminar esta reserva ?</h5>
                  <h6 style="font-size: 14px; background-color: #191919;" 
                  class="text-white-50 p-3 rounded-4" >
                  
                  <i class="fi fi-sr-info me-2 ms-2" style="font-size: 18px;"></i>
                  Esta acción es irreversible, una vez eliminada no podrás recuperarla, los movimientos de pagos realizados previeamente en caja no sera afectados, pero no podrás ver la reserva mas en el pos o en el historial de reservas
            </h6>
                  <div class="mt-2">
                  </div>
              
                  <div class="d-flex justify-content-end">
                        <a href="{% url "estudios:pos" %}" class="btn border-0 btn-secondary accordion bg-transparent rounded-4  align-content-center d-flex flex-wrap  text-white-50" style="font-weight: bold;"> 
                              <i class="fi fi-sr-left align-content-center d-flex flex-wrap me-2 "></i> Atras
                        </a>
                        <button type="submit" class="btn  p-0 pe-3 ps-3 border-0 rounded-5 text-white ms-1"
                        style="font-size: 14px; font-weight: bold;
                         background-color: rgba(67, 67, 67, 0.732);">
                          Si, estoy seguro
                        </button>
                  </div>
            </form>      
      </div>
      </div>


{% endblock %}