<style>
               .section-escritorio-nav .pos  {
                  color: #ffc107 !important;
            }
            .section-escritorio-nav .pos span {
                  color: #ffc107;
            }
            .select-date-choice select,  .form-select,  #id_time 
            {
                  background-color: #191919 !important; 
                  border: 0;
                  color: white !important;
                  padding: 0.9rem;
                  width: 100%;
                  margin: 0.3rem;
                  border-radius: 2rem !important;
            }
            input, #id_descrition
            {
                  outline: none !important;
                  background-color: #191919 !important; 
                  border: none !important;
                  color: rgba(255, 255, 255, 0.775) !important;
                  width: 100%;
                  border-radius: 2rem !important;
                  margin: 0.3rem;
                  padding: 0.9rem !important;
            }
            input::placeholder
            {
                  color: rgba(218, 218, 218, 0.865) !important;
            }
</style>
<div class="inputs-form">
      <div class="d-flex w-100 flex-wrap">
            <div class="text-white ms-2">
                  <h6 class="m-0">
                        <i class="fi fi-sr-daily-calendar"></i>  Agendar Cita
                  </h6>
                 <p class='text-white-50 p-0 m-0' style="font-size: 12px;">
                       Por favor, completa todos los campos para agendar tu cita, te contactaremos para confirmar la fecha y hora.
                 </p>
            </div>
            <div class="d-flex w-100 ">
                  {{form.name_client}}
            </div>
           <div class="d-flex w-100">
                  {{form.phone_client}}
                  {{form.email_client}}
           </div>
           <select id="contact_preference" style="width: 12rem; font-size: 14px;" 
                 class=" form-select text-center m-2 ms-2 bg-transparent text-white border-0" name="contact_preference" onchange="toggleContactFields()">
                 <option value="both"> Telefono y correo</option>
                 <option value="phone">Contacto: numero</option>
                 <option value="email">Contacto: correo</option>
           </select>
</div>

</div>

<script>
      document.addEventListener('DOMContentLoaded', function() {
            // document.getElementById('id_name_client').focus();
      });
      function toggleContactFields() {
            const contactPreference = document.getElementById('contact_preference').value;
            const phoneField = document.querySelector('[name="phone_client"]');
            const emailField = document.querySelector('[name="email_client"]');
            if (contactPreference === 'phone') {
                    phoneField.classList.remove('d-none');
                    emailField.classList.add('d-none');
            } else if (contactPreference === 'email') {
                    phoneField.classList.add('d-none');
                    emailField.classList.remove('d-none');
            } else {
                    phoneField.classList.remove('d-none');
                    emailField.classList.remove('d-none');
            }
      }
</script>
<script>
      document.addEventListener('DOMContentLoaded', function () {
        const emailInput = document.getElementById('id_email_client');
      
        emailInput.addEventListener('input', function () {
          this.value = this.value
            .replace(/[^\w@.\-]/g, '')  // elimina caracteres especiales no permitidos
            .replace(/\s+/g, '')        // elimina espacios
            .toLowerCase();             // convierte a minúsculas
        });
      });
      </script>
