<div class=" position-absolute  p-3 note   overflow-y-scroll d-flex flex-wrap top-0 end-0 me-3 " 
style="height: 7.6rem; width: 15rem; margin-top: 6.3rem; background-color: #7272722a;
      border: 1px rgba(128, 128, 128, 0.329) solid;
      border-radius: 1.5rem;">
            <h6 class="m-0 p-0 text-white-50" style="font-size: 14px;" >
                  <i class="fi fi-sr-edit"></i>
                  <!-- Nota -->
                  <!-- <p style="font-size: 12px;" class="text-white-50 w-100 p-0 m-0"> -->
                        {% if s.descrition %}
                              {{ s.descrition|slice:":50" }}
                              {% if object %}
                                    {{object.descrition|slice:":50" }}
                              {% endif %}
                              {% else %}
                              ..?
                        {% endif %}
                  <!-- </p> -->
            </h6>
</div>
