<div class="d-flex flex-wrap w-100 align-content-start justify-content-center ">
      {% if services %}
            {% for s in  services %}
                  <a data-aos="zoom-in"  href="{% url "estudios:service-client-service" s.id %}"      class="m-1 text-decoration-none text-white"
                  style="transition: 0.{{forloop.counter}}s;" >
                        <div style='width: 100% !important;'>
                              <div class="mb-2 " style=" border-radius: 2.5rem;
                                    border-bottom-left-radius: 8px !important;
                                    opacity: 0.9;
                                    border: 1px solid #282828e9;
                                    background-size: cover; background-repeat: no-repeat;
                                    background-position: center;
                                    width: 185px;  height: 365px; 
                                    {% if s.img %}
                                          background-image: url('{{s.img.url}}');
                                    {% endif %}
                                    ">
                              </div>
                              <div class="d-flex justify-content-start">
                                    <span class=" text-center rounded-5 text-white  p-2 " 
                                    style="min-width: 10rem; background-color: #16161600;">
                                          <strong style="font-size: 14px; font-weight: bold; ">
                                                {{ s.name|truncatechars:20 }}
                                          </strong>
                                    </span>
                              </div>
                        </div>
                  </a>
            {% endfor %}
      {% endif %}
</div>