{% extends "base/base.html" %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
      <style>
            .nav .contactos {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras 
            {
                  display: none;
            }
            ul li {
                  list-style: circle;
            }
      </style>

      <section class="d-flex flex-wrap align-content-start w-100 pt-5 justify-content-center text-white">
            <div data-aos="zoom-in" style="transition-delay: 0.3s; max-height: 2rem;"  class='position-absolute top-0 end-0' >
                  <a href="{% url "estudios:contacto-create" %}">
                        <button class="bg-white bg-opacity-10 d-flex justify-content-center flex-wrap align-content-center rounded-5  text-white border-0 rounded-3 p-2 me-4" style='font-weight: bold;'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="m-0 bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                  </svg> 
                        </button>
                  </a>
            </div>  
            <div class='d-flex flex-wrap justify-content-center w-100 '>
                  {% if contacts %}
                        {% for contact in contacts  %}
                              {% include "contactos/contactos-list.html" %}
                        {% endfor %}
                        {% else %}
                        <section class="text-white d-flex justify-content-center flex-wrap align-content-start vh-100  w-100">
                              <div class="d-flex justify-content-center flex-wrap align-content-center w-100 "> 
                                    <h5 class="text-white text-start-0   w-100" style="font-weight: bold; font-style: italic;">
                                          No hay contactos 
                                    </h5>
                                    <p class="text-white-50 text-start-0 w-100" 
                                    style=" font-style: italic;"> 
                                          Crea un contacto (cliente) y proce asociale ventas 
                                    </p>
                                    <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                                          {% include "service/components/no-found.html" %}
                                    </div>
                              </div>
                        </section>
                  {% endif %}
            </div>
      </section>


{% endblock  %}