{% extends "base/base.html" %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
      <style>
            .nav .contactos {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras 
            {
                  display: none;
            }
            ul li {
                  list-style: circle;
            }
      </style>

      <section class="d-flex flex-wrap align-content-start w-100 pt-5 justify-content-center text-white">
            <div class='d-flex flex-wrap w-100'>
                  {% if contacts %}
                        {% for contact in contacts  %}
                              {% include "contactos/contactos-list.html" %}
                        {% endfor %}
                        {% else %}
                        <section class="text-white d-flex justify-content-center flex-wrap align-content-start vh-100  w-100">
                              <div class="d-flex justify-content-center flex-wrap align-content-center w-100 "> 
                                    <h5 class="text-white text-start-0   w-100" style="font-weight: bold; font-style: italic;">
                                          No hay contactos 
                                    </h5>
                                 
                                    <p class="text-white-50 text-start-0 w-100" 
                                    style=" font-style: italic;"> 
                                          Crea un contacto (cliente) y proce asociale ventas 
                                    </p>
                                    <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                                          {% include "service/components/no-found.html" %}
                                    </div>
                              </div>
                        </section>
                        
                  {% endif %}
            </div>
      </section>


{% endblock  %}