{% extends "base/base.html" %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
      <style>
            .nav .mhia {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras 
            {
                  display: none;
            }
            ul li {
                  list-style: circle;
            }
      </style>

      <section class="d-flex flex-wrap align-content-start pt-5 justify-content-center text-white">
            <div class="d-flex flex-wrap w-100 align-content-center justify-content-center">
                  <h2 data-aos="zoom-in"  class="text-white text-start w-100 ms-5 m-2 me-5 mt-0" style=" transition-delay: 0.1s; font-size: 94px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
                              <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                            </svg> Click-IA 
                  </h2>
                  <p data-aos="zoom-in"  style="transition-delay: 0.2s; width: 80rem;" class="mt-4 text-white ms-4">
                        Es una herramienta no...  Es un <span style=" font-weight: bold; color: #ffc107;">asistente</span> de inteligencia artificial capaz de llevar el control <span style="color: #ffc107; font-weight: bold;">total </span>de tu empresa, aprende tus hábitos y se adapta a tus necesidades, es mas que un tal GPT o GEMINI, es un asistente con capicidades operativas, es decir, puede realizar tareas de forma autónoma, como si fuera un empleado más <br>
                        <span>
                              <strong style="color: #ffc107; font-size: 10px;"> 
                                    Se prevé que este módulo esté disponible el 4 de marzo de 2025
                              </strong> 
                        </span>
                  </p>

                  <ul class="mt-0 text-white-50 mt-1" style="width: 80rem;">
                          <strong   data-aos="zoom-in" style="transition-delay: 1s;" class="w-100 text-start mt-5 ">
                              Listado de caracteristicas
                          </strong>
                              <li data-aos="zoom-in" style="transition-delay: 0.1s;">Analizar datos de estudios en tiempo real</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.2s;">Generar informes detallados</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.3s;">Proporcionar recomendaciones personalizadas</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.4s;">Automatizar tareas repetitivas</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.5s;">Mejorar la precisión de los resultados</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.6s;"> Asistencias a los usuarios, dialogar, ofrecer servicios, etc </li>
                              <li data-aos="zoom-in" style="transition-delay: 0.7s;">Crear, editar, eliminar servicios y planes</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.8s;">Notificar, redactar, enviar mensajes y mas</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.9s;">Administrar contabilidad de la caja</li>
                              <li data-aos="zoom-in" style="transition-delay: 1s;">Recordarios de citas, reuniones, fiestas y mas</li>

                    </ul>
                    <!-- <span data-aos="fade-in"  style=" transition-delay: 8s; font-size: 12px; font-weight: bold; color: #ffc107;" class="mt-5 w-100 text-start">
                        Actualmente MHIA se encuentra en fase de desarrollo y se espera que esté disponible <br> para los usuarios de ClickEstudios en el primer trimestre del 2025.
                    </span> -->
            </div>
      </section>


{% endblock  %}