{% extends "base/base.html" %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
      <style>
            .nav .mhia {
                  color: #ffc107;
                  font-weight: bolder;

            }
            .nav .mhia svg {
                  color: #ffc107 !important;
            }
            .nav .mhia span {
                  color: #ffc107;
            }
            .btn-atras 
            {
                  display: none;
            }
            ul li {
                  list-style: circle;
            }
      </style>

      <section class="d-flex flex-wrap align-content-start pt-5 justify-content-center text-white">
            <div class="d-flex flex-wrap w-100 align-content-center justify-content-center">
                  <h2 data-aos="zoom-in"  class="text-white text-start w-100 ms-5 m-2 me-5 mt-0" style=" transition-delay: 0.1s; font-size: 94px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-star-half mb-4" viewBox="0 0 16 16">
                              <path d="M5.354 5.119 7.538.792A.52.52 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.54.54 0 0 1 16 6.32a.55.55 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.5.5 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.6.6 0 0 1 .085-.302.51.51 0 0 1 .37-.245zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.56.56 0 0 1 .162-.505l2.907-2.77-4.052-.576a.53.53 0 0 1-.393-.288L8.001 2.223 8 2.226z"/>
                            </svg> Click asistente (IA) 
                  </h2>
                  <p data-aos="zoom-in"  style="transition-delay: 0.2s; width: 80rem;" class="mt-4 text-white ms-4">
                        ¿Es una herramienta? No...  Es un <span style=" font-weight: bold; color: #ffc107;">asistente</span> de inteligencia artificial capaz de llevar el control <span style="color: #ffc107; font-weight: bold;">total </span>de tu empresa, aprende tus hábitos y se adapta a tus necesidades, es mas que un tal GPT o GEMINI, es un asistente con capicidades operativas, es decir, puede realizar tareas de forma autónoma, como si fuera un empleado más <br>
                        <span>
                              <strong style="color: #ffc107; font-size: 10px;"> 
                                    Se prevé que este módulo esté disponible en breve
                              </strong> 
                        </span>
                  </p>

                  <ul class="mt-0 text-white-50 mt-1" style="width: 80rem;">
                          <strong   data-aos="zoom-in" style="transition-delay: 1s;" class="w-100 text-start mt-5 ">
                              Listado de caracteristicas
                          </strong>
                              <li data-aos="zoom-in" style="transition-delay: 0.1s;">Analizar datos de estudios en tiempo real</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.2s;">Generar informes detallados</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.3s;">Proporcionar recomendaciones personalizadas</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.4s;">Automatizar tareas repetitivas</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.5s;">Mejorar la precisión de los resultados</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.6s;"> Asistencias a los usuarios, dialogar, ofrecer servicios, etc </li>
                              <li data-aos="zoom-in" style="transition-delay: 0.7s;">Crear, editar, eliminar servicios y planes</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.8s;">Notificar, redactar, enviar mensajes y mas</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.9s;">Administrar contabilidad de la caja</li>
                              <li data-aos="zoom-in" style="transition-delay: 1s;">Recordarios de citas, reuniones, fiestas y mas</li>

                    </ul>
                    <!-- <span data-aos="fade-in"  style=" transition-delay: 8s; font-size: 12px; font-weight: bold; color: #ffc107;" class="mt-5 w-100 text-start">
                        Actualmente MHIA se encuentra en fase de desarrollo y se espera que esté disponible <br> para los usuarios de ClickEstudios en el primer trimestre del 2025.
                    </span> -->
            </div>
      </section>


{% endblock  %}