{% extends "base/base.html" %}
{% block content %}
  

      <style>
            .btn-dashboard svg {
                  color: #ffc107 !important;
                  border-radius: 0 !important;
                  background-color: transparent !important;
            }
            .section-escritorio-nav .dashboard   {
                  color: #ffc107 !important;
            }
             .dashboard   {
                  color: #ffc107 !important;
            }
            
            .section-escritorio-nav .dashboard span {
                  color: #ffc107;
            }

            .btn-atras 
            {
                  display: none;
            }
            .filter-grafico {
                  margin-right: 0.9rem;
            }

            @media (max-width: 600px) { 
                  .img-dasboard {
                        display: block !important;
                  }
                  .cartas {
                        
                  }
                  .graficos {
                        position: static !important;
                  }
            }
      </style>
           
       
      <div data-aos="fade-in"
      style="transition: 1s; height: 100dvh; grid-template-rows: 2fr 1fr;"
            class=" cartas d-grid m-2 mt-3  w-100  " >
            <div>
                  {% include "dashboard/cp/card.html" %}
            </div>
            <div class=" w-100 d-flex  flex-wrap position-sticky bottom-0 mb-5  align-content-end justify-content-end pe-4   top-0 z-2">
                  <button id="installBtn"
                        class=" w-100 ms-1 btn btn-primary border-0  text-white p-2 ps-1 pe-1 rounded-5 "  
                        style="background-color: #191919; max-width: 11rem;
                              color: #ffffffb9 !important;"> Instalar app</button>
                  <button onclick="AlternarGrafic()"
                        class=" w-100 btn-alternar btn btn-primary border-0  ms-1 text-white p-2 ps-1 pe-1 rounded-5 "  
                        style="background-color: #191919; max-width: 11rem;
                        color: #ffffffb9 !important;">
                        Graficos por ondas
                  </button>
            </div>

            <div class=" graficos w-100 h-50 position-fixed bottom-0   d-flex flex-wrap align-content-end "
             style="max-height: 33vh;">
                  <div class="grafico-bar-container w-100 h-100 " >
                        {% include "dashboard/cp/grafic-bar.html" %}
                  </div>
                  <div class="grafico-wave-container w-100 h-100 ">
                        {% include "dashboard/cp/grafic-wave.html" %}
                  </div>      
            </div>
            <script>
                  function AlternarGrafic() {
                                const graficoBarContainer = document.querySelector('.grafico-bar-container');
                                const graficoWaveContainer = document.querySelector('.grafico-wave-container');
                                const btnAlternar = document.querySelector('.btn-alternar');

                                if (graficoBarContainer.classList.contains('d-none')) {
                                            graficoBarContainer.classList.remove('d-none');
                                            graficoWaveContainer.classList.add('d-none');
                                            btnAlternar.textContent = 'Gráficos por barras';
                                            localStorage.setItem('graficoEstado', 'bar');
                                } else {
                                            graficoBarContainer.classList.add('d-none');
                                            graficoWaveContainer.classList.remove('d-none');
                                            btnAlternar.textContent = 'Gráficos por ondas';
                                            localStorage.setItem('graficoEstado', 'wave');
                                }
                                actualizarTextoBoton();
                  }

                  document.addEventListener('DOMContentLoaded', () => {
                                const graficoBarContainer = document.querySelector('.grafico-bar-container');
                                const graficoWaveContainer = document.querySelector('.grafico-wave-container');
                                const btnAlternar = document.querySelector('.btn-alternar');
                                const estadoGuardado = localStorage.getItem('graficoEstado');

                                if (estadoGuardado === 'bar') {
                                            graficoBarContainer.classList.remove('d-none');
                                            graficoWaveContainer.classList.add('d-none');
                                            btnAlternar.textContent = 'Gráficos por ondas';
                                } else {
                                            graficoBarContainer.classList.add('d-none');
                                            graficoWaveContainer.classList.remove('d-none');
                                            btnAlternar.textContent = 'Gráficos por barras';
                                }

                  });

                    function actualizarTextoBoton() {
                              const graficoBarContainer = document.querySelector('.grafico-bar-container');
                              const btnAlternar = document.querySelector('.btn-alternar');

                              if (graficoBarContainer.classList.contains('d-none')) {
                                      btnAlternar.textContent = 'Gráficos de ondas';
                              } else {
                                      btnAlternar.textContent = 'Gráficos en barra';
                              }
                    }

                    // Llama a la función al cargar la página para asegurarte de que el texto esté actualizado
                    document.addEventListener('DOMContentLoaded', actualizarTextoBoton);
            </script>
      </div>
      <script>
            let deferredPrompt;
            const installBtn = document.getElementById('installBtn');
          
            window.addEventListener('beforeinstallprompt', (e) => {
              // Prevenir la mini barra de instalación automática
              e.preventDefault();
              deferredPrompt = e;
              installBtn.classList.remove('d-none');
          
              installBtn.addEventListener('click', async () => {
                installBtn.classList.add('d-none');
                deferredPrompt.prompt();
          
                const { outcome } = await deferredPrompt.userChoice;
                if (outcome === 'accepted') {
                  console.log('✅ App instalada');
                } else {
                  console.log('❌ Usuario canceló la instalación');
                }
                deferredPrompt = null;
              });
            });
          </script>
<script>
      document.addEventListener('DOMContentLoaded', function () {
        // Detectar si está en modo standalone (modo app)
        const isInStandaloneMode = window.matchMedia('(display-mode: standalone)').matches || window.navigator.standalone === true;
    
        if (isInStandaloneMode) {
          const installBtn = document.getElementById('installBtn');
          if (installBtn) {
            installBtn.style.display = 'none'; // Oculta el botón
          }
        }
      });
    </script>

{% endblock  %}