{% extends "base/base.html" %}
{% block content %}
  

      <style>
            .btn-dashboard svg {
                  color: #ffc107 !important;
                  border-radius: 0 !important;
                  background-color: transparent !important;
            }
            .section-escritorio-nav .dashboard   {
                  color: #ffc107 !important;
            }
             .dashboard   {
                  color: #ffc107 !important;
            }
            
            .section-escritorio-nav .dashboard span {
                  color: #ffc107;
            }

            .btn-atras 
            {
                  display: none;
            }
            .filter-grafico {
                  margin-right: 0.9rem;
            }

            @media (max-width: 600px) { 
                  .img-dasboard {
                        display: block !important;
                  }
                  .cartas {
                        
                  }
                  .graficos {
                        position: static !important;
                  }
            }
      </style>

      <div data-aos="fade-in"
            style="transition: 1s;  height: 100dvh;"
            class=" cartas d-flex flex-wrap m-2 mt-3 align-content-start w-100  ">
            {% include "dashboard/cp/card.html" %}
            <div class=" w-100 d-flex flex-wrap justify-content-end mb-2  top-0 z-2">
                  <div class="w-100 d-flex flex-wrap justify-content-start mb-2 ms-2 ">
                        <button onclick="AlternarGrafic()"
                        class=" w-100 btn-alternar btn btn-primary border-0 mt-2 text-white p-2 ps-1 pe-1 rounded-5 "  
                        style="background-color: #191919; max-width: 11rem;
                        color: #ffffffb9 !important;">
                        Graficos por ondas
                  </button>
            </div>
            </div>

            <div class=" graficos w-100 h-100 position-fixed bottom-0 mb-4  d-flex flex-wrap align-content-end "
             style="max-height: 50vh;">
                  <div class="grafico-bar-container w-100 h-100 " >
                        {% include "dashboard/cp/grafic-bar.html" %}
                  </div>
                  <div class="grafico-wave-container w-100 h-100 ">
                        {% include "dashboard/cp/grafic-wave.html" %}
                  </div>      
            </div>
            <script>
                  function AlternarGrafic() {
                                const graficoBarContainer = document.querySelector('.grafico-bar-container');
                                const graficoWaveContainer = document.querySelector('.grafico-wave-container');
                                const btnAlternar = document.querySelector('.btn-alternar');

                                if (graficoBarContainer.classList.contains('d-none')) {
                                            graficoBarContainer.classList.remove('d-none');
                                            graficoWaveContainer.classList.add('d-none');
                                            btnAlternar.textContent = 'Gráficos por barras';
                                            localStorage.setItem('graficoEstado', 'bar');
                                } else {
                                            graficoBarContainer.classList.add('d-none');
                                            graficoWaveContainer.classList.remove('d-none');
                                            btnAlternar.textContent = 'Gráficos por ondas';
                                            localStorage.setItem('graficoEstado', 'wave');
                                }
                                actualizarTextoBoton();
                  }

                  document.addEventListener('DOMContentLoaded', () => {
                                const graficoBarContainer = document.querySelector('.grafico-bar-container');
                                const graficoWaveContainer = document.querySelector('.grafico-wave-container');
                                const btnAlternar = document.querySelector('.btn-alternar');
                                const estadoGuardado = localStorage.getItem('graficoEstado');

                                if (estadoGuardado === 'bar') {
                                            graficoBarContainer.classList.remove('d-none');
                                            graficoWaveContainer.classList.add('d-none');
                                            btnAlternar.textContent = 'Gráficos por ondas';
                                } else {
                                            graficoBarContainer.classList.add('d-none');
                                            graficoWaveContainer.classList.remove('d-none');
                                            btnAlternar.textContent = 'Gráficos por barras';
                                }

                  });

                    function actualizarTextoBoton() {
                              const graficoBarContainer = document.querySelector('.grafico-bar-container');
                              const btnAlternar = document.querySelector('.btn-alternar');

                              if (graficoBarContainer.classList.contains('d-none')) {
                                      btnAlternar.textContent = 'Gráficos de ondas';
                              } else {
                                      btnAlternar.textContent = 'Gráficos en barra';
                              }
                    }

                    // Llama a la función al cargar la página para asegurarte de que el texto esté actualizado
                    document.addEventListener('DOMContentLoaded', actualizarTextoBoton);
            </script>
      </div>
{% endblock  %}