{% extends "base/base.html" %}
{% block content %}
  

      <style>
            .btn-dashboard svg {
                  color: #ffc107 !important;
                  border-radius: 0 !important;
                  background-color: transparent !important;
            }
            .section-escritorio-nav .dashboard   {
                  color: #ffc107 !important;
            }
             .dashboard   {
                  color: #ffc107 !important;
            }
            
            .section-escritorio-nav .dashboard span {
                  color: #ffc107;
            }

            .btn-atras 
            {
                  display: none;
            }
            .filter-grafico {
                  margin-right: 0.9rem;
            }

            @media (max-width: 600px) { 
                  .img-dasboard {
                        display: block !important;
                  }
                  .cartas {
                        
                  }
                  .graficos {
                        position: static !important;
                  }
            }
      </style>
           
       

      <div class=" w-100 d-flex mt-2  flex-wrap position-sticky top-0  z-2  align-content-start  p-1  top-0 p-2" >
            <div class="ms-1"> {% include "nav/new-nav/cp/user-profile.html" %} </div>
         
            <div class="d-flex w-100 position-absolute top-0 me-3 mt-2 end-0 justify-content-end ">
                  <button id="install-btn"  
                        class=" w-100  ms-1 btn btn-primary border-0  text-white p-2 ps-1 pe-1 rounded-5 "  
                        style="background-color: #191919; max-width: 4rem;
                        color: #ffffffb9 !important;"> 
                        <i class="fi fi-sr-water-lower"></i>  
                  </button>
                  <button onclick="AlternarGrafic()"
                        class=" w-100 btn-alternar  btn btn-primary border-0  ms-1 me-1 text-white p-2 ps-1 pe-1 rounded-5 "  
                        style="background-color: #191919;
                        max-width: 4rem;
                        font-size: 14px;
                        color: #ffffffb9 !important;">
                        <i class="fi fi-sr-chart-tree-map"></i>
                  </button>
            </div>
     
      <style>

            .d-1,
            .d-2 {
              flex: 1; /* ocupan el mismo espacio vertical */
              min-height: 0; /* previene overflow en flex children */
            }
          </style>
      <section style="display: flex; flex-direction: column;
      height: 100dvh; /* o el alto que necesites */"
      class="w-100">
            <div class="d-1 overflow-auto position-relative rounded-5" style="flex: 2;">
                  {% include "dashboard/cp/card.html" %}
            </div>
            <div class=" d-2 graficos w-100  h-100 mb-5 pb-4">
                  <div class="grafico-bar-container  w-100 h-100 " >
                        {% include "dashboard/cp/grafic-bar.html" %}
                  </div>
                  <div class="grafico-wave-container w-100 h-100 ">
                        {% include "dashboard/cp/grafic-wave.html" %}
                  </div>      
            </div>
      </section>

            <script>
                  function AlternarGrafic() {
                                const graficoBarContainer = document.querySelector('.grafico-bar-container');
                                const graficoWaveContainer = document.querySelector('.grafico-wave-container');
                                const btnAlternar = document.querySelector('.btn-alternar');

                                if (graficoBarContainer.classList.contains('d-none')) {
                                            graficoBarContainer.classList.remove('d-none');
                                            graficoWaveContainer.classList.add('d-none');
                                            localStorage.setItem('graficoEstado', 'bar');
                                } else {
                                            graficoBarContainer.classList.add('d-none');
                                            graficoWaveContainer.classList.remove('d-none');

                                            localStorage.setItem('graficoEstado', 'wave');
                                }
                                actualizarTextoBoton();
                  }

                  document.addEventListener('DOMContentLoaded', () => {
                                const graficoBarContainer = document.querySelector('.grafico-bar-container');
                                const graficoWaveContainer = document.querySelector('.grafico-wave-container');
                                const btnAlternar = document.querySelector('.btn-alternar');
                                const estadoGuardado = localStorage.getItem('graficoEstado');

                                if (estadoGuardado === 'bar') {
                                            graficoBarContainer.classList.remove('d-none');
                                            graficoWaveContainer.classList.add('d-none');

                                } else {
                                            graficoBarContainer.classList.add('d-none');
                                            graficoWaveContainer.classList.remove('d-none');

                                }

                  });

                    function actualizarTextoBoton() {
                              const graficoBarContainer = document.querySelector('.grafico-bar-container');
                              const btnAlternar = document.querySelector('.btn-alternar');

                              if (graficoBarContainer.classList.contains('d-none')) {

                              } else {

                              }
                    }

                    // Llama a la función al cargar la página para asegurarte de que el texto esté actualizado
                    document.addEventListener('DOMContentLoaded', actualizarTextoBoton);
            </script>
      </div>
      <script>
  let deferredPrompt;
  const installBtn = document.getElementById('install-btn');

  window.addEventListener('beforeinstallprompt', (e) => {
//     e.preventDefault();
    deferredPrompt = e;
    installBtn.classList.remove('d-none');

    installBtn.addEventListener('click', async () => {
      installBtn.classList.add('d-none');
      deferredPrompt.prompt();

      const { outcome } = await deferredPrompt.userChoice;
      if (outcome === 'accepted') {
        console.log('✅ App instalada');
      } else {
        console.log('❌ Usuario canceló la instalación');
      }

      deferredPrompt = null;
    }, { once: true }); // Asegura que solo se ejecute una vez
  });

      document.addEventListener('DOMContentLoaded', function () {
        // Detectar si está en modo standalone (modo app)
        const isInStandaloneMode = window.matchMedia('(display-mode: standalone)').matches || window.navigator.standalone === true;
    
        if (isInStandaloneMode) {
          const installBtn = document.getElementById('install-btn');
          if (installBtn) {
            installBtn.style.display = 'none'; // Oculta el botón
          }
        }
      });
      window.addEventListener('beforeinstallprompt', e => console.log('triggered', e))
    </script>

{% endblock  %}