<div class="dropdown">
      <button class="btn btn-secondary bg-white bg-opacity-10 bg-transparent border-0 rounded-3 dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Listados de servicios
      </button>
      <ul class="dropdown-menu">
            {% for s in service_choices %}
                     <li><a class="dropdown-item" 
                        href="{% url "estudios:service-detail" s.id %}"> {{s.name}} </a></li>
            {% endfor %}

      </ul>
    </div>