<div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Servicios
      </button>
      <ul class="dropdown-menu">
            {% for s in service_choices %}
                     <li><a class="dropdown-item" 
                        href="{% url "estudios:service-detail" s.id %}"> {{s.name}} </a></li>
            {% endfor %}

      </ul>
    </div>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Planes
      </button>
      <ul class="dropdown-menu">
            {% for p in plan_choices %}
                     <li><a class="dropdown-item" 
                        href="{% url "estudios:service-detail" p.id %}"> {{p.name}} </a></li>
            {% endfor %}

      </ul>
    </div>