{% extends "base/base.html" %}
{% block content %}
 
<style>
      .nav .services {
            color: #ffc107;
            font-weight: bolder;
            transform: scale(1.1);
      }
      .nav .services svg {
            color: #ffc107 !important;
      }
      .nav .services span {
            color: #ffc107;
      }
      .btn-atras
      {
            display: none;
      }
      input {

            color: #ffffff !important;
      }
      input::placeholder {
            color: #ffffffb8 !important;
      }
      @media (max-width: 600px) {
            .section-service {
            justify-content: center !important;
            }
      }
      .rotate-90
      {
            transform: rotate(180deg);
      }
</style>

<div class="d-flex flex-wrap w-100 vh-100 position-relative">
      <div onclick="OpenOffer()" class="d-flex position-absolute top-0  start-0 blur-5 rounded-4 vh-100 z-2 div-oferr-active   justify-content-center align-content-center flex-wrap w-100">
                  <div style="max-width: 35rem; height: max-content;
                  background-color: #1a1a1add;"
                        class="w-100  p-4 rounded-5 text-white  d-flex flex-wrap ">
                        <strong class="bg-white bg-opacity-10 rounded-5 pe-3 ps-3 p-2">
                              Ya hay una oferta del 20%
                        </strong>
                        <p class="text-white-50 ms-2 w-100">
                              Que fue aplicada el 10/20/2025 a las 12:00am en los siguientes planes 
                        </p>
                        <li class="w-100">PLAN PREMIUM </li>
                        <li class="w-100">PLAN PLATINUM</li>
                        <span class="w-100 mt-2">
                              ¿Deseas eliminar esta oferta?
                        </span>
                              <div class="w-100 mb-1">
                                    <button class="bg-white bg-opacity-10 text-white p-2 ps-3 pe-3 border-0 rounded-5 ">
                                          Si, ya no la quiero
                                    </button>
                                    <button class="ps-3 pe-3 p-1 bg-transparent text-white border-0 rounded-5">
                                    No, solo voy a modificarla
                              </button>
                              </div>
                  </div>
      </div>
      <div class="w-100 aplicar-offer d-none">
            {% include "service/cp/aplicar-oferta.html" %}
      </div>
      <div class=" select-plans ">
            {% include "service/cp/plans.html" %}
      </div>
      <div class="w-100 d-flex justify-content-start position-fixed mb-4 bottom-0">
            <button onclick="Togle()" class="me-3 mt-3 text-black bg-white bg-opacity-25 rounded-circle d-flex justify-content-center flex-wrap align-content-center border-0 change-view "
                  style="width: 2rem; height: 2rem; ">
                  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                        style="color: #101010;"
                        class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                        <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                      </svg> 
            </button>
      </div>
</div>
<script>
      let Select_Plans = document.querySelector('.aplicar-offer')
      let Aplicar_Offer = document.querySelector('.select-plans')

      function Togle(){
            Select_Plans.classList.toggle('d-none')
            Aplicar_Offer.classList.toggle('d-none')
            document.querySelector('.change-view').classList.toggle('rotate-90')
      }

      function OpenOffer(){
            document.querySelector('.div-oferr-active').classList.toggle('d-none')
      }
</script>
{% endblock  %}