{% extends "base/base-client.html" %}
{% block content %}
<section class='w-100 overflow-auto '>
            {% if plans %}
                  <div class="d-flex w-100 overflow-auto">
                        {% include "service/service-list-plans.html" %}
                  </div>
            {% else %}
                  <div class="d-flex justify-content-center flex-wrap align-content-center w-100 h-100"> 
                        <h5 class="text-white text-center w-100" style="font-weight: bold; font-style: italic;">
                              No hay planes disponibles
                        </h5>
                        <p class="text-white-50 text-center w-100" style="font-weight: bold; font-style: italic;"> 
                              No hay planes disponibles en este momento,
                              por favor intente más tarde.
                        </p>
                        <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                              {% include "service/components/no-found.html" %}
                        </div>
                  </div>
            {% endif %}
            <div class='pb-4'>
                  <button onclick="BackSpace()" class="bg-transparent border-0 ms-4 me-4 text-white-50" style="font-size: 16px; font-weight: bold;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                            </svg>
                  </button> 
            </div>
            <div class='text-warning w-100 overflow-auto align-content-start-0  '>
                  <div class='w-100'>
                         <strong style='font-style: italic;'>
                              {% if object.img %}
                              <img src="{{object.img.url}}"
                              class="rounded-circle"
                              style="border: solid 4px rgb(52, 52, 52);"
                              width="40" height="40" alt="">  Galeria  {{object.name}}
                              {% endif %}
                         </strong>
                  </div>
                   {% for moment in moments %} 
                         {% for m in moment.img_moments.all  %}
                         {% if m.img %}
                         <img src="{{m.img.url}}" style='max-width: 310px; '
                         class='w-100 object-fit-cover rounded-5 m-1' alt="Ups!">
                         {% endif %}
                         {% endfor %}
                   {% endfor %}
             </div>
</section>
<script>
      function BackSpace() {
            if (window.history.length > 1) {
              history.back();
            } 
      }

</script>
{% endblock  %}