{% extends "base/base.html" %}
{% block content %}
      <style>
            #id_img {
                  display: none; 
            }
            .circle {

                        border-radius: 2rem;
                        background-color:rgb(89, 89, 89);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center;
            }
            input, select
            {
                  background-color: #2d2d2d !important;
                  border-radius: 2rem !important; border: none !important;
                  color: white !important; 
                  height: 2.9rem !important; width: 100% !important;
            }
            .btn-atras
            {
                  display: none;
            }
      </style>
      <section class='d-flex flex-wrap w-100 justify-content-center align-content-center '>
            
            <div class="  d-flex  ">
                  <div id="circle" class="circle" style='background-image: url({{object.img.url}});
                  width: 270px; height: 470px ;
                  ' onclick="document.getElementById('id_img').click()">
                        <span class="blur-50 text-white p-3 rounded-4" style="font-weight: bold;">
                              Cargar img
                        </span>
                  </div>
                    <form action="" method="post" enctype="multipart/form-data">
                        <div class="text-white">
                              <h3 class="m-0">
                                    Actualizando el servicio: {{object.name}}
                              </h3>
                              <p style="font-size: 12px;" class="m-0 text-white-50">
                                    Actualizando servicio para el estudio, con el que ofreces actualmente {{object.planes.all|length}} planes
                              </p>

                        </div>
                              {% csrf_token %}
                              <div> 
                                      {{ form.name }}
                              </div>
                              <div>
                                      {{ form.img }}
                              </div>
                              <div class="d-flex justify-content-end">
                                    <a href="{% url "estudios:service" %}">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left-circle-fill mt-2"  viewBox="0 0 16 16">
                                                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                              </svg>
                                    </a>
                                      <button type="submit" class="btn btn-primary rounded-5 border-0 bg-white bg-opacity-10" style="font-weight: bold; width: 10rem;">
                                                Actualizar 
                                      </button>
                              </div>
                    </form>
            </div>

      </section>
      <script>
              document.getElementById('id_img').addEventListener('change', function(event) {
                        const file = event.target.files[0];
                        if (file) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                          document.getElementById('circle').style.backgroundImage = `url(${e.target.result})`;
                                }
                                reader.readAsDataURL(file);
                        }
              });
      </script>
{% endblock  %}