{% extends "base/base.html" %}
{% block content %}
      <style>
            #id_img {
                  display: none; 
            }
            .circle {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color:rgb(89, 89, 89);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center;
            }
      </style>
      <section>
            
            <div class="container">
                  <div id="circle" class="circle" style='background-image: url(object.img.url);' onclick="document.getElementById('id_img').click()">
                        Cargar img
                  </div>
                    <form action="" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div> 
                                      {{ form.name }}
                              </div>
                              <div>
                                      {{ form.img }}
                              </div>
                              <div>
                                      <button type="submit">
                                                Submit
                                      </button>
                              </div>
                    </form>
            </div>

      </section>
      <script>
              document.getElementById('id_img').addEventListener('change', function(event) {
                        const file = event.target.files[0];
                        if (file) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                          document.getElementById('circle').style.backgroundImage = `url(${e.target.result})`;
                                }
                                reader.readAsDataURL(file);
                        }
              });
      </script>
{% endblock  %}