{% extends "base/base-client.html" %}
{% block content %}
<style>
      .img-gallery {
            position: absolute;
            z-index: 1000;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.1);
            max-width: 100vw !important;
            max-height: 100vh !important;
            box-shadow: 1px 1px 40px 20px #000000;
            object-fit: contain !important;
            -webkit-backdrop-filter: blur(10px) !important;
            backdrop-filter: blur(10px) !important;
            background: linear-gradient(to bottom, transparent, #101010), linear-gradient(to top,#1010107d , #10101081);
      }
      @media (max-width: 600px) {
      .img-show {
            grid-template-columns: repeat(2, 1fr) !important;
      }

      }
</style>
<section class='w-100 overflow-auto ' >
      <div class="d-flex pt-4 pb-3 ms-3">
            <img src="{{service.img.url}}" alt=""
            style="width: 30px; height: 30px;" class="me-2 object-fit-cover rounded-circle">
            <h6 class="bg-white bg-opacity-10 mb-2 text-white rounded-5 p-2 ps-3 pe-3"
            style="width: max-content;">
                  {{service.name}}
            </h6>
      </div>
            {% if plans %}
                  <div class="d-flex w-100 overflow-auto pb-4">
                        {% include "service/service-list-plans.html" %}
                  </div>
            {% else %}
                  <div class="d-flex justify-content-center flex-wrap align-content-center w-100 h-100"> 
                        <h5 class="text-white text-center w-100" style="font-weight: bold; font-style: italic;">
                              No hay planes disponibles
                        </h5>
                        <p class="text-white-50 text-center w-100" style="font-weight: bold; font-style: italic;"> 
                              No hay planes disponibles en este momento,
                              por favor intente más tarde.
                        </p>
                        <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                              {% include "service/components/no-found.html" %}
                        </div>
                  </div>
            {% endif %}
            <div class='pb-4 pt-4 '>
                  <button onclick="BackSpace()" class="bg-transparent border-0 ms-3 me-4 text-white-50" style="font-size: 18px; font-weight: bold;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                              <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                            </svg> Seleccionar otro servicio
                  </button> 
            </div>
            <div class='text-warning w-100 overflow-auto align-content-start-0 mb-5 justify-content-center   '>
                  <div class="d-flex justify-content-center flex-wrap w-100">
                        {% if moments %}
                              {% for moment in moments %} 
                              <div class="img-show" style="display: grid; 
                              grid-template-columns: repeat(5, 1fr); gap: 5px;">
                                    {% for m in moment.img_moments.all  %}
                                          {% if m.img %}
                                                <img src="{{m.img.url}}" onclick="UpperCaseImg()"  
                                                class='w-100 img  object-fit-cover rounded-5 m-1' alt="Ups!">
                                                {% endif %}
                                                {% endfor %}
                                    </div>
                              {% endfor %}
                              {% else %}
                              <div>
                                    <h6>
                                          No hay imagenes para mostrar
                                    </h6>
                              </div>
                        {% endif %}
                  </div>
             </div>
</section>
<script>
      document.addEventListener('DOMContentLoaded', function() {
            UpperCaseImg();
      });

      function BackSpace() {
            if (window.history.length > 1) {
              history.back();
            } 
      }


      function UpperCaseImg() {
    const images = document.querySelectorAll('.img');
    images.forEach(img => {
        img.onclick = function () {
            const isActive = this.classList.contains('img-gallery');
            document.querySelectorAll('.img-gallery').forEach(i => i.classList.remove('img-gallery'));
            if (!isActive) {
                this.classList.add('img-gallery');
            }
        };
    });
}

// Ejecutar la función una vez que el DOM esté listo
document.addEventListener('DOMContentLoaded', UpperCaseImg);

</script>
{% endblock  %}