{% if service_select %}

      <a href="{% url "estudios:service-update" service_select.id %}">
            <div style='width: 320px;'>
                  <div class="" style="
                        {% if service_select.img %}
                              background-image: url('{{service_select.img.url}}');
                        {% endif %}
                        background-size: cover; background-repeat: no-repeat;; width: 320px; height: 220px; border-radius: 2rem;">
                  </div>
                  <h5>{{service_select.name}}</h5>
            </div>
      </a>

{% endif %}