{% extends "base/base.html" %}
{% block content %}
 
      <style>
            .nav .services {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras
            {
                  display: none;
            }

      </style>


      
      <section class='d-flex flex-wrap overflow-auto align-content-start w-100 '>
            <div data-aos="zoom-in" style="transition-delay: 0.2s; max-height: 2rem;" class='w-100 d-flex justify-content-end' >
                  <a href="{% url "estudios:service-create" %}">
                        <button class="bg-white bg-opacity-10 rounded-5 d-flex justify-content-center flex-wrap align-content-center text-white border-0 rounded-3 p-2" style='font-weight: bold;'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="m-0 bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                  </svg> 
                        </button>
                  </a>
            </div> 
      
            <div data-aos='fade-in' class="d-flex flex-wrap w-100 justify-content-start"
            style='transition-duration: 1s;'>
                  {% if services %}
                        {% for s in services %}
                                    <div class="col-12 col-md-6 col-lg-3 mb-4 position-relative" style=' width: 420px;' >
                                          {% include "service/cp/options.html" %}
                                          <div class="card-img-top w" style="
                                          background-position: center;
                                                {% if s.img %}
                                                      background-image: url('{{s.img.url}}');
                                                {% endif %}
                                                
                                                background-size: cover; background-repeat: no-repeat; 
                                                filter: brightness(80%);
                                                height: 247px; border-radius: 2rem;">
                                          </div>
                                          <div class='d-flex position-relative'>
                                                <button onclick="toggleOptions(this.id)" id="{{s.id}}" class='start-0  text-white btn-optione{{p.id}} text-decoration-none bg-white bg-opacity-10 p-2  border-1 rounded-5' style="font-size: 12px ; font-weight: bold; width: 36px; height: 36px; border: 1px solid rgb(63, 63, 63) !important; margin-top: 0.2rem;">
                                                      <span>
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots text-white-50" viewBox="0 0 16 16">
                                                                  <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                                                </svg>
                                                      </span>
                                                </button> 
                                                <div>
                                                      <h5 style='font-size: 18px; font-weight: bold; ' class='text-white-50 p-0 m-0  ms-2 '>
                                                            {{s.name}}
                                                      </h5>
                                                </div>
                                          </div>
                                    </div>

                        {% endfor %}
                        {% else %}

                        <section class="text-white d-flex justify-content-center flex-wrap align-content-start vh-100  w-100">
                              <div class="d-flex justify-content-center flex-wrap align-content-center w-100 "> 
                                    <h5 class="text-white text-start-0   w-100" style="font-weight: bold; font-style: italic;">
                                          No hay servcios para ofrecer
                                    </h5>
                                 
                                    <p class="text-white-50 text-start-0 w-100" 
                                    style=" font-style: italic;"> 
                                          Crear un servicio es muy facil, solo debes darle un nombre y una imagen, y listo, ya tienes un servicio, puedes crear tantos como gustes.
                                    </p>
                                    <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                                          {% include "service/components/no-found.html" %}
                                    </div>
                              </div>
                        </section>

                  {% endif %}
            </div>
      </section>
      <script>
            function toggleOptions(id) {
                  let options = document.getElementById('options' + id);
                  if (options.classList.contains('d-none')) {
                        options.classList.remove('d-none');
                        options.classList.add('fade-down')
                  } else {
                        options.classList.add('d-none');
                  }
                  document.querySelectorAll('.btn-optione' + id ).forEach(function(element) {
                        element.classList.toggle('rotate-90');
                  });
            }
      
            document.addEventListener('contextmenu', function(event) {
                  event.preventDefault();
      
            });
      
      </script>
{% endblock  %}