{% extends "base/base.html" %}
{% block content %}
      <style>
            #id_img {
                  display: none; 
            }
            .circle {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color:rgb(89, 89, 89);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center;
            }
            input, select
            {
                  background-color: #2d2d2d !important;
                  border-radius: 2rem !important; border: none !important;
                  color: white !important; 
                  height: 2.9rem !important; width: 100% !important;
            }
            .btn-atras
            {
                  display: none;
            }
      </style>
      <section class='d-flex flex-wrap w-100 justify-content-center align-content-center '>
            
            <div class="  d-flex  ">
                  <div id="circle" class="circle" style='background-image: url(object.img.url);' onclick="document.getElementById('id_img').click()">
                        Cargar img
                  </div>
                    <form action="" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              <div> 
                                      {{ form.name }}
                              </div>
                              <div>
                                      {{ form.img }}
                              </div>
                              <div>
                                    <a href="{% url "estudios:service" %}">
                                          Atras
                                    </a>
                                      <button type="submit" class="btn btn-primary rounded-5" style="font-weight: bold;">
                                                Crear
                                      </button>
                              </div>
                    </form>
            </div>

      </section>
      <script>
              document.getElementById('id_img').addEventListener('change', function(event) {
                        const file = event.target.files[0];
                        if (file) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                          document.getElementById('circle').style.backgroundImage = `url(${e.target.result})`;
                                }
                                reader.readAsDataURL(file);
                        }
              });
      </script>
{% endblock  %}