{% extends "base/base.html" %}
{% block content %}
{% load humanize %}
<style>
      .img-gallery {

            position: fixed !important;
            z-index: 1000 !important;
            left: 50% ;
            top: 50%;
            transform: translate(-50%, -50%) scale(1.1);
            max-width: 70% !important;
            max-height: 70% !important;
            box-shadow: 1px 1px 40px 20px #000000;
            object-fit: contain !important;
            -webkit-backdrop-filter: blur(100px) !important;
            backdrop-filter: blur(100px) !important;
      }
</style>
<section class='d-flex flex-wrap  align-content-start position-relative h-100  overflow-auto'>
            <div class="d-flex pt-4 pb-3 ms-3 w-100 ">
                  <img src="{{service.img.url}}" alt=""
                  style="width: 30px; height: 30px;" class="me-2 object-fit-cover rounded-circle">
                  <h6 class="bg-white bg-opacity-10 mb-2 text-white rounded-5 p-2 ps-3 pe-3"
                  style="width: max-content;">
                        {{service.name}}
                        {% if service.is_offer %} 
                        <span class="badge bg-warning rounded-pill    ps-3 pe-3 text-dark">Oferta
                              {% if service.mount > 0 %}
                                          ${{service.mount|floatformat:0|intcomma}} 
                             {% else %}
                                          {{service.discount}}%
                              {% endif %}
                        </span>
                        {% endif %}
                  </h6>
            </div>
            <div class="d-flex  overflow-auto mb-4">
                  {% include "plan/plan-list.html" %}
            </div>

            <div data-aos='fade-in' style='transition-duration: 1s;' class='text-warning w-100 overflow-auto align-content-start-0  '>
                 <div class="d-flex flex-wrap justify-content-center   ">
                  {% for moment in moments %}
                  {% for m in moment.img_moments.all  %}
                        {% if m.img %}
                              <img src="{{m.img.url}}" onclick="UpperCaseImg()" style='max-width: 180px;'
                        class='w-100 object-fit-cover rounded-5 m-1 img' alt="Ups!">
                        {% endif %}
                  {% endfor %}
            {% endfor %}
                 </div>
            </div>
      </section>
<script>
            function UpperCaseImg(){
            const images = document.querySelectorAll('.img');
            images.forEach(img => {
                  img.addEventListener('click', function() {
                        if (this.classList.contains('img-gallery')) {
                              this.classList.remove('img-gallery');
                        } else {
                              images.forEach(i => i.classList.remove('img-gallery'));
                              this.classList.add('img-gallery');
                        }
                  });
            });
      }
</script>
{% endblock  %}