ClickEstudios/Accounts/__pycache__/
ClickEstudios/Asistente/__pycache__/
ClickEstudios/Asistente/migrations/__pycache__/
ClickEstudios/ClickEstudios/__pycache__/
ClickEstudios/Estudios/__pycache__/
ClickEstudios/Estudios/middleware/__pycache__/
ClickEstudios/Estudios/migrations/__pycache__/
