# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
vn/
venv/
env/
*.env
*.virtualenv
pip-log.txt
pip-delete-this-directory.txt


# Django stuff
db.sqlite3
db.sqlite3-journal
*.log
*.pot
*.pyc
*.pyo
local_settings.py

# Static files
staticfiles/
static/
media/

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*~ 
*/migrations/*.log
*/migrations/*.sqlite3

# VSCode files
.vscode/

# IDE files
.idea/
*.sublime-project
*.sublime-workspace

# macOS files
.DS_Store

# Test reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Build / Dist files
build/
dist/
*.egg-info/
.installed.cfg
*.egg

# Pytest cache
.pytest_cache/

# Other
*.mo
*.pot
.env
config/