
{% extends "base/base.html" %}
{% block content %}
<style>
      
      .nav .configuration {
            color: #ffc107;
            font-weight: bolder;
            transform: scale(1.1);

      }
      .nav .configuration svg {
            color: #ffc107 !important;
      }
      .nav .configuration span {
            color: #ffc107;
      }
      .btn-atras  {
            display: none;
      }
      .div {
            width: 490px;
            min-width: 490px;
            height: 250px;
            border: 0px solid;
            background-color: rgba(22, 9, 25, 0.055);
            border-radius: 3.5rem;
            background-color: rgb(11, 11, 11);
            padding: 2rem;
      }
      label {
            font-size: 14px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.821); 
            cursor: pointer;
      }
      .moptions ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
            }

            .moptions ul li {
                  color: white;
                  font-size: 14px;
                  padding: 5px 0;
                  background-color: rgba(70, 70, 70, 0.397);
                  margin-top: 0.2rem;
                  padding: 0.7rem;
                  border-radius: 0.8rem;
                  font-weight: bold;
                  cursor: pointer;
            }
            .moptions ul li:hover {
                  color: #ffc107;
                  font-weight: bold;
                  background-color: rgba(36, 36, 36, 0.528);
            }
            .moptions ul li svg {
                  margin-right: 0.7rem;
            }

            .rotate-90 {
                    transform: rotate(90deg);
                    transition: transform 0.3s ease-out;
            }
</style>


<section class="text-white p-3  w-100 pe-0 pt-0 d-flex flex-wrap align-content-start">
      
      <div   data-aos="fade-down" style="transition: 0.5s;" class="w-100"
            style="background-color: #35343400; border-radius: 1rem;">
            {% include 'configuration/cp/profile.html' %}
            <div id="options2" class=" bg-black bg-opacity-10 blur-20 d-none  p-2 moptions rounded-4 z-2  position-absolute top-0 start-0 "
            style="height: 10rem; width: 14rem; margin-top: 8.9rem; margin-left: 0.3rem;
            border-bottom-left-radius: 2rem !important  ;"> 

            <ul class="mt-1">
                  <a >
                        <li class="editar">  
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                              <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/></svg> Editar estudio
                        </li>
                  </a>
                  <a > 
                        <li class="delete"> 
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-heart" viewBox="0 0 16 16">
                                    <path d="M9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0m-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4m13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276Z"/>
                                  </svg> Cuenta
                        </li>
                  </a>
                  <a  >
                        <li class="carateristicas" style="border-bottom-left-radius: 1.2rem ;">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-asterisk" viewBox="0 0 16 16">
                                    <path d="M8 0a1 1 0 0 1 1 1v5.268l4.562-2.634a1 1 0 1 1 1 1.732L10 8l4.562 2.634a1 1 0 1 1-1 1.732L9 9.732V15a1 1 0 1 1-2 0V9.732l-4.562 2.634a1 1 0 1 1-1-1.732L6 8 1.438 5.366a1 1 0 0 1 1-1.732L7 6.268V1a1 1 0 0 1 1-1"/>
                                  </svg>  ...?
                        </li>
                  </a>
            </ul>
      
            </div>
      </div>
      <div  data-aos="fade-in" style="transition: 1s; transition-delay: 0.5s;" class="w-100 d-flex" >
            <button onclick="toggleOptions()"  class='start-0  text-white btn-optione{{p.id}} text-decoration-none bg-white bg-opacity-10 p-2 ms-2  border-1 rounded-5' style="font-size: 12px ; font-weight: bold; width: 36px; height: 36px; border: 1px solid rgb(63, 63, 63) !important; margin-top: 0.5rem;">
                  <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots text-white-50" viewBox="0 0 16 16">
                              <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                            </svg>
                  </span>
            </button> 
            <h1 style="font-weight: bold;  font-style: italic;"
                  class="ms-3"> 
                  {{estudios.name}}
            </h1>
      </div>


<div class="ms-4 mt-4">
      <strong class="">
            Sistema
      </strong>
      <p style="font-size: 12px;" class="text-white-50 w-100 p-0 m-0">
            Ajustas las funciones del sistema segun tus necesidades
      </p>
</div>
<section class="d-flex overflow-auto w-100 divs ">

      <div data-aos="fade-left" style="transition: 0.5s;" class="div">
            <!-- <h4 class="mb-4">
                  Apariencia del sistema
            </h4> -->
            <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"    {% if request.user.config.mode %} checked      {% endif %}>
                        <label class="form-check-label" for="flexRadioDefault1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                              </svg> Noche de estrellas
                        </label>
            </div>
                
            <div  class="form-check">
                  <input class="form-check-input" type="radio"  name="flexRadioDefault" id="flexRadioDefault2" {% if request.user.config.mode == False %} checked      {% endif %}>
                  <label class="form-check-label" for="flexRadioDefault2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-moon-fill" viewBox="0 0 16 16">
                              <path d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z"/>
                              <path d="M11.286 1.778a.5.5 0 0 0-.565-.755 4.595 4.595 0 0 0-3.18 5.003 5.5 5.5 0 0 1 1.055.209A3.6 3.6 0 0 1 9.83 2.617a4.593 4.593 0 0 0 4.31 5.744 3.58 3.58 0 0 1-2.241.634q.244.477.394 1a4.59 4.59 0 0 0 3.624-2.04.5.5 0 0 0-.565-.755 3.593 3.593 0 0 1-4.065-5.422z"/>
                            </svg> Noche oscura 
                  </label> <br>
                  <span style="font-size: 10px;" class="text-white-50">
                        <strong style="font-size: 10px;" class="text-white-50">(20% mas veloz)</strong>
                        Ideales para conexiones lentas
                  </span>
                </div>
                  <div class='mt-4 w-100 d-flex'>
                        <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="mode" value="true">
                              <button class="btn d-none btn-warning rounded-5"
                              style='font-size: 14px; font-weight: bold;'> 
                                    Cambiar
                              </button>
                        </form>
                  </div>
      </div>


            <div  data-aos="fade-left" style="transition: 0.5s;" class="div position-relative">
                  <!-- <h4 class="mb-4"> -->
                        <!-- Copia de seguridad          -->
                        <span style="background-color: #353434; 
                        font-size: 10px;
                        font-weight: bold;
                        " class=" position-absolute top-0 end-0 mt-4 me-4 text-white-50 p-1 pe-2 ms-4 pb5 ps-2 rounded-5">
                         ¡PROXIMO! 
                       </span>
                  <!-- </h4> -->
      
               
                  <div class="form-check">
                        <input class="form-check-input" type="radio" name="backup" id="google-drive" >
                        <label class="form-check-label" for="google-drive">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                                    <path d="M15.545 6.558a9.4 9.4 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.7 7.7 0 0 1 5.352 2.082l-2.284 2.284A4.35 4.35 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.8 4.8 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.7 3.7 0 0 0 1.599-2.431H8v-3.08z"/>
                                  </svg> Copia de seguridad en (Google Drive)
                        </label>
                  </div>
                      
                  <div class="form-check">
                        <input class="form-check-input" type="radio"  name="backup" id="manual" >
                        <label class="form-check-label" for="manual">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-arrow-down-fill" viewBox="0 0 16 16">
                                    <path d="M8 2a5.53 5.53 0 0 0-3.594 1.342c-.766.66-1.321 1.52-1.464 2.383C1.266 6.095 0 7.555 0 9.318 0 11.366 1.708 13 3.781 13h8.906C14.502 13 16 11.57 16 9.773c0-1.636-1.242-2.969-2.834-3.194C12.923 3.999 10.69 2 8 2m2.354 6.854-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 1 1 .708-.708L7.5 9.293V5.5a.5.5 0 0 1 1 0v3.793l1.146-1.147a.5.5 0 0 1 .708.708"/>
                                  </svg> Realizar manualmente
                        </label> 
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" checked  name="backup" id="manual" >
                        <label class="form-check-label" for="manual">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle me-1" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                    <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8"/>
                                  </svg>No hacer copia de seguridad
                        </label> 
                      </div> 
                      <span style="font-size: 10px;" class="text-white-50 ms-3">
                            <!-- <strong style="font-size: 10px;" class="text-white-50">()</strong> -->
                            Puede perder su informacion tales como su configuracion, ventas, clientes y mas
                      </span>
                 
            </div>
      </section>
      <style>
            
      </style>
      <a href="{%  url 'estudios:logout' %}">
            <button class='position-absolute bottom-0 end-0 me-4 mb-4 bg-white bg-opacity-10 border-0 rounded-5 ps-3 pe-3 p-2 text-white ' style="font-weight: bold;">
                  Cerrar session
            </button>
      </a>
      
</section>


<script>
      document.getElementById('flexRadioDefault1').addEventListener('change', function() {
            if (this.checked) {
                  document.querySelector('.btn.btn-warning').click();
            }
      });

      document.getElementById('flexRadioDefault2').addEventListener('change', function() {
            if (this.checked) {
                  document.querySelector('.btn.btn-warning').click();
            }
      });

      function toggleOptions() {
                  let options = document.getElementById('options2' );
                  if (options.classList.contains('d-none')) {
                        options.classList.remove('d-none');
                  } else {
                        options.classList.add('d-none');
                  }
                  document.querySelectorAll('.btn-optione' + id ).forEach(function(element) {
                        element.classList.toggle('rotate-90');
                  });
            }

            document.addEventListener('contextmenu', function(event) {
                  event.preventDefault();

            });

      </script>
</script>


{% endblock  %}