
{% extends "base/base.html" %}
{% block content %}
<style>
      
      .nav .configuration {
            color: #ffc107;
            font-weight: bolder;
      }
      .nav .configuration svg {
            color: #ffc107 !important;
      }
      .nav .configuration span {
            color: #ffc107;
      }
      .btn-atras  {
            display: none;
      }
      .div {
            width: 490px;
            min-width: 490px;
            height: 250px;
            border: 0px solid;
            background-color: rgba(22, 9, 25, 0.055);
            border-radius: 3.5rem;
            background-color: rgb(11, 11, 11);
            padding: 2rem;
            margin: 0.2rem;
      }
      label {
            font-size: 14px;
            font-weight: bold;
            color: rgba(255, 255, 255, 0.821); 
            cursor: pointer;
      }
      .moptions ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
            }

            .moptions ul li {
                  color: white;
                  font-size: 14px;
                  padding: 5px 0;
                  background-color: rgba(70, 70, 70, 0.397);
                  margin-top: 0.2rem;
                  padding: 0.7rem;
                  border-radius: 0.8rem;
                  font-weight: bold;
                  cursor: pointer;
            }
            .moptions ul li:hover {
                  color: #ffc107;
                  font-weight: bold;
                  background-color: rgba(36, 36, 36, 0.528);
            }
            .moptions ul li svg {
                  margin-right: 0.7rem;
            }

            .rotate-90 {
                    transform: rotate(90deg);
                    transition: transform 0.3s ease-out;
            }
</style>


<section class="text-white p-3  w-100 pe-0 pt-0 d-flex flex-wrap align-content-start">
      <div   data-aos="fade-left" style="transition: 0.5s;" class="w-100"
            style="background-color: #35343400; border-radius: 0rem;">
            {% include 'configuration/cp/profile.html' %}
      </div>
<div  data-aos="fade-left" style="transition: 1s; transition-delay: 0.1s;" class="w-100 d-flex " >
      <button onclick="toggleOptions()"  class='start-0  d-none text-white btn-optione{{p.id}} text-decoration-none bg-white bg-opacity-10 p-2 ms-2  border-1 rounded-5' style="font-size: 12px ; font-weight: bold; width: 36px; height: 36px; border: 1px solid rgb(63, 63, 63) !important; margin-top: 0.5rem;">
            <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots text-white-50" viewBox="0 0 16 16">
                        <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                        </svg>
            </span>
      </button> 
      <h4 style="font-weight: bold;"
            class="ms-3"> 
            Configuración del sistema
      </h4>
</div>
<p style="font-size: 12px;" class="text-white-50 ms-4 w-100 p-0 m-0">
      Ajustas las funciones del sistema segun tus necesidades
</p>

<section class="d-flex overflow-auto w-100 divs ">
      <div data-aos="fade-left" style="transition: 0.5s;" class="div">
            <h5 style="font-weight: bold;"
                  class="ms-3"> 
                  Aspecto del sistema
            </h5>
            <div class="form-check">
                  <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"    {% if request.user.config.mode %} checked      {% endif %}>
                        <label class="form-check-label" for="flexRadioDefault1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-moon-stars-fill" viewBox="0 0 16 16">
                                    <path d="M6 .278a.77.77 0 0 1 .08.858 7.2 7.2 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277q.792-.001 1.533-.16a.79.79 0 0 1 .81.316.73.73 0 0 1-.031.893A8.35 8.35 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.75.75 0 0 1 6 .278"/>
                                    <path d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.73 1.73 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.73 1.73 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.73 1.73 0 0 0 1.097-1.097zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                              </svg> Noche de estrellas
                        </label>
            </div>
                
            <div  class="form-check">
                  <input class="form-check-input" type="radio"  name="flexRadioDefault" id="flexRadioDefault2" {% if request.user.config.mode == False %} checked      {% endif %}>
                  <label class="form-check-label" for="flexRadioDefault2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cloud-moon-fill" viewBox="0 0 16 16">
                              <path d="M11.473 11a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5z"/>
                              <path d="M11.286 1.778a.5.5 0 0 0-.565-.755 4.595 4.595 0 0 0-3.18 5.003 5.5 5.5 0 0 1 1.055.209A3.6 3.6 0 0 1 9.83 2.617a4.593 4.593 0 0 0 4.31 5.744 3.58 3.58 0 0 1-2.241.634q.244.477.394 1a4.59 4.59 0 0 0 3.624-2.04.5.5 0 0 0-.565-.755 3.593 3.593 0 0 1-4.065-5.422z"/>
                            </svg> Noche oscura 
                  </label> <br>
                  <span style="font-size: 10px;" class="text-white-50">
                        <strong style="font-size: 10px;" class="text-white-50">(20% mas veloz)</strong>
                        Ideales para conexiones lentas
                  </span>
                </div>
                  <div class='mt-4 w-100 d-flex'>
                        <form action="" method="post">
                              {% csrf_token %}
                              <input type="hidden" name="mode" value="true">
                              <button class="btn d-none btn-warning rounded-5"
                              style='font-size: 14px; font-weight: bold;'> 
                                    Cambiar
                              </button>
                        </form>
                  </div>
      </div>
      </section>
      <a href="{%  url 'estudios:logout' %}">
            <button class='position-absolute bottom-0 mt-3 end-0 me-4 blur-20 mb-4 border-0 rounded-5 ps-3 pe-3 p-2  ' style="font-weight: bold; color: #ff3e3e; background-color: #46040479;">
                  Cerrar  sesión
            </button>
      </a>
</section>


<script>
      document.getElementById('flexRadioDefault1').addEventListener('change', function() {
            if (this.checked) {
                  document.querySelector('.btn.btn-warning').click();
            }
      });

      document.getElementById('flexRadioDefault2').addEventListener('change', function() {
            if (this.checked) {
                  document.querySelector('.btn.btn-warning').click();
            }
      });

      function toggleOptions() {
                  let options = document.getElementById('options2' );
                  if (options.classList.contains('d-none')) {
                        options.classList.remove('d-none');
                  } else {
                        options.classList.add('d-none');
                  }
                  document.querySelectorAll('.btn-optione' + id ).forEach(function(element) {
                        element.classList.toggle('rotate-90');
                  });
            }

            document.addEventListener('contextmenu', function(event) {
                  event.preventDefault();

            });

      </script>
</script>


{% endblock  %}