<div class="d-flex">
      <img src="{{service.img.url}}" alt=""
      style="width: 30px; height: 30px;" class="me-2 object-fit-cover rounded-circle">
      <h6 class="bg-white bg-opacity-10 mb-2 text-white rounded-5 p-2 ps-3 pe-3"
      style="width: max-content;">
       {{service.name}}
</h6>
</div>
<p class="text-white-50 m-0 mb-3 ms-2" style="font-size: 14px;">
      Se le aplicara el porcentaje o el monto que prefieras a cada plan selcionado
</p>
<section class="text-white w-100">
      <div class="w-100 m-3 bg-white bg-opacity-10 rounded-5 p-3" 
            style="max-width: 28rem; height: 15rem;">

            <div class="mb-3  d-flex justify-content-start">
                  <input type="checkbox" id="toggleOferta" onclick="toggleContentOferta()" class="d-none">
                  <label for="toggleOferta"
                  class="bg-white bg-opacity-10 rounded-5 p-2 pe-3 ps-3"
                  style="font-size: 18px; cursor: pointer;">Abrir oferta</label>
            </div>
            <div id="contentOferta" class="content-oferta" style="display: none; ">
                  <!-- Aquí va el contenido de la oferta -->
                    <div class="d-flex justify-content-around w-100">
                              <input type="radio" id="optionSelect" name="option" onclick="toggleOption('select')" 
                              style="margin-top: 0.4rem;">
                              <label for="optionSelect">Ingresar porcentaje</label>
                              <input type="radio" id="optionInput" name="option" onclick="toggleOption('input')" class="ms-3"
                              style="margin-top: 0.4rem;">
                              <label for="optionInput">Introducir cantidad</label>
                    </div>
                    <div id="selectOption" style="display: none;">
                              <select name="discount" class="form-select bg-white bg-opacity-10 rounded-4 mt-2  mb-2 p-2 ps-3">
                                    <option value="10">Descuento 10%</option>
                                    <option value="20">Descuento 20%</option>
                                    <option value="30">Descuento 30%</option>
                                    <option value="40">Descuento 40% </option>
                                    <option value="50">Descuento 50%</option>
                            </select>
                            <div>
                                    <button type="submit"
                                    class="bg-primary  text-white border-0 p-1 pe-3 ps-3 rounded-5 ">Aplicar</button>
                            </div>

                    </div>
                    <div id="inputOption" style="display: none;">

                                    <input type="text" id="mount"  name="discount-custom"  placeholder="Ejemplo: $3,500" 
                                    class="rounded-4 bg-white bg-opacity-10 border-0 p-2 ps-4 pe-4 mb-2 mt-2">
                                    <div>
                                          <button type="submit"
                                          class="bg-primary btn-mount  d-none text-white border-0 p-1 pe-3 ps-3 rounded-5 ">Aplicar</button>
                                    </div>

                    </div>

                    <script>
                              function toggleOption(option) {
                                      var selectOption = document.getElementById('selectOption');
                                      var inputOption = document.getElementById('inputOption');
                                      if (option === 'select') {
                                                selectOption.style.display = 'block';
                                                inputOption.style.display = 'none';
                                      } else if (option === 'input') {
                                                selectOption.style.display = 'none';
                                                inputOption.style.display = 'block';
                                      }
                              }
                    </script>

      </div>

            <script>
                  function toggleContentOferta() {
                        var content = document.getElementById('contentOferta');
                        if (document.getElementById('toggleOferta').checked) {
                              content.style.display = 'block';
                        } else {
                              content.style.display = 'none';
                        }
                  }
            document.getElementById('mount').addEventListener('input', function (e) {
                  var value = e.target.value;
                  value = value.replace(/\D/g, '');
                  value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                  e.target.value = value;

                  if( parseInt(e.target.value)  > 0 ){
                        document.querySelector('.btn-mount').classList.remove('d-none')

                  }else {
                        document.querySelector('.btn-mount').classList.add('d-none')

                  }
            });
            </script>


      </div>
</section>