{% load  humanize %}
<style>
            .moptions ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
            }
            .moptions ul li {
                  color: white;
                  font-size: 14px;
                  padding: 5px 0;
                  background-color: rgba(70, 70, 70, 0.397);
                  margin-top: 0.2rem;
                  padding: 0.7rem;
                  border-radius: 1rem;
                  font-weight: bold;
                  cursor: pointer;
            }
            .moptions ul li:hover {
                  color: #ffc107;
                  font-weight: bold;
                  background-color: rgba(36, 36, 36, 0.528);
            }
            .moptions ul li svg {
                  margin-right: 0.7rem;
            }
            .rotate-90 {
                    transform: rotate(90deg);
                    transition: transform 0.3s ease-out;
            }
</style>
<div id="options{{s.id}}" class="bg-white d-none  bg-opacity-10 p-2 moptions rounded-5 z-2 blur-50 position-absolute top-0 start-0 "
      style="height: 10rem; width: 14rem; margin-top: 18.8rem;"> 
      <ul class="mt-1">
            <a href="{% url "estudios:service-update" s.id %}">
                  <li class="editar">  
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen-fill" viewBox="0 0 16 16">
                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001"/></svg> Editar 
                  </li>
            </a>
            <a href="{% url "estudios:service-delete" s.id %}"> 
                  <li class="delete"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                              <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                        </svg> 
                        Eliminar
                  </li>
            </a>
            <a href="{% url "estudios:ofertas-service" s.id %}">
                  <li class="carateristicas">
                        <i class="bi bi-tags-fill me-2" style="font-size: 16px;"></i>
                         Ofertas {% if s.is_offer %}
                         {% if s.mount > 0 %}
                               ${{s.mount|floatformat:0|intcomma}} 
                              {% else %}
                               {{s.discount}}%
                         {% endif %}
                         {% endif %}
                  </li>
            </a>
      </ul>
</div>

