{% load humanize %}
<div  class="d-flex position-absolute top-0  start-0 blur-5 rounded-4 vh-100 z-2 div-oferr-active   justify-content-center align-content-center flex-wrap w-100">
      <div style="max-width: 40rem; height: max-content;
      background-color: #1a1a1add;"
            class="w-100  p-4 rounded-5 text-white  d-flex flex-wrap ">
            <strong class="bg-white bg-opacity-10 rounded-5 pe-3 ps-3 p-2">
                  Ya existe una oferta del
                  {% if service.discount > 0 %}
                        {{service.discount}}%
                  {% endif %}
                  {% if service.mount %}
                        ${{service.mount|intcomma}}
                  {% endif %}
            </strong>
            <p class="text-white-50 ms-2  w-100">
                  Los planes en esta lista tienen una oferta aplicada 
            </p>
            <li class="w-100" style="list-style:decimal;">PLAN PREMIUM </li>
            <li class="w-100" style="list-style:decimal;">PLAN PLATINUM</li>
            <span class="w-100 mt-4">
                  ¿Deseas eliminar esta oferta?
            </span>
                  <div class="w-100 mb-1">
                        <button class="bg-white bg-opacity-10 text-white p-2 ps-3 pe-3 border-0 rounded-5 "
                        style="font-weight: bold;">
                              Si, ya no la quiero
                        </button>
                        <button onclick="OpenOffer()" class="ps-3 pe-3 p-1 bg-transparent text-white border-0 rounded-5 text-white-50"
                        style="font-weight: bold;">
                        No, solo voy a modificarla
                  </button>
                  </div>
      </div>
</div>