<style>
      .btn {
            width: 10rem;
      }
      @media (max-width: 600px) {
            .div-svg {
                  justify-content: center !important;
            }
            .btn {
                  width: 100%;
            }
      }
</style>
<section class="d-flex flex-wrap justify-content-center position-absolute top-0 end-0 z-3 vh-100 blur-5 align-content-center w-100" style="      background: linear-gradient(to bottom, transparent, #101010), linear-gradient(to top,#101010 , #10101081);">
      <div data-aos='fade-down' style=' max-width:30rem;
      background-color: #191919; transition-duration: 2s; border: 1px solid rgba(255, 255, 255, 0.082); border-radius: 2.5rem;'  
      class='d-flex m-2 justify-content-center  p-3 align-content-center    flex-wrap text-white shadow'>

      <div  class='w-100  bg-black bg-opacity-10 p-3 rounded-5 d-flex ' style="margin-top: 2px;">
            <div class="d-flex flex-wrap align-content-center">
                  <i class="fi fi-sr-safe-box me-3 ms-2 text-white-50" style="font-size: 40px;"></i>
            </div>
            <div class="d-flex align-content-center flex-wrap">
                  <h5 class='m-0 p-0 w-100 text-white-50 bold text-uppercase' >
                        Caja cerrada
                  </h5>
                  <p class="text-white-50 m-0 p-0" style="font-size: 14px;">
                        Caja cerrada. No se pueden registrar más movimientos hasta que se abra una nueva.
                  </p>
            </div>
      </div>
      <!-- <hr class="w-100  text-white-50"> -->
      <div class="  w-100  d-flex flex-wrap justify-content-start  mt-2">
            <button class="btn  w-100 bg-black bg-opacity-10  text-white-50  rounded-5 p-2 btn-abrir"
                  style="
                   /* background-color: #181818; */
                         font-weight: bold; border: 0px solid rgba(84, 84, 84, 0.544);"
                  onclick="window.location.href= '{% url "estudios:box-create" %}'">
                  Abrir ahora
            </button>
            <style>
                  .btn-abrir:hover {
                        background-color: #191919 !important;
                        border: none !important;
                  }
            </style>

      </div>
</div>

</section>


