{% load humanize %}
<div class='  p-4 rounded-5' style="background-color: #19191900;">
      <table class="w-100">
            <thead>
                  <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Acciones</th>
                  </tr>
            </thead>
            <tbody>
                  {% for adicional in adicionales %}
                  <tr>
                        <th class='border-0 text-white-50'>{{ forloop.counter }}</th>
                        <td class='border-0 text-white-50'>{{ adicional.name }}</td>
                        <td class='border-0 text-white-50'>${{ adicional.price|intcomma }}.00</td>
                        <td class='border-0'>
                              {% if adicional.pay == False%}
                              <form action="" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete" value="{{ adicional.id }}">
                                    <button type="submit" onclick="PreventSend(this.id)"
                                     id="adicional-delete-{{adicional.id}}" class="btn bg-transparent text-danger rounded-5 btn-sm" style='font-weight: bold;'> - Eliminar</button>
                              </form>
                              <form action="" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="aplicar-pay" value="{{ adicional.id }}">
                                    <button type="submit" onclick="PreventSend(this.id)"
                                     id="adicional-pay-{{adicional.id}}" class="btn bg-transparent text-primary rounded-5 btn-sm" style='font-weight: bold;'> Aplicar pago</button>
                              </form>
                              {% else %}
                              ...
                              {% endif %}
                        </td>
                  </tr>
                  {% endfor %}
            </tbody>
      </table>
</div>