{% load humanize %}
<div class=' bg-white bg-opacity-10 p-3 rounded-4'>
      <table class="w-100">
            <thead>
                  <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Precio</th>
                        <th>
                              Acciones
                        </th>
                  </tr>
            </thead>
            <tbody>
                  {% for adicional in adicionales %}
                  <tr>
                        <th class='border-0'>{{ forloop.counter }}</th>
                        <td class='border-0'>{{ adicional.name }}</td>
                        <td class='border-0'>{{ adicional.description }}</td>
                        <td class='border-0'>{{ adicional.price|intcomma }}.00</td>
                        <td class='border-0'>
                              {% if sale.finalize == False%}
                              <form action="" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete" value="{{ adicional.id }}">
                                    <button type="submit" class="btn bg-transparent text-danger rounded-5 btn-sm" style='font-weight: bold;'> - Eliminar</button>
                              </form>
                              {% else %}
                              ...
                              {% endif %}
                        </td>
                  </tr>
                  {% endfor %}
            </tbody>
      </table>
</div>