<div class="w-100 " style="height: 18rem;">
      <div style=" height: 22rem; background-color: #191919;" class="w-100 p-3 rounded-5 d-flex justify-content-center align-content-center flex-wrap">
            <h6 class=" text-white m-0 " 
            style="font-weight: bold; font-size: 18px; font-style: italic;">
                        No hay datos para mostrar
            </h6>
            <p style="font-size: 12px;" class="w-100 text-center text-white-50">
                  Puede que no hayan citas agendadas o reservadas
            </p>
      </div>
</div>