
<div style=" height: 80%; border-radius: 2.6rem; background-color: #191919;" class="w-100 p-3  d-flex justify-content-center align-content-center flex-wrap ">
      <h6 class=" text-white m-0 " 
      style="font-weight: bold; font-size: 18px; font-style: italic;">
      ¡Ups! No hay citas disponibles por ahora.
      </h6>
      <p style="font-size: 14px;" class="w-100 text-center text-white-50">
            Es posible que ya se hayan reservado todas, busque en la seccion de abajo o en el buscador la cita que deseas encontrar.
      </p>
</div>
