<style>

</style>
<div class="position-absolute bottom-0 w-100 d-flex justify-content-end z-2 mb-2">
      <select class="form-select bg-warning  text-black bold me-3 rounded-5 mb-2" 
            style="width: max-content;" 
            onchange="location.href='?filter=' + this.value;">
            <option value="today" {% if filter_option == 'today' %}selected{% endif %}> ({{sales_reservers|length}}) Hoy </option>

            <option value="morning" {% if filter_option == 'morning' %}selected{% endif %}> ({{sales_reservers|length}}) Esta mañana </option>
            <option value="afternoon" {% if filter_option == 'afternoon' %}selected{% endif %}> ({{sales_reservers|length}}) Esta tarde </option>

            <option value="tomorrow" {% if filter_option == 'tomorrow' %}selected{% endif %}>  ({{sales_reservers|length}}) Mañana </option>
            <option value="week" {% if filter_option == 'week' %}selected{% endif %}> ({{sales_reservers|length}}) En esta semana </option>
      </select>
</div>