
<style>
      input::placeholder {
            font-weight: bold !important;
      }

      select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
      }

      #input-s {
            color: rgba(255, 255, 255, 0.665) !important;
            outline: none;
      }
      #input-s::placeholder {
            color: rgba(255, 255, 255, 0.528) !important;
      }
      @media (min-width: 600px) {
            .div-filter-reservers {
                  max-width: 15rem;
                  margin-bottom: 0.5rem !important; 
            }
      }
</style>

</style>

<div class="d-flex w-100 mt-2">
      <form action="" method="get" >
            <label id="label-select-citas" for="select-citas" 
                  class="text-white p-3  d-flex justify-content-center align-content-center flex-wrap bg-white bg-opacity-10 rounded-circle"
                  style="width: 40px; height: 40px; margin-top: 0.1rem; font-size: 30px;">
                  <i class="bi bi-filter-circle-fill"></i>
            </label>
            <select  id="select-citas" class="form-select border-0 d-none rounded-2  rounded-end-5 border-0 p-2  ps-3" name='filter' style="width: 10rem; outline: none !important; font-weight: bold;" onchange="this.form.submit()" >
                  <option value="all" {% if filter_option == 'all' %}selected{% endif %}>
                        Todos
                  </option>
                  <option value="today" {% if filter_option == 'today' %}selected{% endif %}>
                         Para hoy
                  </option>
                  <option value="hour" {% if filter_option == 'hour' %}selected{% endif %}>
                        Proximas >
                  </option>
                  <option value="past_hour" {% if filter_option == 'past_hour' %}selected{% endif %}>
                        En atraso <
                  </option>
                  <option value="past" {% if filter_option == 'past' %}selected{% endif %}>
                      Dias atras
                  </option>
                  <option value="future" {% if filter_option == 'future' %}selected{% endif %}>
                        Dias futuros
                  </option>
            </select>
      </form>
      <input type="text" class="ps-3 ms-1 search bg-white bg-opacity-10 text-center rounded-5 border-0 p-2 me-2 w-100" placeholder=" ({{sales_reservers|length}})  Buscardor " 
            style="max-width: 17rem; " id="input-s">        
            <button onclick="AternaSection_Citas()" class=" change-section-citas   border-0 text-white bg-white bg-opacity-10 p-2 pe-4 ps-4 rounded-5 "
            style="width: 7rem; font-weight: bold;
            display: none;
            z-index: 1; 
             " >
            Cambiar
      </button>
</div>
<script>
      // let label_select_citas = document.getElementById('label-select-citas');
      // let select_citas = document.getElementById('select-citas');


      // label_select_citas.addEventListener('click', () => {
      //       select_citas.focus();


      //       });
</script>