<style>
      .btn-pos button {
            width: max-content;
            height: 2.2rem;
            text-align: center;
      }
      .btn-pos button:hover {
            background-color: #252525 !important;
            color: rgba(255, 255, 255, 0.786) !important;
      }
      #buscador::placeholder {
            color: #000000;
      }
      @keyframes fade-down-list-services {
            0% {
                  transform: rotateX(90deg);
                  opacity: 0;
            }
            100% {
                  transform: rotateX(0deg);
                  opacity: 1;
            }
      }

      .fade-down-list-services {
            animation: fade-down-list-services 0.8s ease-out ;
            transform-origin: top; 
      }
</style>
<section class="d-flex flex-wrap w-100 justify-content-start">
      <div class="w-100">
            <span class="reloj show-reloj font-inter position-absolute end-0 me-4 z-3 mt-2 d-flex justify-content-center align-content-center flex-wrap text-white"  
            style="font-size: 18px;" ></span>
      </div>
      <div class="btn-pos d-flex " style="background-color: #191919; border-radius: 2rem; padding: 0.4rem;">
            <button onclick="ShowFilterCitas()"
            class="btn d-flex  change-section-citas   border-0 me-1  pe-4 ps-4 rounded-5 "
            style="width: 9rem; font-weight: bold; display:snone; background-color: #202020;
            border: 1px solid rgba(255, 255, 255, 0.786) ;color: rgba(255, 255, 255, 0.786)  " >
                  <i class="fi fi-sr-search me-2 d-flex justify-content-center align-content-center flex-wrap" ></i> 
                  <span style="margin-top: 0px;">Buscador</span>
            </button>
            <button onclick="OpenServicesChoices()" 
                  class="btn btn-open-services ps-4 pe-4 rounded-5 border-0"
                  style="font-weight: bold;   transition: 0.5s; background-color: #191919;color: rgba(255, 255, 255, 0.786) " >
                  <i class="fi fi-sr-box-open-full"></i>
                  Servicos
            </button>
            <button onclick="window.location.href= '{% url "estudios:fast-sale" %}' "  
                  class="btn mt-0 ms-1 me-1  ps-4 pe-4 ms-0   p-0 ps-2 pe-0 rounded-5 d-flex flex-wrap align-content-center text-center" style="font-size: 14px; font-weight: bold; width: 10rem; 
                    color: rgba(255, 255, 255, 0.786) ;">
                  <i class="fi fi-sr-point-of-sale-bill me-1"></i>
                  Venta rapida
            </button>
            <button onclick="window.location.href= '{% url "estudios:gastos-create" %}' "  
                  class="btn  border-0  d-flex flex-wrap align-content-center justify-content-center  ps-4 pe-4 rounded-5 " 
                  style="font-size: 14px; font-weight: bold; color: #ffffffc8; background-color: #191919; width: max-content;">
                  <i class="fi fi-sr-wallet-money  me-1 " ></i>
                  Gestionar gastos
            </button>
      </div>
</section>


<script>
      function OpenServicesChoices() {
            document.querySelector('.div-dropdown').classList.toggle('d-none');

            if(document.querySelector('.div-dropdown').classList.contains('d-none')) {
                  document.querySelector('.btn-open-services').classList.remove('text-black', 'bg-warning')

            } else {
                  document.querySelector('.btn-open-services').classList.add('text-black', 'bg-warning', )
     
            }

            if (!document.querySelector('.div-dropdown').classList.contains('d-none')) {
                    document.querySelector('.div-dropdown').classList.add('fade-down-list-services', );
            }

      }
</script>
<!-- Reloj -->
<script>
      function updateClock() {
            const reloj = document.querySelector('.reloj');
            const now = new Date();
            const meses = [
            "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
            "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
            ];

            const month = meses[now.getUTCMonth()];

            let hours = now.getHours();
            const minutes = now.getMinutes();
            const seconds = now.getSeconds();
             const ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            const strTime =   hours + ':' + (minutes < 10 ? '0' + minutes : minutes)   + ' ' + ampm;
            reloj.textContent =  strTime;
            
      }

      setInterval(updateClock, 1000);
      updateClock();
</script>
