{% load humanize %} {% load static %}
<style>
    .invoice   * {
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }

      .invoice {
        background: #ffffff;
        /* width: 800px; */
        padding: 20px;
        border-radius: 1rem;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        color: black;
        border: 2px  dotted rgb(55, 55, 55) !important;
        transition: 0.3s;
        height: 37rem;
        overflow: auto;
        opacity: 0.4;
      }
      .invoice:hover {
            transform: scale(0.98);
            opacity: 0.9;
            border-radius: 2rem;
    }
    .invoice   .header, .footer {
        text-align: center;
        margin-bottom: 20px;
    }
    .invoice  .header img {
        max-width: 200px;
        /* margin-bottom: 10px; */
    }
    .invoice  .details {
        margin-bottom: 20px;
    }
    .invoice  .details p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .invoice  .table-container {
        margin-bottom: 20px;
    }
    .invoice    table {
        width: 100%;
        border-collapse: collapse;
    }
    .invoice  table th, table td {
        text-align: left;
        border: 1px solid #f0f0f0;
        padding: 10px;
        font-size: 12px;
    }
    .invoice  table th {
        background: #f0f0f0;
        font-weight: bold;
    }
    .invoice  .observations {
        margin-bottom: 20px;
    }
    .invoice  .observations textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #e7e7e7;
        background-color: #f0f0f0;
        border-radius: 1rem;
        font-size: 12px;
        resize: none;
    }
    .invoice .totals {
        text-align: right;
    }
    .invoice .totals p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    .invoice .totals p span {
        font-weight: bold;
    }
</style>
<section class=''>
    <div class="invoice " >
        <div class="header  d-flex  m-0 p-0 position-relative" style="height: 9rem;">
                  {% if  request.user.profile.estudio.img_2  %}
                  <img src="{{ request.user.profile.estudio.img_2.url }}"   class=" object-fit-cover position-absolute   start-0"  width="150"  alt="Click Estudios">
                  {% endif %}

        </div>
    
        <!-- Encabezado -->
        <div class="details d-flex flex-wrap m-0 mb-2 " style="margin-top: 0rem !important;">
    
                <p class="w-100" style="font-size: 12px !important;">
                    <strong>RNC:</strong> 133-22445-3
                </p>
                <p class="w-100" style="font-size: 12px !important;">
                    <strong>FECHA:</strong>  <span class="date "></span> 
                </p>
    
                {% if sale.sale_type != 'consumidor'  %}
                    <p class="w-100" style="font-size: 12px !important;">
                            <strong>RNC CLIENTE:</strong> 
                            {{sale.rnc_client}}    
                            <span class="rnc_cliente">
                            </span>
                    </p>
                    <p class="w-100" style="font-size: 12px !important;">
                        <strong class="text-capitalize">NOMBRE:</strong> 
                        {{sale.name_company_client}}
                        <span  class="name_cliente">
                        </span> 
                    </p>
                {% endif %}
                <p class="w-100" style="font-size: 12px !important;">
                    <strong>NCF: </strong> 
                    {{ncf}} 
                </p>
                {% if sale.type_sale_ncf == True %}
                    <p class="w-100" style="font-size: 12px !important;">
                            <strong>NCF válido hasta:</strong> 31/12/2026
                    </p>
                {% endif %}
                <p class="w-100" style="font-size: 12px !important;">
                    <strong>FACTURA ID:</strong> CLICK-{{sale.id}}
                </p>
        </div>
        
        <div class="w-100 text-center credito-fiscal ">
                <hr class='m-0 p-0 mb-1 '>
                <p  style="font-size: 12px !important;" class='p-0 m-0'> 
                      Válido para
                      {% if sale.sale_type == 'consumidor'  %}
                      consumidor final
                      {% else %}
                      crédito fiscal 
                      {% endif %}
                </p>
                <hr class='m-0 p-0 mb-4 mt-1'>
            </div>
    
        <!-- Tabla de productos -->
          <div class="table-container"  style="font-size: 14px !important;">
              <table>
                    <thead>
                      <tr>
                          <th style="font-size: 10px !important;">CT.</th>
                          <th style="font-size: 10px !important;">DESCRIPCIÓN</th>
                          <th style="font-size: 10px !important;">UNITARIO</th>
                          <th style="font-size: 10px !important;">ITBIS</th>
                          <th style="font-size: 10px !important;">TOTAL</th>
                      </tr>
                    </thead>
                    <tbody>
                    <input type="number"  class="d-none" style="display: none;"  value="{{sale.plan.price}}" id="plan-price">
                    <input type="number"  class="d-none" style="display: none;" value="{{sale.itbis}}"  id="itbis">
                    <tr>
                          <td>1</td>
                          <td> {{sale.name_plan}} - {{sale.description_plan}} </td>
                          <td class='price-unitario'>
                              ${{sale.price_plan|intcomma}}.00 
                              
                            </td>
                            <td class="ITIBIS"> ${{sale_itebis}} </td>
                            <td class="TOTAL">
                                ${{sale_price_unitario|intcomma}}
                            </td>
                    </tr>
                    {% if sale.sale_adicionales.all %}
                            {% for option in sale.sale_adicionales.all %}
                                <tr>
                                    <td>1</td>
                                    <td class='text-capitalize'>{{ option.name }} - {{ option.description }}</td>
                                    <td > ${{option.price|intcomma}}.00 </td>
                                    <td class='option-itibis' data-price="{{ option.price }}">{{ option.sale.itbis }}%</td> 
                                    <td class='option-total' data-price="{{ option.price }}">
                                            ${{ option.price|floatformat:2|intcomma }}
                                    </td> 
                                </tr>
                            {% endfor %}
                    {% endif %}
                  </tbody>
              </table>
          </div>
          <div class="observations w-100">
              <p class="m-0 text-white"><strong style="font-size: 13px;">...</strong></p>
              <textarea rows="9"  placeholder="Escribe tus observaciones aquí… ¡Queremos escucharte!"></textarea>
          </div>
          <div class="totals d-flex justify-content-end d-none" >
                <table style="border-collapse: collapse; width: 12rem; font-family: Arial, sans-serif;">
                      <tbody>
                          <tr>
                              <td style="padding: 8px; font-weight: bold; color: black;">Neto</td>
                              <td style="padding: 8px; text-align: right;" class="NETsO" > ${{total|intcomma}} </td> 
                          </tr>
                          <tr>
                              <td style="padding: 8px; font-weight: bold; color: black;">ITBIS</td>
                              <td style="padding: 8px; text-align: right; " class="ITIBIS_NETOz">${{total_itebis|intcomma}}</td>
                          </tr>
                          {% if sale.discount %}
                          <tr>
                            <td style="padding: 8px; font-weight: bold; color: black;">Descuento</td>
                            <td style="padding: 8px; text-align: right;" class="TOTAL_NETOz">
                               ${{total_itebis|intcomma}}</td>
                          </tr>
                          {% endif %}
                          <tr>
                              <td style="padding: 8px; font-weight: bold; color: black;">Total</td>
                              <td style="padding: 8px; text-align: right;" class="TOTAL_NETOz">
                                        ${{total_con_i|intcomma}}
                            </td>
                          </tr>
                      </tbody>
                  </table>
          </div>
      </div>
    <div>
        {% if sale.payment %}
        {% if sale.sale_type == 'credito' %}
    <div  style="transition-delay: 1s; transform-origin: 1s; width: 30rem;" class='text-white  d-flex justify-content-center flex-wrap search-auto d-none' >
                <div class="w-100 text-start">
                    <h4 class="text-centers">
                        Buscar empresa en la DGII
                    </h4>
                    <p style="font-size: 14px;" class="text-white-50 p-0">
                        Busca un cliente por nombre o RNC/Cedula
                    </p>
                </div>
    
                <iframe src="https://dgii.gov.do/app/WebApps/ConsultasWeb2/ConsultasWeb/consultas/rnc.aspx?RNC" class=" rounded-5" style="height: 600px; border: 24px solid white; width: 100%;"></iframe>
    
                <form action="" method="post">
    
                    {% csrf_token %}
                <div class="d-flex mt-3">
                        <input type="text" name="search_name" id="search_name" class='form-control text-white rounded-5 border-0 p-1 me-1 pe-3 ps-3 text-center m-0' 
                        placeholder="Nombre"
                        style="background-color: rgb(26, 26, 26) !important; height: 3.1rem;">
    
                        <input type="text" name="search_rnc" id="search_rnc" class='form-control text-white rounded-5 border-0 p-1 ms-1 pe-3 ps-3 text-center m-0' 
                        placeholder="RNC/Cedula"
                        style="background-color: rgb(26, 26, 26) !important; height: 3.1rem;">
                    </div>
                    <button id="applyButton" class="btn btn-primary p-1 rounded-5 w-100 m-0 mt-2 ms-2 pe-4 ps-4" 
                    style="font-weight: bold; height: 2.9rem; display: none;">
                    Aplicar a factura
                </button>
            </form>
    
                <script>
    
                   
                    document.addEventListener('DOMContentLoaded', function() {
                        const searchName = document.getElementById('search_name');
                        const searchRnc = document.getElementById('search_rnc');
                        const applyButton = document.getElementById('applyButton');
    
                        function toggleButton() {
                            if (searchName.value.trim() !== '' && searchRnc.value.trim() !== '') {
                                applyButton.style.display = 'block';
                            } else {
                                applyButton.style.display = 'none';
                            }
                        }
    
                        searchName.addEventListener('input', toggleButton);
                        searchRnc.addEventListener('input', toggleButton);
    
                        searchRnc.addEventListener('input', function() {
                            toggleButton();
                            document.querySelector('.rnc_cliente').textContent = searchRnc.value;
                        });
                        searchName.addEventListener('input', function() {
                            toggleButton();
                            document.querySelector('.name_cliente').textContent = searchName.value;
                        });
    
                        searchRnc.addEventListener('input', function() {
                            toggleButton();
                            let rncValue = searchRnc.value.replace(/\D/g, ''); // Remove non-numeric characters
                            if (rncValue.length > 11) {
                                rncValue = rncValue.slice(0, 11); // Limit to 11 digits
                            }
                            searchRnc.value = rncValue.replace(/(\d{3})(\d{5})(\d{1})/, '$1-$2-$3'); // Format as RNC
                            document.querySelector('.rnc_cliente').textContent = searchRnc.value;
                        });


                    });


                </script>
        </div>
        {% endif %}
    
        {% endif %}
    </div>
    
</section>
  <script>
    document.addEventListener('DOMContentLoaded', function() {

            let itibis = 0; // Variable para acumular el ITBIS total
        
            const optionTotals = document.querySelectorAll('.option-total'); // Seleccionar todas las opciones
            const planPrice = parseInt(document.querySelector('#plan-price').value) || 0;
            const itbis_2 = parseInt(document.querySelector('#itbis').value) || 0;
            const itbisAmount_32s = (planPrice * itbis_2) / 100; // Calcular ITBIS del plan
        
            // Iterar sobre cada opción
            optionTotals.forEach(function(optionTotal) {
                const price = parseFloat(optionTotal.getAttribute('data-price')); // Obtener el precio base
                const itbisAmount = price * 0.18; // Calcular el ITBIS individual (18%)
                itibis += itbisAmount; // Acumular ITBIS total
        
                // Actualizar la celda de la columna anterior con el ITBIS individual
                optionTotal.previousElementSibling.innerHTML = '$' + itbisAmount.toLocaleString('en-US', { 
                    minimumFractionDigits: 2, 
                    maximumFractionDigits: 2 
                });
        
                // Mostrar el precio total (precio base + ITBIS) en la columna actual
                const totalWithItbis = price + itbisAmount;
                optionTotal.innerHTML = '$' + totalWithItbis.toLocaleString('en-US', { 
                    minimumFractionDigits: 2, 
                    maximumFractionDigits: 2 
                });
            });
        
            // Calcular el total general incluyendo el ITBIS del plan
            let total = itbisAmount_32s + itibis;
            document.querySelector('.ITIBIS_NETO').innerHTML = '$' + total.toLocaleString('en-US', { 
                minimumFractionDigits: 2, 
                maximumFractionDigits: 2 
            });
        });


    // Fecha actual
    const dateElement = document.querySelector('.date');
    const currentDate = new Date();
    const formattedDate = `${currentDate.getDate()}/${String(currentDate.getMonth() + 1).padStart(2, '0')}/${currentDate.getFullYear()}`;
    dateElement.textContent = formattedDate;


    document.addEventListener('DOMContentLoaded', function() {
            Estudios_Factura();
    });

      let Estudios_Factura = () => {
            $.ajax({
                url: '/ajax/get-estudios/',
                method: 'GET',
                success: function(D) {
                  document.querySelector('.img2-estudios').src = D.img2;
                },
            });
        };


</script>