
<style>
</style>
<div class='d-flex w-100 justify-content-end pe-3'>
      <input type="text"
      class='bg-white bg-opacity-10 blur-5 text-white-50 p-2 ps-3 me-1 rounded-3 rounded-start-5 border-0'
      style='width: 9rem;'
      placeholder="ID: ClLICK-323"
      name="search-factura" id="search-factura">

      <form action="" method="get" >
            <select class="form-select border-0 rounded-2 rounded-end-5 border-0 p-2  ps-3" name='filter' style="width: 11.9rem; outline: none !important; font-weight: bold;" onchange="this.form.submit()" >
                  <option value="all" {% if filter_option == 'all' %} selected {% endif %}>  
                        Mixtas
                  </option>
                  <option value="credito" {% if filter_option == 'credito' %} selected {% endif %}>
                        Credito Fiscales
                  </option>
                  <option value="consumidor" {% if filter_option == 'consumidor' %}  selected {% endif %}>
                        Consumidor Final
                  </option>
                  <option value="anterior" {% if filter_option == 'anterior' %}  selected {% endif %}>
                        Todas las anteriores
                  </option>
            </select>
      </form>
</div>