{% extends "base/base.html" %}
{% block content %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap" rel="stylesheet">
      <style>
            .nav .correos {
                  color: #ffc107;
                  font-weight: bolder;

            }
            .nav .correos svg {
                  color: #ffc107 !important;
            }
            .nav .correos span {
                  color: #ffc107;
            }
            .btn-atras 
            {
                  display: none;
            }
            ul li {
                  list-style: circle;
            }
      </style>

      <section class="d-flex flex-wrap align-content-start pt-5 justify-content-center text-white">
            <div class="d-flex flex-wrap w-100 align-content-center justify-content-center">
                  <h2 data-aos="zoom-in"  class="text-white text-start w-100 ms-5 m-2 me-5 mt-0" style=" transition-delay: 0.1s; 
                  font-size: 4vw; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: bold;"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-envelope-at-fill"  style="width: 10vw;" viewBox="0 0 16 16">
                              <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2zm-2 9.8V4.698l5.803 3.546zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.5 4.5 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586zM16 9.671V4.697l-5.803 3.546.338.208A4.5 4.5 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671"/>
                              <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791"/>
                            </svg> Correos y mensajes
                  </h2>
                  <p data-aos="zoom-in"  style="transition-delay: 0.2s; max-width: 80rem;" class="mt-4 text-white ms-4">
                        El modulo de <span style=" font-weight: bold; color: #ffc107;"> correos</span> se presenta para relsolver la necesidad de gestionar como, cuando, donde, a quien se enviaran los mensajes a los usuarios de ClickEstudios <br>
                        <span>
                              <strong style="color: #ffc107; font-size: 10px;"> 
                                    Se espera que este módulo esté disponible prontamente
                              </strong> 
                        </span>
                  </p>

                  <ul class="mt-0 text-white-50 mt-1 w-100" style="max-width: 80rem;">
                          <strong   data-aos="zoom-in" style="transition-delay: 1s;" class="w-100 text-start mt-5 ">
                              Listado de caracteristicas
                          </strong>
                              <li data-aos="zoom-in" style="transition-delay: 0.1s;"> Gestionar correos, enviar a horas especificas etc </li>
                              <li data-aos="zoom-in" style="transition-delay: 0.2s;"> Crear distintos mensajes para cada epoca de el año </li>
                              <li data-aos="zoom-in" style="transition-delay: 0.3s;"> Enviar promociones, ofertas, facturas por correo</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.4s;"> Mensajes personalizados</li>
                              <li data-aos="zoom-in" style="transition-delay: 0.5s;"> Activar notificaciones automáticas </li>


                    </ul>
                    <!-- <span data-aos="fade-in"  style=" transition-delay: 8s; font-size: 12px; font-weight: bold; color: #ffc107;" class="mt-5 w-100 text-start">
                        Actualmente MHIA se encuentra en fase de desarrollo y se espera que esté disponible <br> para los usuarios de ClickEstudios en el primer trimestre del 2025.
                    </span> -->
            </div>
      </section>


{% endblock  %}