{% extends "base/base.html" %}
{% block content %}
      <style>
            .nav .dashboard {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras 
            {
                  display: none;
            }
      </style>

      <div class="bg-transaparent  d-flex flex-wrap overflow-auto">

            <div class="position-absolute top-0 end-0 me-3 mt-3 d-flex">
                    <button data-aos="fade-left" class='bg-transparent border-0 text-white' onclick="toggleInfo()">
                              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                      <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                              </svg>
                    </button>
              
             
                    <script>
                              function toggleInfo() {
                                      var infoDiv = document.getElementById('infoDiv');
                                      if (infoDiv.style.display === 'none') {
                                                infoDiv.style.display = 'block';
                                      } else {
                                                infoDiv.style.display = 'none';
                                      }
                              }
                    </script>



                  <select data-aos="fade-left" class="form-select bg-transparent border-0 text-white" aria-label="Default select example" style="width: 15rem;">
                        <option value="1" selected> Graficos de periodo </option>
                        <option value="2" disabled>  Graficos por filas  </option>
                        <!-- <option value="3">Visistas</option> -->
                  </select>
                  <select data-aos="fade-left" class="form-select bg-transparent border-0 text-white" aria-label="Default select example">
                        <option value="1" selected> Planes </option>
                        <option value="2" disabled> Servicios </option>
                        <option value="3" disabled>Visistas</option>
                  </select>
            </div>

            <div class="d-flex flex-wrap  pt-4">
                  <div id="infoDiv" class="text-white" class='position-fixed top-0  end-0 mt-5 pt-5' style="display: none;">
                        <strong>
                              ¿Qué tipo de gráfico debo usar?
                        </strong>
                        <p>Bueno debes determinar que te gustaria estudiar, el gráfico de periodos muestra datos a lo largo de un período de tiempo, como meses o años, de cuantas ventas haz obtenido.</p>

                        <strong>
                              ¿Que es el grafico de filas?
                        </strong>

                        <p>El gráfico de filas comunmente muestra datos categóricos, como diferentes tipos de ventos, sirve para visualizar que plan, servicios, ente otros se ha vendido mas</p>
              </div>
       
                  <div class="bg-gray-800    w-75 rounded-lg shadow-md " style="height: 180px;">
                        <canvas id="barChart" class="d-none"></canvas>
                  </div>
                  <div data-aos='fade-in' style='transition-delay: 0.5s; transition-duration: 1s;' class="bg-gray-100   w-100 shadow-md" >
                        <canvas id="lineChart"></canvas>
                  </div>
                 

            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                  const barCtx = document.getElementById('barChart').getContext('2d');
                  const lineCtx = document.getElementById('lineChart').getContext('2d');

                  new Chart(barCtx, {
                        type: 'bar',
                        data: {
                              labels: ['Compleaños', 'Graduaciones', 'Happy baby', 'Bodas', 'Fiestas', 'Eventos'],
                              datasets: [{
                                    label: '# Mejor ',
                                    data: [122, 129, 5, 32, 4, 34],
                                    backgroundColor: [
                                          'rgba(255, 99, 132, 0.2)',
                                          'rgba(54, 162, 235, 0.2)',
                                          'rgba(255, 206, 86, 0.2)',
                                          'rgba(75, 192, 192, 0.2)',
                                          'rgba(153, 102, 255, 0.2)',
                                          'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                          'rgba(255, 99, 132, 1)',
                                          'rgba(54, 162, 235, 1)',
                                          'rgba(255, 206, 86, 1)',
                                          'rgba(75, 192, 192, 1)',
                                          'rgba(153, 102, 255, 1)',
                                          'rgba(255, 159, 64, 1)'
                                    ],
                                    borderWidth: 2
                              }]
                        },
                        options: {
                              responsive: true,
                              plugins: {
                                    legend: {
                                          position: 'end',
                                    },
                                    tooltip: {
                                          callbacks: {
                                                label: function(context) {
                                                      let label = context.label || '';
                                                      if (label) {
                                                            label += ': ';
                                                      }
                                                      if (context.parsed.y !== null) {
                                                            label += context.parsed.y;
                                                      }
                                                      return label;
                                                }
                                          }
                                    }
                              }
                        }
                  });
      

                  new Chart(lineCtx, {
                        type: "line",
                        data: {
                                labels: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                              datasets: [{
                                    label: 'Periodo',
                                    backgroundColor: 'rgba(255, 99, 132, 0.2)',
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    data: [{{en}}, {{fe}}, {{ma}}, {{ab}}, {{ma}}, {{ju}}, {{jul}}, {{ag}}, {{set}}, {{oc}}, {{nov}}, {{dic}} ], 
                                    fill: true,
                              }]
                        },
                        options: {
                              responsive: true,
                              plugins: {
                                    legend: {
                                          position: 'end',
                                    },
                                    tooltip: {
                                          callbacks: {
                                                label: function(context) {
                                                      let label = context.label || '';
                                                      if (label) {
                                                            label += ': ';
                                                      }
                                                      if (context.parsed.y !== null) {
                                                            label += context.parsed.y;
                                                      }
                                                      return label;
                                                }
                                          }
                                    }
                              }
                        }
                  });
            </script>
      </div>
{% endblock  %}