{% extends "base/base.html" %}
{% block content %}
  

      <style>
            .btn-dashboard svg {
                  color: #ffc107 !important;
                  border-radius: 0 !important;
                  background-color: transparent !important;
            }
            .nav .dashboard svg {
                  color: #ffc107 !important;
            }
            .nav .dashboard span {
                  color: #ffc107;
            }

            .btn-atras 
            {
                  display: none;
            }
            .filter-grafico {
                  margin-right: 0.9rem;
            }

            @media (max-width: 600px) { 
                  .img-dasboard {
                        display: block !important;
                  }
                       

            }
      </style>

      <div data-aos="fade-in"
            style="transition: 1s; "
            class="  d-flex flex-wrap m-2 mt-3 align-content-start w-100 vh-100">
            <div class=" w-100 d-flex flex-wrap justify-content-end mb-2 ">
                  <div class="w-100 d-flex flex-wrap justify-content-end">
                        <select 
                        class="form-select  border-0  text-white p-2 ps-4 rounded-5" 
                        aria-label="Default select example" 
                        style="background-color: #191919; width: 8rem;
                        color: #ffffffb9 !important; ">
                        <option value="1" selected> Planes </option>
                        <option value="2" disabled> Servicios </option>
                        <option value="3" disabled>Visistas</option>
                  </select>
                  </div>
                  <div class="w-100 d-flex flex-wrap justify-content-end mt-2">
                        <select 
                        class="form-select   border-0 text-white p-2 ps-4 pe-4   rounded-5"  
                        aria-label="Default select example" 
                        style=" background-color: #191919; width: 14rem;
                        color: #ffffffb9 !important;">
                        <option value="1" selected> Graficos de periodo </option>
                        <option value="2" disabled>  Graficos por filas  </option>
                  </select>
                  </div>
                 
            </div>
            {% include "estudios/cp/grafic-circle.html" %}
            {% include "estudios/cp/grafic-wave.html" %}
      </div>
{% endblock  %}