<div id="info-nav" class="position-sticky div-filter bottom-0 position-relative perfil-nav"
      style="height: 50px; border-radius: 0;
      background: linear-gradient(to bottom, #10101000, #101010e4, #101010) !important;">
      <div class="w-100 position-absolute justify-content-center d-flex bottom-0 start-0" 
      style="min-height: 20px;">
             {% if messages %}
                    {% for m in messages  %}
                        <div id="message" 
                              class=" rounded-5 text-center m-3 p-3 ps-3 pe-3 blur-5"
                              style="width: 80%;border: 1px solid #9cff9ca1; background-color: rgba(1, 34, 1, 0.462); color: #9cff9ca2; font-size: 14px; transform: translateY(25px); opacity: 0; transition: transform 0.5s ease, opacity 0.5s ease;">      
                              {{ m }}  
                        </div>
                    {% endfor %}
                    <script>
                        setTimeout(() => {
                                    const message = document.getElementById('message');
                                    if (message) {
                                    // Animation for appearing
                                    message.style.transform = 'translateY(0)';
                                    message.style.opacity = '1';
                                    // Animation for disappearing
                                    setTimeout(() => {
                                          message.style.transform = 'translateY(+40px)';
                                          message.style.opacity = '0';
                                          setTimeout(() => {
                                                message.remove();
                                          }, 2000); // Wait for the animation to complete before removing
                                    }, 5000);
                              }
                        }, 100);
                    </script>
            {% endif %}
      </div>
</div>