<link rel="stylesheet" href="https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css">
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-brands/css/uicons-brands.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-rounded/css/uicons-solid-rounded.css'>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-chubby/css/uicons-solid-chubby.css'>
<style>

      .nav-links {
            display: flex;
            flex-direction: column;
            padding: 0.4rem;
      }
      .nav-links a {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: #a5a5a5;
            font-size: 16px;
            border-radius: 1rem;
            width: 100%;
            height: 2.7rem;
            padding: 0.2rem;
            transition: 0.2s;
      }
      .nav-links a:hover {
            transform: scale(0.93);
      }
      .nav-links a i {
            margin-right: 20px;
            margin-left: 10px;
            font-size: 20px;
      }
      .nav-links a span {
            width: 100%;
            font-size: 11px;
            color: #e4e4e4d6;
      }
      .div-icon {
            display: flex; flex-wrap: wrap; align-content: center;
      }
      .div-txt {
            display: flex;
            flex-wrap: wrap;
            border-top: 0; border-left: 0; border-right: 0;
            width: 70%;
      }
      .nav-links h6 {
            margin: 0;
            margin-top: 1.2rem;
            color: #a5a5a5;
            font-size: 10px;
            font-weight: bold;
            width: max-content      ;
            background-color: #2525259f;
            padding: 0.5rem 0.9rem;
            border-radius: 1rem;
      }
      .nav-links .sec-links {
            border-radius: 2rem;
      }
</style>
{% include "nav/new-nav/cp/head-company.html" %}
<div class="nav-links">
      <h6>
            Ventas y operaciones
      </h6>
      <div class="sec-links">
            <a href="{% url 'estudios:dashboard' %}" 
                  class="dashboard" id="dashboard" onclick="PreventSend(this.id)">
                  <div class="div-icon">
                        <i class="fi fi-sr-house-blank"></i>
                  </div>
                  <div class="div-txt">
                        Dashboard
                        <span>
                              Información general de la empresa
                        </span>
                  </div>
            </a>
            <a href="{% url 'estudios:pos' %}" 
                  class="pos" id="pos" onclick="PreventSend(this.id)">
                  <div class="div-icon">
                        <i class="fi fi-sr-payment-pos"></i>
                  </div>
                  <div class="div-txt">
                        POS
                        <span>Punto de venta</span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:box' %}" id="caja" class="caja">
                  <div class="div-icon">
                        <i class="fi fi-sr-safe-box"></i>
                  </div>
                  <div class="div-txt">
                        Caja
                        <span>
                              Costos, ingresos, pagos
                        </span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:contactos' %}" id="clientes" class="contactos   position-relative">
                  <div class="div-icon">
                        <i class="fi fi-sr-users-alt"></i>
                  </div>
                  <div class="div-txt">
                        Clientes
                        <span>
                              Historial y datos de contacto
                        </span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:facturas' %}" id="facturas" class="facturas position-relative">
                  <div class="div-icon">
                        <i class="fi fi-sr-receipt"></i>
                  </div>
                  <div class="div-txt">
                        Facturas
                        <span>
                              Cobros y pagos de clientes</span>
                  </div>
            </a>
      </div>

      <h6>Servicios y paquetes</h6>
      <div class="sec-links">
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:service' %}" id="services" class="services">
                  <div class="div-icon">
                        <i class="fi fi-sr-box-open-full"></i>
                  </div>
                  <div class="div-txt">
                        Servicios 
                        <span> 
                              Administra tus ofertas, precios y mas
                        </span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:plan' %}" id="plans" class="plans">
                  <div class="div-icon">
                        <i class="fi fi-sr-balloons"></i>
                  </div>
                  <div class="div-txt">
                        Planes
                        <span>
                              Opciones de paquetes fotográficos
                        </span>
                  </div>
            </a>
      </div>

      <h6>Contenido y comunicación</h6>
      <div class="sec-links">
            <a  onclick="PreventSend(this.id)" href="{% url 'estudios:gallery' %}" id="gallery" class="galley-a">
                  <div class="div-icon">
                        <i class="fi fi-sr-gallery"></i>
                  </div>
                  <div class="div-txt">
                        Galeria
                        <span>
                              Muestra tus mejores momentos
                        </span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:correos' %}" id="correos" class="correos">
                  <div class="div-icon">
                        <i class="fi fi-sr-envelope-dot"></i>
                  </div>
                  <div class="div-txt">
                        Correos
                        <span>
                              Recordatorios, avisos etc 
                        </span>
                  </div>
            </a>
      </div>

      <h6>Usuarios y ajustes</h6>
      <div class="sec-links">
            <a onclick="PreventSend(this.id)" href="{% url 'accounts:accounts' %}" id="accounts"  class="accounts">
                  <div class="div-icon">
                        <i class="fi fi-sr-user"></i>
                  </div>
                  <div class="div-txt">
                        Cuentas
                        <span>Usuarios, permisos, perfiles</span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url  'estudios:empleados' %}" id="seguridad" class="seguridad">
                  <div class="div-icon">
                        <i class="fi fi-sr-lock"></i>
                  </div>
                  <div class="div-txt">
                        Seguridad y control
                        <span>Roles, accesos, logs</span>
                  </div>
            </a>
            <a onclick="PreventSend(this.id)" href="{% url 'estudios:configuration' %}" id="configuration" class="configuration">
                  <div class="div-icon">
                        <i class="fi fi-sr-settings"></i>
                  </div>
                  <div class="div-txt">
                        Configuración
                        <span>Preferencias generales del sistema</span>
                  </div>
            </a>
      </div>
</div>
<script>
      const enlaces = document.querySelectorAll('.nav-links a');
      enlaces.forEach(link => {
        link.addEventListener('mouseenter', () => {
            const url = link.href;
            // Solo precargar si no se ha hecho ya
            if (!sessionStorage.getItem(url)) {
                  fetch(url, {
                  headers: {
                  'X-Requested-With': 'XMLHttpRequest' // Opcional, puedes manejarlo en el backend si quieres
                  }
                  }).then(response => {
                  if (response.ok) {
                  sessionStorage.setItem(url, 'precargado');

                  }
                  }).catch(err => {
                  console.warn('Error al precargar', url, err);
                  });
             }
        });
      });
    </script>