<a href="{% url 'accounts:update-accounts' request.user.id %}"
class="text-decoration-none">
<div class="p-2  ps-2 blur-0 d-flex" 
            style="background: linear-gradient(to bottom, transparent, #101010), linear-gradient(to top, transparent,#101010c3, #10101025);">
      {% with account=user.socialaccount_set.first %} 
      <img  width="30" height="30" class="rounded-circle me-2"
            style="border: 2px solid rgba(186, 186, 186, 0.283);"
      {% if account and account.extra_data.picture %}
            src="{{ account.extra_data.picture }}" 
      {% else %}
            src="https://ui-avatars.com/api/?name={{ request.user.first_name }}+{{ request.user.last_name }}&background=0D8ABC&color=fff" 
      {% endif %}
      alt="Avatar por defecto" />
      <div class="d-flex flex-wrap align-content-center blur-5" >
            <h6 class="p-0 m-0 w-100 bg-transparent" style="font-size: 13px; color: #73787d;">
                  {{ request.user.first_name }} {{ request.user.last_name }}
            </h6>
            <span style="font-size: 12px; text-transform: capitalize;color: #73787df1;">
                  {{ request.user.profile.get_role_display  }}
            </span>
      </div>
      {% endwith %}
</div>
</a>