
{% extends "base/base.html" %}
{% block content %}
      {% load humanize %}
      <style>
            .nav .caja {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            #openAmount::placeholder {
                  color: white !important;
            }
      </style>

      <div class="text-white d-flex justify-content-center align-content-center w-100  vh-100">
            <div class='w-25 align-content-center justify-content-end d-flex flex-wrap'>
                  <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-x-diamond-fill" viewBox="0 0 16 16">
                  <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L4.047 3.339 8 7.293l3.954-3.954L9.049.435zm3.61 3.611L8.708 8l3.954 3.954 2.904-2.905c.58-.58.58-1.519 0-2.098l-2.904-2.905zm-.706 8.614L8 8.708l-3.954 3.954 2.905 2.904c.58.58 1.519.58 2.098 0l2.905-2.904zm-8.614-.706L7.292 8 3.339 4.046.435 6.951c-.58.58-.58 1.519 0 2.098z"/>
                  </svg>
            </div>
            <div class="w-50  align-content-center justify-content-start-0 "> 
                  <form method="post" action="">
                        {% csrf_token %}
                        {% if is_open %}
                              <input type="hidden" name="close" value="false">
                              <h6>
                                    Confirmar cierre
                              </h6>
                              <p>
                                    Al cerrar la caja no se podrá registrar sus movimientos, ver contabilidad, métricas y más
                              </p>
                              <button type="submit" 
                              class="btn rounded-5 text-white ps-4 pe-4 bg-danger " style='font-weight: bolder;'>
                                    Cerrar
                              </button>
                        {% else %}
                              <input type="hidden" name="open" value="true">
                              <h6>
                                    Apertura de caja administrativa
                              </h6>
                              <p>
                                    Al abrir la caja se podrá registrar sus movimientos, ver contabilidad, métricas y más
                              </p>

                              <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="openAmountCheck" name="mount_aditional" onchange="toggleOpenAmountInput()">
                                    <label class="form-check-label" for="openAmountCheck" 
                                          style='font-weight: bold; cursor: pointer;'> 
                                          ¿Desea ingresar un monto de apertura?
                                    </label>
                              </div>
                              <div id="openAmountInput" style="display: none;">
                                    <input type="text" class="form-control rounded-4 bg-white text-white bg-opacity-10 border-0 p-3 w-50 rounded-4" id="openAmount" name="open_amount" placeholder="Ingrese el monto">
                              </div>

                              <script>
                                    function toggleOpenAmountInput() {
                                          var checkBox = document.getElementById("openAmountCheck");
                                          var inputField = document.getElementById("openAmountInput");
                                          if (checkBox.checked == true){
                                                inputField.style.display = "block";
                                          } else {
                                                inputField.style.display = "none";
                                          }
                                    }
                              </script>

                              <button type="submit" 
                              class="btn rounded-5 text-black ps-4 pe-4 bg-warning mt-3" style='font-weight: bolder;'>
                                    Si, abrir caja
                              </button>
                        {% endif %}
                        
                     
                  </form>
            </div>
      </div>


      <script>
            document.getElementById('openAmount').addEventListener('input', function (e) {
                  var value = e.target.value;
                  value = value.replace(/\D/g, '');
                  value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                  e.target.value = value;
            });
      </script>

{% endblock  %}