<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
<style>
      .card-section .card-info {
            width: 100%;
            height: 160px;
            background-color: #191919;
            border-radius: 2rem;
            border: 1px solid #232323;
            display: flex; 
            color: white;
            padding: 0.5rem;
            border: 1px solid rgba(255, 255, 255, 0.064);
            
      }
      .card-section .card-info div {
            display: flex; flex-wrap:  wrap;
            align-content: center;
            padding: 0.4rem;
      }
      .card-section .card-info div h6 {
            color: white;
            font-size: 18px;
            margin: 0;
      }
      .card-section .card-info div p {
            color: rgba(255, 255, 255, 0.775);
            font-size: 14px;
            /* text-align: justify; */
      }
      .card-section i {
            color: white;
            font-size: 25px;
            background-color: #56565634;
            display: flex; flex-wrap: wrap; 
            align-content: center; justify-content: center;
            border-radius: 50%;
            width: 3rem;
            height: 3rem;
      }
      @media (max-width: 600px) {
            .card-section {
                  grid-template-columns: repeat(1, 1fr) !important;
            }
            .card-section .card-info {
                  border-radius: 2.5rem;
            }

      }
</style>
<section class="card-section w-100 overflow-auto rounded-5 p-2" 
      style="display: grid; grid-template-columns: repeat(3, 1fr);
      gap: 10px; max-height: 50rem;">
      <div class="card-info ">
            <div>
                  <i class="fi fi-ss-selling"></i>
            </div>
            <div>
                  <h6>
                        Panel de Ventas
                  </h6>
                  <p>
                        Visualiza el comportamiento mensual, detecta picos y caídas, y toma decisiones basadas en datos reales
                  </p>
            </div>
      </div>
      <div class="card-info ">
            <div>
                  <i class="fi fi-ss-comment-quote"></i>
            </div>
            <div>
                  <h6>
                        Panel de Citas
                  </h6>
                  <p>
                        Revisa el historial, identifica horas pico y gestiona la disponibilidad de manera eficiente
                  </p>
            </div>
      </div>
      <div class="card-info  ">
            <div>
                  <i class="fi fi-sr-arrow-progress"></i>
            </div>
            <div>
                  <h6>
                        Panel de Progreso
                  </h6>
                  <p>
                        Monitorea el avance de tus objetivos, identifica retrasos y mantén el enfoque en los resultados
                  </p>
            </div>
      </div>
      <div class="card-info  ">
            <div>
                  <i class="fi fi-sr-coins"></i>
            </div>
            <div>
                  <h6>
                        Caja
                  </h6>
                  <p>
                        Monitorea el avance de tus Activos, Costos, ingresos, pagos
                  </p>
            </div>
      </div>
      <div class="card-info  ">
            <div>
                  <i class="fi fi-sr-users-alt"></i>
            </div>
            <div>
                  <h6>
                        Clientes
                  </h6>
                  <p>
                        Conoce mejor a tus clientes, mejora tu comunicación y potencia relaciones duraderas
                  </p>
            </div>
      </div>
      <div class="card-info  ">
            <div>
                  <i class="fi fi-sr-receipt"></i>
            </div>
            <div>
                  <h6>
                        Facturas
                  </h6>
                  <p>
                        Supervisa tu facturación, detecta pagos pendientes y mantén tus finanzas en orden
                  </p>
            </div>
      </div>

</section>