<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
<style>
      .card-section .card-info {
            width: 100%;
            height: 240px;
            background-color: #19191998;
            border-radius: 3.7rem;
            border: 1px solid #232323;
            display: flex; flex-wrap:  wrap;
            align-content: start;

            color: white;
            padding: 1rem;
            border: 1px solid rgba(255, 255, 255, 0.064);
            transition: 0.2s;
      }
      .card-section .card-info:hover {
            transform: scale(0.97);
            background-color: #202020;
      }
      .card-section .card-info div {
            display: flex; flex-wrap:  wrap;
            align-content: center;
            padding: 0.4rem;
      }
      .card-section .card-info div h6 {
            color: white;
            font-size: 18px;
            margin: 0;
      }
      .card-section .card-info div p {
            color: rgba(255, 255, 255, 0.775);
            font-size: 14px;
            /* text-align: justify; */
      }
      .card-section i {
            color: rgba(255, 255, 255, 0.837);
            font-size: 39px;
            background-color: #56565634;
            display: flex; flex-wrap: wrap; 
            align-content: center; justify-content: center;
            border-radius: 50%;
            width: 5rem;
            height: 5rem;
      }
      @media (max-width: 600px) {
            .card-section {
                  grid-template-columns: repeat(1, 1fr) !important;
            }
            .card-section .card-info {
                  border-radius: 2.5rem;
            }

      }
</style>
<section class="card-section  p-1 pt-0 animate__animated animate__fadeInDown" 
      style="display: grid; grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
      gap: 10px; max-height: 50rem;">
      <a href="{% url 'estudios:pos' %}">
            <div class="card-info ">
                  <div>
                        <i class="fi fi-sr-money-laptop"></i>
                        <h6 class="d-flex flex-wrap align-content-center ms-4">
                              Punto de venta (POS)
                        </h6>
                  </div>
                  <div>
                        <p>
                              Visualiza el comportamiento mensual, detecta picos y caídas, y toma decisiones basadas en datos reales
                        </p>
                  </div>
            </div>
      </a>
      <a href="{% url 'estudios:citas' %}">
            <div class="card-info blur-10 ">
                  <div>
                        <i class="fi fi-ss-comment-quote"></i>
                        <h6 class="d-flex flex-wrap align-content-center ms-4">
                              Panel de Citas
                        </h6>
                  </div>
                  <div>
                        <p>
                              Revisa el historial, identifica horas pico y gestiona la disponibilidad de manera eficiente
                        </p>
                  </div>
            </div>
      </a>
      <a href="{% url 'estudios:configuration' %}">
            <div class="card-info blur-10  ">
                  <div>
                        <i class="fi fi-sr-arrow-progress"></i>
                        <h6 class="d-flex flex-wrap align-content-center ms-4">
                              Configuración
                        </h6>
                  </div>
                  <div>
                        <p>
                              Configura opciones clave del sistema, como idioma, tema, accesibilidad, y más. Personaliza tu entorno como prefieras.
                        </p>
                  </div>
            </div>
      </a>
      <a href="{% url 'estudios:box' %}">
            <div class="card-info blur-10  ">
                  <div>
                        <i class="fi fi-sr-safe-box"></i>
                        <h6 class="d-flex flex-wrap align-content-center ms-4">
                              Caja
                        </h6>
                  </div>
                  <div>
                        <p>
                              Monitorea el avance de tus Activos, Costos, ingresos, pagos
                        </p>
                  </div>
            </div>
      </a>
      <a href="{% url 'estudios:contactos' %}">
            <div class="card-info blur-10  ">
                  <div>
                        <i class="fi fi-sr-users-alt"></i>
                        <h6 class="d-flex flex-wrap align-content-center ms-4">
                              Clientes
                        </h6>
                  </div>
                  <div>
                        <p>
                              Conoce mejor a tus clientes, mejora tu comunicación y potencia relaciones duraderas
                        </p>
                  </div>
            </div>
      </a>
      <a href="{% url 'estudios:facturas' %}">
            <div class="card-info blur-10  ">
                  <div>
                        <i class="fi fi-sr-receipt"></i>
                        <h6 class="d-flex flex-wrap align-content-center ms-4">
                              Facturas
                        </h6>
                  </div>
                  <div>
                        <p>
                              Supervisa tu facturación, detecta pagos pendientes y mantén tus finanzas en orden
                        </p>
                  </div>
            </div>
      </a>

</section>