<style>
        @media (max-width: 600px) {  
            .lineChart {
                  background-color: #191919 !important;  
                  max-height: 13.5rem;
                  display: flex; justify-content: center; align-content: end;
                  flex-wrap: wrap;
            }
        }
</style>
<div  style="" 
        class="bg-gray-100 w-100 lineChart h-100 rounded-5  p-2 overflow-hidden ">
      <canvas id="lineChart" class="w-100"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const lineCtx = document.getElementById('lineChart').getContext('2d');
    new Chart(lineCtx, {
        type: "line",
        data: {
            labels: [   '2025', 
            'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre', '2025'],
            datasets: [{
                backgroundColor: 'rgba(255, 99, 132, 0.2)',
                borderColor: 'rgba(255, 99, 132, 1)',
                tension: 0.8,
                data: [ 0,
                 ' {{en}}', '{{fe}}', '{{ma}}', '{{ab}}', '{{my}}', '{{ju}}', '{{jul}}', '{{ag}}', '{{set}}', '{{oc}}', '{{nov}}', '{{dic}}', 70
                ],
                fill: true,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false, 
            scales: {
                x: {
                    grid: {
                        display: false // Elimina las líneas verticales
                    }
                },
                y: {
                    beginAtZero: true, // Asegura que el eje Y empiece en 0
                    ticks: {
                        stepSize: 1, // Muestra solo números enteros
                        callback: function(value) {
                            return Number.isInteger(value) ? value : null;
                        }
                    },
                    grid: {
                        display: false // Elimina las líneas horizontales
                    }
                }
            },
            plugins: {
                legend: {
                    display: false // Elimina el label de la leyenda
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            if (context.parsed.y !== null) {
                                return Math.round(context.parsed.y); // Asegura valores enteros
                            }
                            return '';
                        }
                    }
                }
            }
        }
    });
</script>
