{% extends "base/base.html" %}
{% block content %}
      {% load humanize %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
      <style>
            .sombra-down {
                  display: none !important; 
            }
            .btn-pos svg {
                  color: #ffc107 !important;
                  border-radius: 0 !important;
                  background-color: transparent !important;
            }
            .nav .pos {
                  color: #ffc107;
            }
            .section-escritorio-nav .pos  {
                  color: #ffc107 !important;
                  font-weight: bold;
            }
   
            .section-escritorio-nav .pos span {
                  color: #ffc107;
            }

            .font-inter {
                  font-family: "Inter", sans-serif;
                  font-size: 14px !important;
                  font-style: normal;
            }
            .search {
                  border: 0;
                  width: 10rem;
                  border-radius: 2rem;
                  background-color: #000000;
                  color: rgba(255, 255, 255, 0.275); 
            }
            .search::placeholder {
                  color: rgba(255, 255, 255, 0.829);
            }
            .btn-atras 
            {
                  display: none;
            }
            .result-client {
                  width: 100%;
            }
            .result-client a {
                  width: 100%;
                  color: rgba(255, 255, 255, 0.67);
                  margin-left: 1rem;
                  text-transform: capitalize;
            }
            .result-client .result-client:hover {
                  color: #ffc107 !important;
                  font-weight: bold;
            }

            .div-filter  .btn {
                  font-size: 14px !important;
            }

            @media (max-width: 600px) {
                  .change-section-citas {
                        display: block !important;
                  }
                  .container-pos .parrafo-p {
                        font-size: 14px; 
                        line-height: 16px;
                  }
                  .container-pos h6 {
                        font-size: 16px !important;
                  }
                  .div-filter {
                        height: 3rem;
                        position:sticky !important;
                        bottom: 10.5rem !important;
                        overflow: scroll !important;
                        

                  }
                  .show-reloj {
                        display: none !important;
                  }
                  .sales-reservers, .sale-no-confirm {
                        flex-wrap: wrap !important; 
                        padding-bottom: 5rem;
                  }
                  .div-filter-reservers {
                        display: flex;
                        justify-content: center;
                  }

                  .div-dropdown {
                        margin-top: 0rem !important; 
                  }
                
            }


            .btn-open-nav {
                  border-radius: 0px !important;
            }
            .div-filter-reservers {
                  display: flex !important;
            }
            .dropdown-item {
                  transition: 0.3s;
            }
            .dropdown-item:hover {
                  background-color: #00000018 !important;
                  transform: scale(1.06);
                  border-radius: 1.5rem;
            }
            .buscador {
                  width: 100%;
                  max-width: 20rem;
                  height: 3.4rem;
                  border-radius: 1.5rem;
                  background-color: #191919;
                  border: 2px solid #464646b9;
                  color: rgba(255, 255, 255, 0.553);
                  outline: none !important;
            }
            .buscador::placeholder {
                  color: rgba(255, 255, 255, 0.648) !important;;
            }
</style>

<section class=" {% if ask_due_box != True %} d-none {% else %} d-flex {% endif %}  position-absolute  justify-content-center align-content-center flex-wrap  z-3  vh-100 w-100 blur-5 ask_last_box-section">  
      {% include "component/ask_last_box.html" %}
</section>
<section  class="position-absolute filter-cita  justify-content-center align-content-start d-none flex-wrap  z-3  vh-100 w-100 blur-10" style="    background: linear-gradient(to bottom, transparent, #101010), linear-gradient(to top,#1010107d , #10101081);">  
      <div class="d-flex justify-content-center w-100 pt-3">
            <i  onclick="ShowFilterCitas()" class="fi me-4 text-white fi-sr-circle-xmark" style="font-size: 20px; margin-top: 15px;"></i> <input type="text" id="buscador" class="buscador border-0 text-center  me-1" placeholder="Buscador de citas ">
      </div>
            <div class="result-citas d-flex mt-4 justify-content-center
            flex-wrap overflow-auto" style="max-height: 90vh;">
            </div>
            {% include "pos/cp/filter-citas.html" %}
      </section>
</section>
{% if box_is_open  %}     
<section  class="overflow-auto overflow-x-hidden container-pos position-relative w-100 bg-transparent   pb-5 ">
                  <!-- Seleccionar servicios -->
                  {% include "pos/cp/drop.html" %}
                  {% include "pos/cp/notifications-cita.html" %}
                  
                  {% include "pos/cp/citas-to-day.html" %}
                  
                  
                  <!-- Service select -->
                  {% if service_select %}
                        <div class='mt-5'>
                              {% include "service/service-select.html" %}
                        </div>
                  {% endif %}
                  <!--Seccion de citas no confirmadas-->
                  <section >
                        <div  data-aos="fade-down" style="transition: 1s;" 
                              class='  d-flex position-sticky top-0  w-100 z-2 blur-3  '>
                              {% include "pos/cp/filter-services.html" %}
                              <span onclick="NoficationsCita()" class="  font-inter position-absolute end-0 me-4 z-3 mt-2 d-flex justify-content-center position-relative align-content-center flex-wrap text-white"  
                              style="font-size: 18px;" >
                              <i class="fi fi-sr-bell text-white   z-2 " 
                              style=' font-size: 20px;'></i>
                              <span class="bg-warning p-2 z-2 d-flex justify-content-center flex-wrap align-content-center rounded-circle text-black position-absolute top-0 end-0"
                              style="height: 1rem; width: 1rem;">
                                    {{sales|length}}
                               </span>
                        </span>
                        </div>
                        <h6 class="w-100 text-start m-0 mt-3 text-white"
                              style="font-weight: bold; font-size: 16px;">
                              Citas agendas
                        </h6>
                        <p class="parrafo-p m-3  ms-0 mt-0 mb-0  p-2 ps-0 pb-0 pt-0 text-white-50" 
                              style="text-align: justify;">
                              Las citas confirmadas son aquellas que han sido verificadas y cuentan con algún tipo de abono realizado
                        </p>

                        {% if sales_reservers %}
                              <div class="mt-2  overflow-auto sale-no-confirm d-flex flex-wrap w-100  justify-content-evenly" >
                                    {% for s in sales_reservers %}
                                          {% include "sale/sale.html" %}
                                    {% endfor %}
                              </div>
                              {% else %}
                                    {%  include "pos/cp/card-aviso.html" %}
                        {% endif %}
                  </section>
      </section>
      {% else %}
      <div class="text-white">
            {% include "component/abrir-caja.html" %}
      </div>
      {% endif %}
      <script>
            function updateClock() {
                  const reloj = document.querySelector('.reloj');
                  const now = new Date();
                  const meses = [
                  "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
                  "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
                  ];

                  const month = meses[now.getUTCMonth()];

                  let hours = now.getHours();
                  const minutes = now.getMinutes();
                  const seconds = now.getSeconds();
                   const ampm = hours >= 12 ? 'pm' : 'am';
                  hours = hours % 12;
                  hours = hours ? hours : 12; // the hour '0' should be '12'
                  const strTime =   hours + ':' + (minutes < 10 ? '0' + minutes : minutes)   + ' ' + ampm;
                  reloj.textContent =  strTime;
                  
            }

            setInterval(updateClock, 1000);
            updateClock();
      </script>
      <script>
            function ShowFilterCitas(){
                  document.querySelector('.filter-cita').classList.toggle('d-none')
                  if (!document.querySelector('.filter-cita').classList.contains('d-none')) {
                        document.querySelector('#buscador').focus();
                  }
                  else {
                        document.querySelector('.result-citas').innerHTML = '';
                  }
            }
      </script>
{% endblock  %}



