{% extends "base/base.html" %}
{% block content %}
      <style>
            .nav .pos {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }

      </style>

      <section>
            <div class='d-flex'>
                  {% include "service/filter-services.html" %}
            </div>
            {% if service_select %}
                  <div class='mt-5'>
                        {% include "service/service-select.html" %}
                  </div>
            {% endif %}

            <div>
                  {% if sales %}
                  <div class='mt-5'>
                        {% include "sale/sale.html" %}
                  </div>
            {% endif %}

            </div>
      </section>

{% endblock  %}


