{% load humanize %}
<table class="w-100 text-white">
      <thead>
            <tr>
                  <th>Fecha</th>
                  <th>Descripción</th>
                  <th>Monto</th>
                  <th>Tipo</th>
            </tr>
      </thead>
      <tbody id="movimientos-table">
            {% for movimiento in movimientos %}
            <tr class="movimiento-row" data-tipo="{{ movimiento.tipo }}">
                    <td>{{ movimiento.date|date:"d/m/Y" }}</td>
                  <td>{{ movimiento.description }}</td>
                  <td> ${{ movimiento.mount|intcomma }}.00</td>
                  <td class='text-capitalize'>{{ movimiento.type }}</td>
            </tr>
            {% endfor %}
      </tbody>
</table>
