<style>
      .section-escritorio-nav {
            min-width: 20.5rem;
            width: 20.5rem;
            height: 100dvh;
            overflow-x: hidden;
      }
</style>
<link rel='stylesheet' href='https://cdn-uicons.flaticon.com/3.0.0/uicons-solid-straight/css/uicons-solid-straight.css'>
<link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
<section class="section-escritorio-nav p-1 pb-0 position-relative">
      {% include "nav/new-nav/cp/nav-links.html" %}
      <div class="position-fixed bottom-0 mt-3 z-2" >
            {% include "nav/new-nav/cp/user-profile.html" %}
      </div>
</section>

