{% extends "base/base.html" %}
{% block content %}
<style>
      td {
            color: rgba(255, 255, 255, 0.647);
      }
      .seguridad  {
            color: #ffc107 !important;
      }
      .section-escritorio-nav .seguridad span {
            color: #ffc107;
      }
</style>

<section class='w-100 d-flex flex-wrap align-content-start'>
      <div class="div-top d-flex text-white position-sticky top-0 z-2 blur-20 p-1 p-2 w-100 ">
            <div class="me-3 ms-2 d-flex flex-wrap align-content-center">
                  
                  <i class="fi fi-sr-lock  d-flex flex-wrap p-3 rounded-circle" 
                  style="font-size: 30px; background-color: #19191983;"></i>
            </div>
            <div class="d-flex flex-wrap align-content-center">
                  <h5 class="m-0 mt-3">
                        Seguridad y control
                  </h5>
                  <p class="w-100" style="font-size: 14px;">
                        Gestiona accesos, protege tu información y garantiza el control total de tu sistema 
                  </p>
            </div>
            <!-- <a href="{% url "estudios:moment-create" %}" class="z-2 position-absolute top-0 end-0 mt-2 me-2">
                  <i class="fi fi-sr-multiple" 
                  style="font-size: 20px; background-color: #3a3a39;"></i> 
            </a> -->
      </div>
   
      <div class='w-100 d-flex mt-1  p-3 rounded-4'
            style="background-color: #191919;">
            {% if empleados %}
            <table class="w-100  text-white">
                  <thead >
                        <tr>
                              <th  data-aos="fade-left" style="transition-delay: 0s; width: 2%;">
                                    #
                              </th>
                              <th data-aos="fade-left" style="transition-delay: 0s; width: 20%;">Nombre</th>
                              <th data-aos="fade-left" style="transition-delay: 0.2s; width: 20%;">Apellidos</th>

                              <th data-aos="fade-left" style="transition-delay: 0.3s; width: 25%;">Role</th>
                              <th data-aos="fade-left" style="transition-delay: 0.4s; width: 20%;">Correo</th>

                        </tr>
                  </thead>
                  <tbody>
                        {% for empleado in empleados %}
                        <tr class="pt-1">
                              <td data-aos="fade-left" style="transition-delay: 0s;">{{ forloop.counter }}</td>
                              <td data-aos="fade-left" style="transition-delay: 0.1s;">{{ empleado.first_name }}</td>
                              <td data-aos="fade-left" style="transition-delay: 0.2s;">{{ empleado.last_name }} </td>


                                <td data-aos="fade-left" style="transition-delay: 0.3s;">
                                          <form method="post" action="">
                                                  {% csrf_token %}
                                                  <input type="hidden" name="id" value="{{ empleado.id }}">
                                                  <select name="role" class="form-control bg-transparent bg-opacity-10 text-white-50 border-0" onchange="this.form.submit()">
                                                      {% if request.user.id != empleado.id %}
                                                            <option value="estandard" {% if empleado.profile.role == "estandard" %}selected{% endif %}>Estandar</option>
                                                            <option value="administrativo" {% if empleado.profile.role == "administrativo" %}selected{% endif %}>Administrativo</option>
                                                      {% endif %}
                                                            <option value="administrador" {% if empleado.profile.role == "administrador" %}selected{% endif %}>Administrador</option>
                                                  </select>
                                          </form>
                                </td>
                              <td data-aos="fade-left" style="transition-delay: 0.4s;">{{ empleado.email }}</td>
                              {% if request.user.id != empleado.id %}

                                <td data-aos="fade-left" class="d-flex" style="transition-delay: 0.6s;">
                                      <a href="{% url 'estudios:empleados-delete' empleado.id %}"
                                      class="btn btn-danger border-0 mt-1 bg-transparent text-white"
                                      style="font-weight: bold;">Eliminar</a>
                                      <a href="{% url 'estudios:empleados-update' empleado.id %}" class="btn  mt-1 rounded-5 btn-primary" 
                                      style="font-weight: bold; width: 7rem;"> Modificar </a>
                                    </td>

                              {% endif %}
                        </tr>
                        {% endfor %}
                  </tbody>
            </table>
            {% endif %}
      </div>
      <div>
            <button class="bg-white bg-opacity-10 border-0 p-2 text-white mt-2 rounded-5 ps-3 pe-3">
                  <i class="fi fi-brands-google"></i>
                  Agregar usuario
            </button>
      </div>

</section>
{% endblock  %}