{% extends "base/base.html" %}
{% block content %}

<style>
      .container input 
      {
            background-color: rgb(45, 45, 45) !important;
            height: 3.4rem;
            color: rgb(255, 255, 255) !important;
            border-radius: 1.5rem;
            border: none;
      }
      .container input::placeholder
      {
            color: rgba(255, 255, 255, 0.656);
      }
</style>

<div class="container">

      <form method="post">
            {% csrf_token %}
            <span class='d-none'>
                  {{form.username}}
            </span>
            <div class="form-row d-flex">
                  <div class="form-group col-md-6">
                        <input type="text" name="first_name" class="form-control" placeholder="Nombre" required id="id_first_name">
                  </div>
                  <div class="form-group col-md-6">
                        <input type="text" name="last_name" class="form-control" placeholder="Apellido" required id="id_last_name">
                  </div>
            </div>

            <div class="form-row d-flex flex-wrap w-100 ">   
                  <div class="form-group w-100">
                        <input type="email" name="email" class="form-control" placeholder="Correo electrónico" required id="id_email">
                  </div>
                  <div class="form-group w-100">
                        <input type="password" name="password" class="form-control" placeholder="Contraseña" required id="id_password">
                  </div>
            </div>
            <button type="submit" class="btn btn-primary" style='display: none;'> Crear usuario</button>
      </form>


</div>


<script>
      document.addEventListener('DOMContentLoaded', function() {
            const password = document.getElementById('id_password');
            const confirmPassword = document.createElement('input');
            confirmPassword.type = 'password';
            confirmPassword.name = 'confirm_password';
            confirmPassword.className = 'form-control';
            confirmPassword.placeholder = 'Confirmar Contraseña';
            confirmPassword.required = true;
            confirmPassword.id = 'id_confirm_password';



            const formGroup = document.createElement('div');
            formGroup.classList.add('form-group', 'w-100' )

            formGroup.appendChild(confirmPassword);

            password.parentNode.parentNode.insertBefore(formGroup, password.parentNode.nextSibling);

            const submitButton = document.querySelector('button[type="submit"]');
            submitButton.style.display = 'none';

            function validatePasswords() {
                  if (password.value === confirmPassword.value) {
                        submitButton.style.display = 'block';
                  } else {
                        submitButton.style.display = 'none';
                  }
            }

            password.addEventListener('input', validatePasswords);
            confirmPassword.addEventListener('input', validatePasswords);
      });

      const email = document.getElementById('id_email');
      const username = document.getElementById('id_username');

      email.addEventListener('input', function() {
            username.value = email.value;
      });
</script>
{% endblock  %}
