<section class="p-1 position-relative" style="height: 16rem;">
      <div class="position-relative  " style="min-height: 15.5rem;
      border-radius: 2.9rem; border-bottom-left-radius: 10px;
      background-image: url('{{estudios.background_img.url}}');
      background-position: center; background-size: cover;
      background-repeat: no-repeat;" >
      </div>
      <img  style='transition-delay: 0.5s; transition-duration: 0.6s; border-radius: 2.8rem;
            margin-top:1.3rem; margin-left: 1.3rem; border-bottom-left-radius: 10px;' 
      src="{{estudios.img.url}}" class='position-absolute object-fit-cover top-0  blur-50 start-0 bg-black bg-opacity-50 shadow ' width='230' height="230" alt="Logo">
</section>