{% extends "base/base.html" %}
{% block content %}
      <style>
            .nav .facturas {
                  color: #ffc107;
                  font-weight: bolder;

            }
            .nav .facturas svg {
                  color: #ffc107 !important;
            }
            .nav .facturas span {
                  color: #ffc107;
            }
            .btn-atras 
            {
                  display: none;
            }
            @media (max-width: 600px) {
                  .facturas-sales{
                        display: flex;
                        justify-content: center !important;

                  }
                  
            }
      </style>
      <section class='w-100  overflow-auto  '>
            {% include "factura/cp/filter.html" %}
            <div class='d-flex w-100 flex-wrap'>
                  <h6 class='mt-5'>
                        <strong class="text-white-50">
                               ({{sales|length}})    Facturas recientes
                        </strong>
                  </h6>
                  <div class='facturas-sales d-flex flex-wrap w-100  justify-content-start '  >
                        {% for sale in sales %}
                                     {% include "factura/cp/card-factura.html" %}
                        {% endfor %}
                  </div>

            </div>

      </section>

{% endblock  %}