{% extends "base/base.html" %}
{% block content %}
      <style>
                        .nav .pos {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .inputs input, select
            {
                  background-color: rgba(255, 255, 255, 0.097);
                  border: none;
                  margin: 0.2rem;

            }
      </style>
      <div class="d-flex justify-content-center w-100">
            <section class="d-grid w-100  align-content-center  p-2" 
            style="grid-template-columns: repeat(1, 1fr); gap: 10px; max-width: 700px;">
           
           <div class=" text-white d-flex flex-wrap align-content-start  p-2"  >
                 <i class="fi fi-sr-point-of-sale-bill" style="font-size: 120px;"></i>
                 <h6 class="p-0 m-0 w-100">
                       Session rapida
                 </h6>
                 <p class="text-white-50 p-0 m-0 mb-2">
                  Registra una venta sin fecha, ideal para fotos 2x2 o sesiones rápidas sin necesidad de largas horas de estudio.
                 </p>
           </div>
           <div class="text-white inputs w-100">
                 <form action="" method="post" class="w-100 ">
                       
                       {% csrf_token %}
                       <div class="d-grid w-100 " 
                             style="grid-template-columns: repeat(auto-fit, minmax(310px, 1fr)); gap: 10px;">
                             
                             <input placeholder="Nombre" maxlength="20" class="w-100 text-white rounded-5 p-3 w-100" type="text" name="name" id="name" required> 
                             
                             <input placeholder="Precio" class="w-100 text-white rounded-5 p-3" type="text" name="preci" id="preci" required>
                             
                             <script>
                                   document.getElementById('name').addEventListener('input', function (e) {
                                         var maxLength = 20;
                                         var currentLength = e.target.value.length;
                                         var remainingChars = maxLength - currentLength;
                                         document.getElementById('charCount').textContent = remainingChars;
                                   });
                             </script>
                       </div>
                       <span id="charCount" class="ms-2 text-white-50">20</span>/20
                       {% comment %} <div class="w-100">
                             <textarea name="descripcion" id="descripcion"
                             class="w-100 rounded-5 p-3 text-white" placeholder="Descripcion (opcional)"
                             style="height: 20rem;"></textarea>
                       </div> {% endcomment %}
                       <div class="d-flex justify-content-end">
                             <a onclick="PreventSend(this.id)" id="back-space-sale-fast-sale" href="{% url "estudios:pos" %}" class="btn border-0 btn-secondary accordion bg-transparent rounded-4  align-content-center d-flex flex-wrap  text-white-50" style="font-weight: bold;"> 
                                   <i class="fi fi-sr-left align-content-center d-flex flex-wrap me-2 "></i> Atras
                             </a>
                             <button onclick="PreventSend(this.id)" id="btn-facturar-ahora" type="submit" class="btn bg-white d-none bg-opacity-10 text-white btn-facturar rounded-5 ps-4 pe-4 "
                             style="font-weight: bold; width:7rem; "> 
                                   Facturar 
                             </button>
                       </div>
                 </form>
           </div>
     </section>
      </div>
      <script>
            document.getElementById('preci').addEventListener('input', function (e) {
                  var value = e.target.value;
                  value = value.replace(/\D/g, '');
                  value = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');
                  e.target.value = value;
            });


            let name = document.getElementById('name');
            let preci = document.getElementById('preci');
            function toggleButton() {
                  if (name.value.trim() !== '' && preci.value.trim() !== '') {
                        document.querySelector('.btn-facturar').classList.toggle('d-none', false);
                  } 
                  else {
                        document.querySelector('.btn-facturar').classList.toggle('d-none', true);
                  }
            }
            name.addEventListener('input', toggleButton);
            preci.addEventListener('input', toggleButton);


      </script>

{% endblock  %}