{% extends "base/base.html" %}
{% block content %}
      <style>
            .gallery-item {
                  margin: 5px;
                  border-radius: 10px;
                  overflow: hidd
                  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                  opacity: 0.8;
                  filter: brightness(0.8);
                  transition-duration: 0.5s !important;
            }
            .gallery-item img {
                  display: block;
                  width: 100%;
                  height: auto;
                  border-radius: 3rem;
            }
            .gallery-item:hover {
                    opacity: 0.6;
                    filter: brightness(0.6);
                  cursor: pointer;
            }
            .galley-a {
            color: #ffc107;
            font-weight: bolder;
            transform: scale(1.1);
      }
            .btn-atras
            {
                  display: none;
            }
      </style>
        

                      <a href="{% url "estudios:moment-create" %}"
                        <button class="bg-white bg-opacity-10 rounded-5 me-2 mt-2 pe-3 ps-3 text-white border-0 rounded-3 p-2 position-absolute  end-0 top-0" style='font-weight: bold;'>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                  </svg> Momento
                        </button>
                  </a>

      <!-- Gallery -->
{% if not moments %}
                  <section class="text-white d-flex pt-5  justify-content-center flex-wrap align-content-start vh-100  w-100">
                        <div class="d-flex justify-content-center flex-wrap align-content-center w-100 "> 
                              <h5 class="text-white text-start-0  w-100" style="font-weight: bold; font-style: italic;">
                                    No hay nada para mostrar en tu galeria
                              </h5>
                      
                              <p class="text-white-50 text-start-0 w-100" style="font-style: italic;"> 
                                    Puedes crear hasta 10 momentos, agregarle hasta 6 imagenes realmente llamativas, GUAU! esto es fantatico, dele vida a tu estudio 🎉 <br> <br>
                              </p>
                              <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                                    {% include "service/components/no-found.html" %}
                              </div>
                        </div>
                  </section>
{% endif %}
      <div class="gallery overflow-auto d-flex flex-wrap  align-content-start">
            {% for moment in moments %}
            <span class="w-100 d-flex mt-4">
                  <!-- Agregar imagen solo si hay maximo de 6 -->
                  {% if moment.img_moments.all|length < 6 %}
                  <span id="{{moment.id}}"  onclick="OpenFile(this.id)" class=" mb-2 end-0  open-img"style="cursor: pointer;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-node-plus-fill text-white" viewBox="0 0 16 16">
                              <path d="M11 13a5 5 0 1 0-4.975-5.5H4A1.5 1.5 0 0 0 2.5 6h-1A1.5 1.5 0 0 0 0 7.5v1A1.5 1.5 0 0 0 1.5 10h1A1.5 1.5 0 0 0 4 8.5h2.025A5 5 0 0 0 11 13m.5-7.5v2h2a.5.5 0 0 1 0 1h-2v2a.5.5 0 0 1-1 0v-2h-2a.5.5 0 0 1 0-1h2v-2a.5.5 0 0 1 1 0"/>
                            </svg>
                  </span> 
                  {% endif %}
                  {% if moment.img %}
                  <img src="{{moment.img.url}}" loading="lazy" class="rounded-circle object-fit-cover" 
                  style='width: 40px; height: 40px; border: solid #3a3a39 4px;'>
                  {% endif %}
                  <a href="{% url "estudios:moment-update" moment.id %}">
                        <h6 style="margin-top: 20px !important;" class=" text-white">
                              {{moment.name}} 
                        </h6>
                  </a>
                  </span>

                  {% for m in moment.img_moments.all %}
                        <div id='div{{m.id}}'  class="col-12   col-md-6 col-lg-3 mb-4 gallery-item position-relative p-0" style=' width: 420px;'>
                              <!-- Eliminar imagen -->
                              <form action="" method="post" class='m-0 p-0'>
                                    {% csrf_token %}
                                    <img  src="{{m.img.url}}" class='w-100 object-fit-cover'
                                    style=" transition-delay: 0.{{ forloop.counter }}s;">
                                    <input type="number" name='delete' value="{{m.id}}" class="d-none w-100">   
                                    <button id='{m.id}' type="submit" class="btn  bg-black p-0 d-flex justify-content-center align-content-center flex-wrap position-absolute top-0 end-0  rounded-circle text-white-50" 
                                    style='width: 40px; height: 40px;'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                          <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                    </button>   
                              </form>
                        </div>

             

                  <script>
                        document.querySelectorAll('button[type="submit"]').forEach(button => {
                              button.addEventListener('click', function(event) {
                                    event.preventDefault();
                                    let id = this.id;
                                    let div = document.getElementById('div' + id);
                                    if (div) {
                                          div.classList.add('d-none');
                                    }
                                    this.closest('form').submit();
                              });
                        });
                  </script>
                  {% endfor %}
            {% endfor %}
      </div>

      <!-- Crear  nueva imagen a categoria selecionada -->
      <form action="" method="post" class="d-none" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="img" id="img" accept="image/*">
            <input type="text"  name="id" id="id">
            <button type="submit" class="btn-submit">Enviar</button>
      </form>

      <script>
            // Script para abrir el input file 
            document.getElementById('img').addEventListener('change', function() {
                  document.querySelector('.btn-submit').click();
            });
            
            // Funcion para abrir el input file 
            let  OpenFile = (id) => {     
                  document.querySelector('#id').value = id;
                  document.querySelector('#img').click();
            };
            
      </script>

{% endblock  %}