{% extends "base/base.html" %}
{% block content %}
{% load humanize %}
      <section class=" vh-100 w-100 overflow-auto rounded-5 ">
            <style>
                  .gallery-item {
                        display: grid; grid-template-columns: repeat(4, 1fr);
                        gap: 10px;
                        padding: 0.3rem !important;
                  }
                  .gallery-item img {
                        width: 100%;
                        border-radius: 2.4rem;
                        transition: 0.5s;
                  }
                  .gallery-item:hover {
                        cursor: pointer;
                  }
                  .galley-a {
                  color: #ffc107;
                  font-weight: bolder;
      
            }
            .section-escritorio-nav .galley-a  {
                        color: #ffc107 !important;
                  }
                  .section-escritorio-nav .galley-a span {
                        color: #ffc107;
                  }
                  .btn-atras
                  {
                        display: none;
                  }
      
                  @media (max-width: 600px) {
                  .gallery {
                        justify-content: center;
                  } 
                  .gallery-item {
                        display: grid; grid-template-columns: repeat(2, 1fr);
                        gap: 10px;
                  }
                  .gallery-item img {
                        width: 100%;
                        border-radius: 1.7rem !important;
                        transition: 0.5s;
                  }
            }
      
            </style>
                    <div class="div-top d-flex text-white position-sticky top-0 z-2 blur-20 p-1 p-2 w-100 ">
                        <div class="me-3 ms-2 d-flex flex-wrap align-content-center">
                              <i class="fi fi-sr-gallery  d-flex flex-wrap p-3 rounded-circle" 
                              style="font-size: 30px; background-color: #19191983;"></i>
                        </div>
                        <div class="d-flex flex-wrap align-content-center">
                              <h5 class="m-0 mt-3">
                                    Galeria de momentos
                              </h5>
                              <p class="w-100" style="font-size: 14px;">
                                    Gestiona imagenes y momentos especiales  
                              </p>
                        </div>
                        <!-- <a href="{% url "estudios:moment-create" %}" class="z-2 position-absolute top-0 end-0 mt-2 me-2">
                              <i class="fi fi-sr-multiple" 
                              style="font-size: 20px; background-color: #3a3a39;"></i> 
                        </a> -->
                  </div>
      

      
            <!-- Gallery -->
            {% if not moments %}
                        <section 
                              class="text-white d-flex   justify-content-center flex-wrap align-content-start vh-100  ">
                              <div class="d-flex justify-content-center flex-wrap align-content-center w-100 "> 
                                    <h5 class="text-white text-start-0  w-100" style="font-weight: bold; font-style: italic;">
                                          No hay nada para mostrar en tu galeria
                                    </h5>
                                    <p class="text-white-50 text-start-0 w-100" style="font-style: italic;"> 
                                          Puedes crear hasta 10 momentos, agregarle hasta 6 imagenes realmente llamativas, GUAU! esto es fantatico, dele vida a tu estudio 🎉 <br> <br>
                                    </p>
                                    <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                                          {% include "service/components/no-found.html" %}
                                    </div>
                              </div>
                        </section>
            {% endif %}
            <div data-aos="fade-in" 
                  style="transition: 1s !important;"
                   class="gallery overflow-auto d-flex flex-wrap  align-content-start p-2  ">
                  {% for moment in moments %}
                        <div id='div{{m.id}}'  class=" w-100  mb-1 gallery-item position-relative p-0" >
                                   {% for m in moment.img_moments.all %}
                                    <img  
                                    src="{{m.img.url}}" 
                                    class='w-100 object-fit-cover'
                                    style=" transition-delay: 0.{{ forloop.counter }}s;">
                                    {% endfor %}
                        </div>
                        <span class="w-100 d-flex  mb-5">
                              {% if moment.img %}
                                    <img src="{{moment.img.url}}" loading="lazy" class="rounded-circle mt-1 object-fit-cover" 
                                    style='width: 50px; height: 50px; border: solid #3a3a39 2px;'>
                              {% endif %}
                              <a href="{% url 'estudios:moment-update' moment.id %}" 
                                    class="ms-2">
                                    <h6 style="margin-top: 10px !important;" class="m-0 bold  text-uppercase text-white ">
                                          {{moment.name}} 
                                    </h6>
                                    <span class="w-100 text-white-50" 
                                    style="font-size: 14px;">
                                          {{ moment.date }}
                                   </span>
                              </a>
                        </span>
                  {% endfor %}
            </div>

      </section>

{% endblock  %}