<style>
      .cart-p {
            width: 300px;
            height: 60px;
            margin: 0.4rem;
            border: 0px solid;
            border-radius: 2rem !important;
            background-color: #191919 !important;
            display: flex; 
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
      }
      .cart-p:hover {

            transition: 0.5s;
            color: #ffc107 !important;
      }
      .cart-p .bi {
            font-size: 20px;
            margin-right: 1rem;
      }
      .cart-p span {
            display: flex; 
            flex-wrap: wrap;
            justify-content: center;
            align-content: center;
      }
      
</style>

<a href="{% url "estudios:empleados" %}" 
style='font-size:16px !important; font-weight: bold;'
class="bg-white bg-opacity-10 cart-p ">
      <i class="bi bi-person-lines-fill"></i>
      <span>
            Usuarios y permisos                       
      </span>
</a>
<a href="{% url "estudios:empleados" %}" 
style='font-size:16px !important; font-weight: bold;'
class="bg-white bg-opacity-10 cart-p ">   
      <i class="bi bi-cloud-arrow-up-fill"></i>
      <span>
            Respaldo y restauracion     
      </span>
</a>
<a href="{% url "estudios:empleados" %}" 
style='font-size:16px !important; font-weight: bold;'
class="bg-white bg-opacity-10 cart-p ">
      <i class="bi bi-lock-fill"></i>
      <span>
            Control de acceso         
      </span>
</a>