{% extends "base/base.html" %}
{% block content %}
  
<section class="vh-100  w-100 m-1">
      <div class="div-top d-flex text-white position-sticky top-0 z-2 blur-20 p-1  w-100 ">
            <div class="me-3 ms-2 d-flex flex-wrap align-content-center">
                  <i class="fi fi-sr-gallery  d-flex flex-wrap p-3 rounded-circle" 
                  style="font-size: 30px; background-color: #19191983;"></i>
            </div>
            <div class="d-flex flex-wrap align-content-center">
                  <h5 class="m-0 mt-3">
                        Citas
                  </h5>
                  <p class="w-100" style="font-size: 14px;">
                        Revisa el historial, identifica las horas de mayor demanda y ajusta la disponibilidad para maximizar la eficiencia
                  </p>
            </div>
      </div>
      <div class="text-white p-5 w-100 rounded-5 mt-4" 
            style="background-color: #171717;">
            <h4>
                 🧑🏻‍💻 Proximante
            </h4>
            <p>
                  “Esta sección se encuentra en desarrollo. Pronto podrás acceder a nuevas métricas, reportes y herramientas para mejorar tu gestión”
            </p>
      </div>
</section>



{% endblock  %}