{% extends "base/base.html" %}
{% block content %}
      {% load humanize %}
      <section class="d-flex flex-wrap">
            <div class="div-top d-flex blur-5 mb-2  ">
                  <div class="me-3">
                        <i class="fi fi-sr-info d-flex flex-wrap p-3 rounded-circle" style="font-size: 50px; background-color: #19191900;"></i>
                  </div>
                  <div class="d-flex flex-wrap align-content-center">
                        <h6 class="m-0 mt-3">
                              información de cuenta
                        </h6>
                        <p class="w-100">
                              Consulta y actualiza la información de tu cuenta personal. <a class="text-decoration-none" href="/administracion-finanza"><strong>Ver más</strong></a>
                        </p>
                  </div>
            </div>
            {% include "accounts/accounts/cp/form.html" %}
      </section>
{% endblock %}