{% extends "base/base.html" %}
{% block content %}
      <style>
      
            .nav .admin {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .inputs input, select
            {
                  background-color: rgba(255, 255, 255, 0.097);
                  border: none;
                  margin: 0.2rem;

            }
      </style>

      <section class="text-white d-flex flex-wrap justify-content-center align-content-center w-100">
            {% if facturacion %}
            <div data-aos="fade-in" class="d-flex   w-100  p-4  align-content-start overflow-hidden" style="
            transition-duration: 2s;
            height:33rem; max-width: 55rem; border-radius: 3rem;
            background-image: linear-gradient(to right, #24242457 0%, #24242457 100%);
            " >
                 
                  <div class='d-flex flex-wrap w-100 align-content-start'>
                        <div class="w-100">
                              <div class="d-flex mb-5">
                                    {% if facturacion.img %}
                                    <img src="{{facturacion.img.url}}" 
                                    style='max-width: 7rem; min-width: 7rem; min-height: 7rem; max-height: 7rem; object-fit: cover; filter: brightness(60%);' class='rounded-circle' alt="">
                                      {% endif %}
                                      <div class='text-white-50 pb-3 mt-4 w-100 '>
                                          <h2 class='m-0 p-0' style="font-style: italic;">
                                                Suscripcion activa
                                          </h2>
      
                                          Inicio:   {{facturacion.last_payment_date|date:"d/F/Y"}} -
                                          Expira: {{facturacion.next_payment_date|date:"d/F/Y"}} <br>

      
                                    </div>
                              </div>
                              <strong class='text-white-50 '>
                                    
                              </strong>
                              <div class="w-100 text-white-50  pb-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill mb-1" viewBox="0 0 16 16">
                                          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                        </svg>  {{facturacion.description}} 
                              </div>
                              <strong class='text-white-50'>
                                    <span class="text-warning" >
                                    Membrasia 
                                          premium </span>
                              </strong>
                              <div class="w-100 text-white-50 ">
                                    <ul>
                                          <li>Acceso ilimitado</li>
                                          <li>Soporte 24/7</li>
                                          <li>Actualizaciones quincenales</li>
                                          <li>Descuentos exclusivos en eventos</li>
                                          <li> Soporte para IA </li>
                                          <li> Mas de 3 usuarios, activos</li>
                                    </ul>
                              </div>
                        </div >
                  </div>
            </div>
            {% endif %}
      </section>



{% endblock  %}