{% extends "base/base.html" %}
{% block content %}
{% load humanize %}
      <style>
            .nav .admin {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            td
            {
                  color: rgba(255, 255, 255, 0.772);
            }
      </style>

      <div class="d-flex flex-wrap pt-2 justify-content-center align-content-start vh-100 w-100">
            

      <table class="w-100  text-white">

            <thead>
                  <tr>
                        <th scope="col">Estudio</th>
                        <th scope="col">Pago realizado</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Comprobante</th>

                      
                  </tr>
            </thead>
            <tbody>
                  {% for factura in facturaciones %}
                  <tr>
                        <td>{{ factura.estudio }}</td>
                        <td>{{ factura.last_payment_date }}</td>
                        <td>${{ factura.mount|intcomma }}.00</td>
                        <td>{{ factura.description|truncatechars:50 }}</td>
                        <td>
                              {% if factura.img %}
                              <img src="{{ factura.img.url }}" alt="Factura Imagen" style="width: 60px; height: 60px;" class="object-fit-cover rounded-circle">
                              {% else %}
                              No Imagen
                              {% endif %}
                        </td>

                  </tr>
                  {% endfor %}
            </tbody>
      </table>
      </div>

{% endblock  %}