<style>
      .btn-open-nav {
            display: none;
            width: 100%;  
            align-content: center; 
            /* flex-wrap: wrap; justify-content: center; */
      }
      .btn-open-nav button {
            display: flex; flex-wrap: wrap; justify-content: center;

            background-color: transparent;
            color: rgba(255, 255, 255, 0.921);
            border: 0px;
            margin: 0;
            padding: 0;
      }
      .btn-open-nav button span {
            width: 100%;
            font-size: 10px;
            text-align: center;
            color: #dddddd;
            /* display: none; */
      }
      .btn-open-nav button i {
            /* margin-top: 0.4rem; */
            font-size:30px;
            /* width: 32px !important;
            height: 32px; */
            color: #dddddd ;
            /* background-color: aliceblue; */
            display: flex; flex-wrap: wrap; align-content: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            margin-bottom: 0.2rem;
      }

      @media (min-width: 600px) {
            .list-btn-mobile {
                  display: none  !important;
            }
            .div-filter-reservers {
                  min-width: 20rem !important;
            }
      }
    

</style>
<div  class="position-fixed btn-open-nav bottom-0 d-none d-flex flex-wrap    w-100  end-0  text-black  justify-content-center">
      <section class="blur-100  w-100 ms-4 me-4    m-0 m-1"
            style="border-radius: 3rem; background-color: #10101087;
            border: 1px solid rgba(255, 255, 255, 0.144); max-width: 85vw;">      

            <section class="w-100 p-2"
                  style="display: grid; grid-template-columns: repeat(4, 1fr); 
                  ">
                  <button class="button btn-dashboard" 
                        onclick="window.location.href = '{% url "estudios:dashboard" %}'">
                        <i class="fi fi-sr-house-blank"></i>
                        <span>
                              Dashboard
                        </span>
                  </button>
                  <button class="button btn-pos" onclick="window.location.href = '{% url "estudios:pos" %}'">
                        <i class="fi fi-sr-point-of-sale-bill"></i>
                        <span>POS </span>
                  </button>
                  <button class="button btn-caja " onclick="window.location.href = '{% url "estudios:box" %}'">
                        <i class="fi fi-sr-coins"></i>
                        <span>Caja</span>
                  </button>
                  <button onclick="OpenNav()" class="button">
                        <i class="fi fi-sr-bars-staggered"></i>
                        <span>Opciones</span>
                  </button>
            </section>

      </section>
</div>

