{% extends "base/base.html" %}
{% block content %}
{% load humanize %}
      <style>
            .nav .plans {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .nav .plans svg {
                  color: #ffc107 !important;
            }
            .nav .plans span {
                  color: #ffc107;
            }
            .btn-atras
            {
                  display: none;
            }
            .bi-x-circle-fill:hover
            {
                  color: #ff5f5fd3 !important;
                    transition: color 0.3s ease-out, transform 0.3s ease-out;
                    transform-origin: center;
            }

            .moptions ul {
                  list-style-type: none;
                  padding: 0;
                  margin: 0;
            }

            .moptions ul li {
                  color: white;
                  font-size: 14px;
                  padding: 5px 0;
                  background-color: rgb(37, 37, 37);
                  margin-top: 0.2rem;
                  padding: 0.7rem;
                  border-radius: 1rem;
                  font-weight: bold;
                  cursor: pointer;
            }
            .moptions ul li:hover {
                  color: #ffc107;
                  font-weight: bold;
                  background-color: rgb(20, 20, 20);
            }
            .moptions ul li svg {
                  margin-right: 0.7rem;
            }

            .rotate-90 {
                    transform: rotate(90deg);
                    transition: transform 0.3s ease-out;
            }
            
      </style>

      <section class='w-100 pt-3 overflow-auto  w-100'>

            {% for service in services %}

            <div style='width: 19rem;' class='text-white-50 mt-3'>
                  <a href="{% url "estudios:service" %}" class='text-white-50'>
                        <h6>
                              {% if service.img %} <img src="{{service.img.url}}" width='40' height='40' class='rounded-circle object-fit-cover'  alt="">{% endif %}  {{service.name}}
                        </h6>
                  </a>
                  {% if service.planes.all %}
                  {% else %}
                  <p class='m-0 ms-5 text-white-50 bg-white bg-opacity-10 p-3 rounded-4' style='font-size:12px;'>
                        No tienes planes asociados a este servicio
                  </p>
                  {% endif %}
            </div>

            <section class=" d-flex overflow-auto ms-0 w-100 ">
                  {% for p in  service.planes.all %}
                        <div  class='p-0 d-flex position-relative overflow-hidden m-2 text-white' style='
                        background-size: cover; background-repeat: no-repeat; 
                  min-width: 320px; height: 430px; border-radius: 2.6rem;
                        {% if p.img_back %}
                              background-image: url("{{p.img_back.url}}"); 
                        {% endif %}'>
                        {% include "plan/cp/options.html" %}
                              <div style='
                                    -webkit-backdrop-filter: blur(80px) !important;
                                    backdrop-filter: blur(80px) !important;' class='h-100 w-100 bg-black bg-opacity-50 m-0 p-3 pt-2'>
                                    <div class=" m-0 " style="">
                                          {% if p.img %}
                                                <img src="{{p.img.url}}" alt="No se puede cargar la imagen" 
                                                      style="width: 95px; height: 95px; border-radius: 2rem;
                                                      border: 4px solid #00000069;" class="rounded-circle object-fit-cover  me-3">
                                          {% endif %}
                                          <span>
                                                <strong class="text-white  p-3 ps-3 pe-3 rounded-5" style="font-size: 13px;">
                                                      <!-- {% if p.price %}
                                                            ${{p.price|intcomma}}.00
                                                      {% endif %} -->
                                                </strong>
                                          </span>
                                    </div>
                                    <h5 class='m-0 p-0 mt-4' style="font-weight: bold; font-style: italic;">
                                          {{ p.name|truncatechars:31 }}
                                    </h5>
                                    {% if p.price %}
                                          ${{p.price|intcomma}}.00 
                                    {% endif %}
                                    <span class="d-flex mt-3">
                                          {% if p.likes %}
                                                {% for i in p.likes.all %}
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill ms-1 me-1 text-warning" viewBox="0 0 16 16">
                                                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                                      </svg>
                                                {% endfor %}
                                          {% endif %}
                                    </span>
                                    <div style='height: 10.2rem;' class='overflow-auto '>   
                                          {% if p.caracteristicas.all %}
                                                {% for p in  p.caracteristicas.all %}
                                                      <li class="" style="font-size: 14px; list-style:circle;">
                                                            {{p.name|truncatechars:32}} 
                                                      </li>
                                                {% endfor %}
                                          {% endif %}
                                    </div>
                  
                                    <!-- Butones de elcciones-->
                                    <div class="d-flex justify-content-start flex-wrap">
                                          
                                          <button onclick="toggleOptions(this.id)" id="{{p.id}}" class='start-0  text-white btn-optione{{p.id}} text-decoration-none bg-white bg-opacity-10 p-2  border-1 rounded-5' style="font-size: 12px ; font-weight: bold; width: 36px; height: 36px; border: 1px solid rgb(63, 63, 63) !important; margin-top: 0.8rem;">
                                                <span>
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots text-white-50" viewBox="0 0 16 16">
                                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                                      </svg>
                                                </span>
                                          </button> 
                                    </div>
                              </div>
                        </div>
      
                  {% endfor %}
            </section>

      {% endfor %}
      </section>
 
            <div data-aos="zoom-in" style="transition-delay: 0.3s; max-height: 2rem;" class='position-absolute top-0  end-0  ' >
            <a href="{% url "estudios:plan-create" %}">
                  <button class="bg-white bg-opacity-10 d-flex justify-content-center flex-wrap align-content-center rounded-5  text-white border-0 rounded-3 p-2 me-1 mt-1" style='font-weight: bold;'>
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="m-0 bi bi-plus-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                            </svg> 
                  </button>
            </a>
      </div>  
      <!-- <section data-aos='fade-in'   class=' overflow-auto d-none w-100'>
  

                  <div style='transition-duration: 1s;' class="d-flex flex-wrap justify-content-start w-100 align-content-start  ">
                        {% if plans %}
                              {% for p in  plans %}
                              <div style='width: 270px;' class=" position-relative m-1">
                                    
                                    {% include "plan/cp/options.html" %}
                                    <div style="
                                                {% if p.img %}
                                                      background-image: url('{{p.img.url}}');
                                                      background-size: cover; 
                                                      background-repeat: no-repeat;
                                                {% endif %}
                                                width: 100%; filter: brightness(90%);
                                                 height: 460px; border-radius: 2rem;">
                                    </div>
                                    <div class='d-flex'>
                                          <button onclick="toggleOptions(this.id)" id="{{p.id}}" class='start-0  text-white btn-optione{{p.id}} text-decoration-none bg-white bg-opacity-10 p-2  border-1 rounded-5' style="font-size: 12px ; font-weight: bold; width: 36px; height: 36px; border: 1px solid rgb(63, 63, 63) !important; margin-top: 0.8rem;">
                                                <span>
                                                      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots text-white-50" viewBox="0 0 16 16">
                                                            <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                                          </svg>
                                                </span>
                                          </button> 
                                          <div>
                                                <h5 style='font-size: 18px; font-weight: bold; ' class='text-white-50 p-0 m-0  ms-2 '>
                                                      {{p.name}}
                                                </h5>
                                                <span class="text-white-50 ms-2 " style="font-size: 14px;">
                                                      ${{p.price|intcomma}}.00
                                                </span> 
                                          </div>
                                    </div>
                                          
                                    </div>
                                    {% endfor %}

                        {% else %}
                        <section class="text-white d-flex justify-content-center flex-wrap align-content-start vh-100  w-100">
                              <div class="d-flex mb-0 justify-content-center flex-wrap align-content-center w-100 "> 
                                    <h5 class="text-white text-start-0  w-100" style="font-weight: bold; font-style: italic;">
                                          No hay planes disponibles
                                    </h5>
                                    <p class="text-white-50 text-start-0 p-0 m-0 w-100" style=" font-style: italic; font-size: 16px;"> 
                                          Crea planes llamativos para tus clientes, y ofreceles un servicio de calidad y atractivo.
                                    </p>
                                    <div data-aos='zoom-in' style=' transition-delay: 0.9s; transition-duration:2s !important;' class='w-100 mt-5 pt-5 d-flex justify-content-center'> 
                                          {% include "service/components/no-found.html" %}
                                    </div>
                              </div>
                        </section>
                        {% endif %}
                  </div>
      </section> -->

      <script>
            function toggleOptions(id) {
                  let options = document.getElementById('options' + id);
                  if (options.classList.contains('d-none')) {
                        options.classList.remove('d-none');
                        options.classList.add('fade-down')
                  } else {
                        options.classList.add('d-none');
                  }
                  document.querySelectorAll('.btn-optione' + id ).forEach(function(element) {
                        element.classList.toggle('rotate-90');
                  });
            }

            document.addEventListener('contextmenu', function(event) {
                  event.preventDefault();

            });

      </script>
{% endblock  %}
