{% extends "base/base.html" %}
{% block content %}
      <style>
            #id_img {
                  display: none; 
            }
            .circle {
                        border-radius: 2.5rem;
                        background-color:rgb(89, 89, 89);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center;
                        transition: 0.2s !important;
            }
            .nav .plans {
                  color: #ffc107 !important;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras
            {
                  display: none;
            }
            input, select
            {
                  background-color: #2d2d2d !important;
                  border-radius: 2rem !important; border: none !important;
                  color: white !important; 
                  height: 2.9rem !important; width: 100% !important;
            }
      </style>
      <section class="d-flex justify-content-center w-100 vh-100 align-content-center flex-wrap">
            
            <div data-aos="fade-left" class=" d-flex">
                  <div id="circle" class="circle " style='background-image: url(object.img.url);
                  width: 420px; height: 247px ;' onclick="document.getElementById('id_img').click()">
                        <span class="blur-50 text-white p-3 rounded-4" style="font-weight: bold;">
                              Cargar img
                        </span>
                  </div>
                  <form action="" method="post"  enctype="multipart/form-data">
                        <div class="text-white">
                              <h6 class="m-0">
                                    Creeando un nuevo plan
                              </h6>
                              <p style="font-size: 12px;" class="m-0 text-white-50">
                                    Crea un plan para tu estudio, con el que podras ofrecer tus servicios a tus clientes
                              </p>
                        </div>
                        {% csrf_token %}
                        <div>
                              {{form.service}}
                        </div>
                        <div class="d-flex">  
                              {{form.name}} -
                              {{form.price}}
                        </div>
                        <div>
                              {{form.img}}
                        </div>
                        <div class="d-flex w-100 justify-content-end pe-4">
                              <a href="{% url "estudios:plan" %}" class="btn text-white"> 
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                          <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                        </svg> </a>
                              
                              <button style="font-weight: bold; width: 8rem;" class="btn btn-primary bg-white bg-opacity-10 border-0  rounded-5 " >
                                    Crear 
                              </button>
                        </div>
                  </form>
            </div>

      </section>
      <script>
              document.getElementById('id_img').addEventListener('change', function(event) {
                        const file = event.target.files[0];
                        if (file) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                          document.getElementById('circle').style.backgroundImage = `url(${e.target.result})`;
                                }
                                reader.readAsDataURL(file);
                        }
              });
      </script>
{% endblock  %}