{% extends "base/base.html" %}
{% block content %}
      <style>
            .nav .plans {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
      </style>

      <div data-aos='fade-in' class="d-flex justify-content-center align-items-center w-100 h-100">
            <form method="post">
                  {% csrf_token %}
                  <div class="card-img-top rounded-circle " style="
                  background-position: center;
                  {% if object.img %}
                        background-image: url('{{object.img.url}}');
                  {% endif %}
                  background-size: cover; background-repeat: no-repeat; 
                  filter: brightness(80%);
                  
                  height: 100px; width: 100px; border-radius: 3rem;">
            </div>
                  <h5 class='text-white'>¿Estás seguro de que deseas eliminar {{object.name}}?</h5>
                  <div class="">
                        {% if object.caracteristicas.all %}
                        <div style='height: 5.7rem;' class='overflow-auto  pt-2 mb-2 text-white'>   
                                    <span>
                                          Se eliminarán las siguientes caracteristicas asociadas al este plan
                                    </span>
                                     {% for p in  object.caracteristicas.all %}
                                        <li class="text-white-50" style="font-size: 14px; list-style:circle;">
                                                {{p.name|truncatechars:32}} 
                                        </li>
                                     {% endfor %}
                                    </div>
                        {% endif %}
                  </div>
              
                  <div class="d-flex justify-content-end">
                        <a href="{% url "estudios:plan" %}" class="btn border-0 btn-secondary accordion bg-transparent" style="font-weight: bold;"> Cancelar</a>
                        <button type="submit" class="btn btn-danger p-0 pe-3 ps-3 border-0 rounded-5 ms-1"
                        style="font-size: 14px; font-weight: bold;">
                          Si, estoy seguro
                        </button>
                  </div>
            </form>      
      </div>

      
{% endblock %}