{% extends "base/base.html" %}
{% block content %}
      <style>
            #id_img {
                  display: none; 
            }
            .circle {
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        background-color:rgb(89, 89, 89);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        background-size: cover;
                        background-position: center;
            }
            .nav .plans {
                  color: #ffc107 !important;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras
            {
                  display: none;
            }
            input, select
            {
                  background-color: #2d2d2d !important;
                  border-radius: 2rem !important; border: none !important;
                  color: white !important; 
                  height: 2.9rem !important; width: 100% !important;
            }
      </style>
      <section class="d-flex justify-content-center w-100 vh-100 align-content-center flex-wrap">
            
            <div data-aos="fade-left" class=" d-flex">
                  <div id="circle" class="circle" style='background-image: url({{object.img.url}});' onclick="document.getElementById('id_img').click()">
                        Cargar img
                  </div>
                  <form action="" method="post"  enctype="multipart/form-data">
                        {% csrf_token %}
                        <div>
                              {{form.service}}
                        </div>
                        <div class="d-flex">  
                              {{form.name}} -
                              {{form.price}}
                        </div>
                        <div>
                              {{form.img}}
                        </div>
                        <div class="d-flex w-100 justify-content-end pe-4">
                              <a href="{% url "estudios:plan" %}" class="btn text-white"> Atras </a>
                              
                              <button style="font-weight: bold;" class="btn btn-primary rounded-5">
                                    Actualizar 
                              </button>
                        </div>
                  </form>
            </div>

      </section>
      <script>
              document.getElementById('id_img').addEventListener('change', function(event) {
                        const file = event.target.files[0];
                        if (file) {
                                const reader = new FileReader();
                                reader.onload = function(e) {
                                          document.getElementById('circle').style.backgroundImage = `url(${e.target.result})`;
                                }
                                reader.readAsDataURL(file);
                        }
              });
      </script>
{% endblock  %}