{% extends "base/base.html" %}
{% block content %}
      <style>
            .nav .plans {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
            .btn-atras
            {
                  display: none;
            }
            input {
                  background-color: #2d2d2d !important;
                  border-radius: 2rem !important; border: none !important;
                  color: white !important;
                  height: 2.9rem !important; width: 100% !important;
            }
            input::placeholder {
                  color: white !important;
            }
      </style>
      <section class='d-flex justify-content-center flex-wrap align-content-center  w-100'>
            <div class="w-25 justify-content-end d-flex">
                  {% include "plan/plan-select.html" %}
            </div>
            <div class="w-25 text-white">

                        <h6>
                              Caracteristicas
                        </h6>
                        <p style="font-size: 14px;" class="text-white-50">
                              Las caracteristicas son los elementos que componen un plan, por ejemplo, si un plan es de 10 dolares, una caracteristica podria ser "10 fotografias" o "10 minutos de video".
                        </p>

                  <div class="w-100 overflow-auto" style="height: 12rem;">
                        <table class=" bg-transparent text-white w-100 ">
                              <thead>
                                    <tr>
                                          <th scope="col" style='width: 20%;'>#</th>
                                          <th scope="col" style='width: 80%;'>Nombre de caracteristica</th>
                                          <th scope="col" style='width: 20%;'>Accion</th>
                                    </tr>
                              </thead>
                              <tbody>

                                    {% for c in caracteristicas %}
                                    <tr>
                                          <th scope="row">{{ forloop.counter }}</th>
                                          <td>{{ c.name }}</td>
                                          <td>
                                                <form action="" method="post">
                                                      {% csrf_token %}
                                                      <input type="hidden" name="delete" value='{{c.id}}'
                                                            style='width: 20rem; border-radius: 2rem;'>
                                                      <button class='bg-transparent border-0 text-white-50' style='font-size: 14px; font-weight: bold;'>
                                                             Remover
                                                      </button>
                                                </form>
                                          </td>
                                    </tr>
                                    {% endfor %}
                              </tbody>
                        </table>
                  </div>
           
                  <form action="" method="post" class="w-100">
                        {% csrf_token %}
                              <input type="text" name="name" placeholder='Nombre' class='form-control w-100' id="add">
                              
                                  <div class="d-flex w-100 justify-content-center">
                                    <a href="{% url 'estudios:plan' %}" class='mt-2 border-0 text-white w-25 btn btn-primary bg-transparent rounded-5' style='font-weight: bold;'>
                                          Atras
                                    </a>
                                    <button type="submit" class='mt-2 border-0 text-black w-75 btn btn-primary bg-warning rounded-5 me-3'
                                    style='font-weight: bold;'> 
                                          Agregar 
                                    </button>
                                  </div>
                              
                  </form>
            </div>
      </section>
<script>
      document.getElementById('add').focus();
</script>
{% endblock %}