{% load humanize %}
{% for p in  plans %}
      <a href="{% url "estudios:plan-update" p.id %}">
            <div class='p-0 d-flex overflow-hidden' style='
            {% if p.img_back %}
                  background-image: url("{{p.img_back.url}}"); 
            {% endif %}

            background-size: cover; background-repeat: no-repeat; width: 320px; height: 360px; border-radius: 2.6rem;'>
                  <div style='
                        -webkit-backdrop-filter: blur(40px) !important;
                        backdrop-filter: blur(40px) !important;' class='h-100 w-100 bg-black bg-opacity-50 m-0 p-2'>
                        <div class=" m-0" style="">
                              {% if p.img %}
                                    <img src="{{p.img.url}}" alt="No se puede cargar la imagen" 
                                          style="width: 95px; height: 95px; border-radius: 2rem;
                                          border: 8px solid #000;" class="rounded-circle">
                              {% endif %}
                              <span>
                                    <strong class="text-white bg-black bg-opacity-50 p-2 pe-3 ps-3 rounded-5">
                                          {% if p.price %}
                                                ${{p.price|intcomma}}.00
                                          {% endif %}
                                    </strong>
                              </span>
                        </div>
                        <h5 class='mt-4' style="font-weight: bold; font-style: italic;">{{p.name}}</h5>
      
                        <div style='height: 7.6rem;' class='overflow-auto'>
                                {% if p.caracteristicas.all %}
                                       {% for p in  p.caracteristicas.all %}
                                          <li class="list-group-item" style="font-size: 14px;">
                                                  {{p.name}}
                                          </li>
                                       {% endfor %}
                              {% endif %}
                        </div>
      
                        <!-- Butones de elcciones-->
                         <div class="d-flex justify-content-center">
                              <a href="{% url "estudios:plan-update" p.id %}" 
                                    class="btn btn-primary bg-transparent  border-0 me-4" 
                                    style="font-size: 14px; font-weight: bold ; ">
                                    Comprar ahora
                              </a>
                              <a href="{% url "estudios:plan-delete" p.id %}" 
                                    class="btn btn-danger p-2 ps-3 pe-3 bg-warning text-black rounded-5 border-0" style='font-weight: bold;'>
                                 
           
                                    Agendar
                              </a>
                         </div>
                  </div>
            </div>
      </a>
{% endfor %}