{% load humanize %}


            <div class='p-0 d-flex overflow-hidden' style='
            {% if plan.img_back %}
                  background-image: url("{{plan.img_back.url}}"); 
            {% endif %}

            background-size: cover; background-repeat: no-repeat; width: 320px; height: 430px; border-radius: 2.6rem;'>
                  <div style='
                        -webkit-backdrop-filter: blur(40px) !important;
                        backdrop-filter: blur(40px) !important;' class='h-100 w-100 bg-black bg-opacity-50 m-0 p-3 pt-2 text-white'>
                        <div class=" m-0 " >
                              {% if plan.img %}
                                    <img src="{{plan.img.url}}" alt="No se puede cargar la imagen" 
                                          style="width: 95px; height: 95px; border-radius: 2rem;
                                          border: 8px solid #000;" class="rounded-circle me-3">
                              {% endif %}
                              <span>
                                    <strong class="text-white  p-3 ps-3 pe-3 rounded-5" style="font-size: 13px;">
                                          <!-- {% if p.price %}
                                                ${{p.price|intcomma}}.00
                                          {% endif %} -->
                                    </strong>
                              </span>
                        </div>
                        <h5 class='m-0 p-0 mt-4' style="font-weight: bold; font-style: italic;">
                                {{ plan.name|truncatechars:31 }}
                        </h5>
                        {% if plan.price %}
                               ${{plan.price|intcomma}}.00
                        {% endif %}
                        <span class="d-flex mt-3 text-white-50">
                              {% if plan.likes %}
                                    {% for i in plan.likes.all %}
                                          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-star-fill ms-1 me-1 text-warning" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                          </svg>
                                    {% endfor %}
                              {% endif %}
                        </span>
                        <div style='height: 5.7rem;' class='overflow-auto '>   
                                {% if plan.caracteristicas.all %}
                                       {% for p in  plan.caracteristicas.all %}
                                          <li class="" style="font-size: 14px; list-style:circle;">
                                                  {{p.name|truncatechars:32}} 
                                          </li>
                                       {% endfor %}
                              {% endif %}
                        </div>
      
                        <!-- Butones de elcciones-->
                         <div class="d-flex justify-content-center flex-wrap">

                         </div>
                  </div>
            </div>
      <