{% extends "base/base.html" %}
{% block content %}
      <style>
            .nav .plans {
                  color: #ffc107;
                  font-weight: bolder;
                  transform: scale(1.1);
            }
      </style>
 
      <section class=''>
  
                  <div data-aos="fade-left" style="transition-delay: 0.7s; max-height: 2rem;" class='w-100 d-flex justify-content-end' >
                        <a href="{% url "estudios:plan-create" %}">
                              <button class="bg-white bg-opacity-10 rounded-5 p-2 pe-3 ps-3 text-white border-0 rounded-3 p-2 me-4" style='font-weight: bold;'>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                                          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                                        </svg> Plan
                              </button>
                        </a>
                  </div> 
                  <div data-aos='fade-in' style='transition-duration: 1s;' class="d-flex flex-wrap justify-content-center w-100 align-content-start ">
                        {% if plans %}
                              {% for p in  plans %}
                                    <a href="{% url "estudios:plan-update" p.id %}" class="col-12 col-md-6 col-lg-3 mb-4" style=' width: 420px;'>
                                          <div style=''>
                                                <div class="" style="
                                                {% if p.img %}
                                                background-image: url('{{p.img.url}}');
                                                background-size: cover; 
                                                background-repeat: no-repeat;
                                                {% endif %}
                                                width: 100%; filter: brightness(80%);
                                                 height: 220px; border-radius: 3rem;">
                                                </div>
                                                <h5 
                                                style='font-size: 14px; '>{{p.name}}</h5>
                                          </div>
                                    </a>
                              {% endfor %}
                        {% endif %}
                  </div>
      </section>

{% endblock  %}